workflows/99_clean_inactive.json
{
  "updatedAt": "2026-03-06T12:25:30.413Z",
  "createdAt": "2026-03-06T12:17:00.099Z",
  "id": "f8XfKM6wxcwHySTx",
  "name": "99_clean_inactive",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        384,
        -272
      ],
      "id": "25ce5313-9c27-4238-a95b-e4edeee25aa2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, job_url \nFROM job_leads\nWHERE is_active = true \nAND (\n  (published_at > NOW() - INTERVAL '7 days' AND last_checked < NOW() - INTERVAL '2 days')\n  OR \n  (published_at BETWEEN NOW() - INTERVAL '21 days' AND NOW() - INTERVAL '7 days' AND last_checked < NOW() - INTERVAL '4 days')\n  OR\n  (published_at < NOW() - INTERVAL '21 days' AND last_checked < NOW() - INTERVAL '7 days')\n  OR\n  last_checked IS NULL\n)\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -144
      ],
      "id": "5b80d1fc-acf1-4570-aa66-b060642c6174",
      "name": "Get Inactive Rows",
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        -144
      ],
      "id": "07b9e4b7-66bb-4ce3-9130-a8bef516b15f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_active",
              "fieldValue": "false"
            },
            {
              "fieldId": "application_stage",
              "fieldValue": "withdrawn"
            },
            {
              "fieldId": "last_checked",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1952,
        -48
      ],
      "id": "01b30b26-05c7-468e-9e3e-23eb8490cb54",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "qB1TBV7vyX50RGhp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_checked",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1952,
        -240
      ],
      "id": "73a25cbd-b8ad-4774-9a90-8cc320439cb9",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "qB1TBV7vyX50RGhp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2176,
        -80
      ],
      "id": "0bc53246-6f0e-4d2c-9a10-e721945920f6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = ($json.data);\nconst url = $('Loop Over Items').item.json.job_url;\n\nlet isActive = false;\n\nif (url.includes('linkedin.com')) {\n  isActive = html.includes('apply-button');\n}\n\nelse if (url.includes('startupjobs.cz')) {\n  isActive = !html.includes('Nabídce vypršela platnost nebo již není aktuální');\n}\n\nelse {\n  isActive = true;\n}\n\nreturn {\n  id: $('Loop Over Items').item.json.id,\n  is_active: isActive,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        -144
      ],
      "id": "65e993d9-d1c5-49d2-826d-522b03179157",
      "name": "Check isActive"
    },
    {
      "parameters": {
        "url": "={{ $json.job_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -144
      ],
      "id": "70de704e-e99d-4253-8c44-40bb17f6b478",
      "name": "Get Raw HTML",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b46d77b8-e207-4b46-90fb-7678d0498834",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": 404,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        -144
      ],
      "id": "0b0532dc-7bf4-43ac-a42b-d79c460965ad",
      "name": "Is Active?"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_health",
          "mode": "list",
          "cachedResultName": "workflow_health"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "running",
            "workflow_tag": "clean_inactive"
          },
          "matchingColumns": [
            "workflow_tag"
          ],
          "schema": [
            {
              "id": "workflow_tag",
              "displayName": "workflow_tag",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_success_at",
              "displayName": "last_success_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        -144
      ],
      "id": "fd5aae4f-33f8-42f7-a7e9-3addd69232f6",
      "name": "update running status",
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_health",
          "mode": "list",
          "cachedResultName": "workflow_health"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "last_success_at": "={{ $now.toISO() }}",
            "workflow_tag": "clean_inactive"
          },
          "matchingColumns": [
            "workflow_tag"
          ],
          "schema": [
            {
              "id": "workflow_tag",
              "displayName": "workflow_tag",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_success_at",
              "displayName": "last_success_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        -336
      ],
      "id": "53b60322-11a7-4876-b750-3f222d62a16f",
      "name": "update success status",
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        384,
        -80
      ],
      "id": "ea07511b-367b-4a46-ad21-396888e51cb5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "update running status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inactive Rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "update success status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Raw HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check isActive": {
      "main": [
        [
          {
            "node": "Is Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Raw HTML": {
      "main": [
        [
          {
            "node": "Check isActive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Active?": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update running status": {
      "main": [
        [
          {
            "node": "Get Inactive Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "update running status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "052b81d9-ddc0-41af-8973-75010b0a2ded",
  "activeVersionId": "052b81d9-ddc0-41af-8973-75010b0a2ded",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T12:17:00.102Z",
      "createdAt": "2026-03-06T12:17:00.102Z",
      "role": "workflow:owner",
      "workflowId": "f8XfKM6wxcwHySTx",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T12:25:32.000Z",
    "createdAt": "2026-03-06T12:25:30.415Z",
    "versionId": "052b81d9-ddc0-41af-8973-75010b0a2ded",
    "workflowId": "f8XfKM6wxcwHySTx",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9,
                "triggerAtMinute": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          384,
          -272
        ],
        "id": "25ce5313-9c27-4238-a95b-e4edeee25aa2",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, job_url \nFROM job_leads\nWHERE is_active = true \nAND (\n  (published_at > NOW() - INTERVAL '7 days' AND last_checked < NOW() - INTERVAL '2 days')\n  OR \n  (published_at BETWEEN NOW() - INTERVAL '21 days' AND NOW() - INTERVAL '7 days' AND last_checked < NOW() - INTERVAL '4 days')\n  OR\n  (published_at < NOW() - INTERVAL '21 days' AND last_checked < NOW() - INTERVAL '7 days')\n  OR\n  last_checked IS NULL\n)\nLIMIT 100;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          832,
          -144
        ],
        "id": "5b80d1fc-acf1-4570-aa66-b060642c6174",
        "name": "Get Inactive Rows",
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1056,
          -144
        ],
        "id": "07b9e4b7-66bb-4ce3-9130-a8bef516b15f",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "job_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "is_active",
                "fieldValue": "false"
              },
              {
                "fieldId": "application_stage",
                "fieldValue": "withdrawn"
              },
              {
                "fieldId": "last_checked",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1952,
          -48
        ],
        "id": "01b30b26-05c7-468e-9e3e-23eb8490cb54",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "qB1TBV7vyX50RGhp",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "job_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "last_checked",
                "fieldValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1952,
          -240
        ],
        "id": "73a25cbd-b8ad-4774-9a90-8cc320439cb9",
        "name": "Update a row1",
        "credentials": {
          "supabaseApi": {
            "id": "qB1TBV7vyX50RGhp",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2176,
          -80
        ],
        "id": "0bc53246-6f0e-4d2c-9a10-e721945920f6",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const html = ($json.data);\nconst url = $('Loop Over Items').item.json.job_url;\n\nlet isActive = false;\n\nif (url.includes('linkedin.com')) {\n  isActive = html.includes('apply-button');\n}\n\nelse if (url.includes('startupjobs.cz')) {\n  isActive = !html.includes('Nabídce vypršela platnost nebo již není aktuální');\n}\n\nelse {\n  isActive = true;\n}\n\nreturn {\n  id: $('Loop Over Items').item.json.id,\n  is_active: isActive,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          -144
        ],
        "id": "65e993d9-d1c5-49d2-826d-522b03179157",
        "name": "Check isActive"
      },
      {
        "parameters": {
          "url": "={{ $json.job_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1280,
          -144
        ],
        "id": "70de704e-e99d-4253-8c44-40bb17f6b478",
        "name": "Get Raw HTML",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b46d77b8-e207-4b46-90fb-7678d0498834",
                "leftValue": "={{ $json.is_active }}",
                "rightValue": 404,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1728,
          -144
        ],
        "id": "0b0532dc-7bf4-43ac-a42b-d79c460965ad",
        "name": "Is Active?"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "workflow_health",
            "mode": "list",
            "cachedResultName": "workflow_health"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "running",
              "workflow_tag": "clean_inactive"
            },
            "matchingColumns": [
              "workflow_tag"
            ],
            "schema": [
              {
                "id": "workflow_tag",
                "displayName": "workflow_tag",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "last_success_at",
                "displayName": "last_success_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          608,
          -144
        ],
        "id": "fd5aae4f-33f8-42f7-a7e9-3addd69232f6",
        "name": "update running status",
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "workflow_health",
            "mode": "list",
            "cachedResultName": "workflow_health"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "completed",
              "last_success_at": "={{ $now.toISO() }}",
              "workflow_tag": "clean_inactive"
            },
            "matchingColumns": [
              "workflow_tag"
            ],
            "schema": [
              {
                "id": "workflow_tag",
                "displayName": "workflow_tag",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "last_success_at",
                "displayName": "last_success_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1280,
          -336
        ],
        "id": "53b60322-11a7-4876-b750-3f222d62a16f",
        "name": "update success status",
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          384,
          -80
        ],
        "id": "ea07511b-367b-4a46-ad21-396888e51cb5",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "update running status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Inactive Rows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "update success status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Raw HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check isActive": {
        "main": [
          [
            {
              "node": "Is Active?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Raw HTML": {
        "main": [
          [
            {
              "node": "Check isActive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Active?": {
        "main": [
          [
            {
              "node": "Update a row1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update running status": {
        "main": [
          [
            {
              "node": "Get Inactive Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "update running status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "d d",
    "name": "Version 052b81d9",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-02-17T08:55:44.901Z",
      "createdAt": "2026-02-17T08:55:44.901Z",
      "id": "KfoxYHbtIHL4mStj",
      "name": "sync"
    },
    {
      "updatedAt": "2026-03-06T08:25:52.467Z",
      "createdAt": "2026-03-06T08:25:21.473Z",
      "id": "ddAL7doZ15c2KR1t",
      "name": "clean_inactive"
    }
  ]
}