workflows/research_high_rare.json
{
  "updatedAt": "2026-02-25T07:35:16.222Z",
  "createdAt": "2026-02-04T15:30:31.698Z",
  "id": "nvHCNWL4_7W0r-v9r2u0G",
  "name": "research_high_rare",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3585d241-210b-49fe-9031-43c55c800855",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e6f82e4-042a-49fe-b7d9-34eafdead4e7",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98dd640c-efc3-4cc2-8f45-442711c3aaf6",
              "name": "published_at",
              "value": "={{ $json.published_at }}",
              "type": "string"
            },
            {
              "id": "ddc97d13-cf78-4120-af9c-2135094c68e5",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "d83105f2-d36e-4f58-a304-048d6b1cea81",
              "name": "job_title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            },
            {
              "id": "98472579-8758-49e7-afb3-4c9cccec75bc",
              "name": "job_url",
              "value": "={{ $json.job_url }}",
              "type": "string"
            },
            {
              "id": "b750dd49-51e3-4f87-a61a-c4c33978f17d",
              "name": "match_score",
              "value": "={{ $json.match_score }}",
              "type": "number"
            },
            {
              "id": "9988f698-c59a-4a5c-8162-81c45b75e224",
              "name": "job_description",
              "value": "={{ $json.job_description }}",
              "type": "string"
            },
            {
              "id": "5804039c-ea1b-43fd-8c6b-bb4b3cbcbdbb",
              "name": "job_location",
              "value": "={{ $json.job_location }}",
              "type": "string"
            },
            {
              "id": "429a78c3-9b24-4a4f-96c3-43aaee37d6c3",
              "name": "external_id",
              "value": "={{ $json.external_id }}",
              "type": "string"
            },
            {
              "id": "b775719f-125e-463c-ae72-458bc4659483",
              "name": "job_salary",
              "value": "={{ $json.job_salary }}",
              "type": "string"
            },
            {
              "id": "ee82521f-b573-4d52-aa26-4e46c5a5a0a3",
              "name": "company_department",
              "value": "={{ $json.company_department }}",
              "type": "string"
            },
            {
              "id": "667763ef-6bbf-422e-b98a-44bb51b835bb",
              "name": "job_sector",
              "value": "={{ $json.job_sector }}",
              "type": "string"
            },
            {
              "id": "e02990cc-70a0-4672-a050-6280df10fdb8",
              "name": "contract_type",
              "value": "={{ $json.contract_type }}",
              "type": "string"
            },
            {
              "id": "3d532878-6ff8-4d21-9bea-fd927ab38bd9",
              "name": "signal_tier",
              "value": "={{ $json.signal_tier }}",
              "type": "string"
            },
            {
              "id": "45833e66-5531-4b1f-b56c-3401f31448c8",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "49c83c67-536e-42be-a041-4b247875218b",
              "name": "processed_at",
              "value": "={{ $json.processed_at }}",
              "type": "string"
            },
            {
              "id": "e36b8eb9-3dc9-406b-aa74-0ba4839ff0eb",
              "name": "company_url",
              "value": "={{ $json.company_url }}",
              "type": "string"
            },
            {
              "id": "80d94137-bddf-4264-80c3-d0eb5ecda587",
              "name": "poster_name",
              "value": "={{ $json.poster_name }}",
              "type": "string"
            },
            {
              "id": "cf1fb289-8821-4cbf-bdea-814ee646ed9e",
              "name": "poster_linkedin",
              "value": "={{ $json.poster_linkedin }}",
              "type": "string"
            },
            {
              "id": "f7041f7f-79c8-4f8d-a280-56a151df3885",
              "name": "company_logo",
              "value": "={{ $json.company_logo }}",
              "type": "string"
            },
            {
              "id": "4dc74732-aa86-4718-9e3f-f2ac23552cda",
              "name": "experience_level",
              "value": "={{ $json.experience_level }}",
              "type": "string"
            },
            {
              "id": "ccbbece4-e599-4a22-91fd-6d5a4425240f",
              "name": "apply_url",
              "value": "={{ $json.apply_url }}",
              "type": "string"
            },
            {
              "id": "9c881010-3c28-4f7e-a5fd-da3e9f6814d2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "7c61ac99-d19a-48ed-94a0-754f00eba142",
              "name": "description_vector",
              "value": "={{ $json.description_vector }}",
              "type": "string"
            },
            {
              "id": "83620fee-933a-4de4-9652-91faa26f6260",
              "name": "employment_type",
              "value": "={{ $json.employment_type }}",
              "type": "string"
            },
            {
              "id": "e70e38db-bc1d-4bf4-807f-55155ff0ed8c",
              "name": "work_mode",
              "value": "={{ $json.work_mode }}",
              "type": "string"
            },
            {
              "id": "2fd7e6b1-856b-4d4a-b90d-7d177318cbe2",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "string"
            },
            {
              "id": "7b1de7ac-addb-4f76-a3bf-959d7acafff6",
              "name": "tech_score",
              "value": "={{ $json.tech_score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "91ce96aa-11fa-4983-936a-e2989c6a3ef6",
      "name": "Standardize input"
    },
    {
      "parameters": {
        "userKey": "uwqc63pi9waxvzmeqiehrbtfix2f6p",
        "message": "={{ $json.job_title }} at {{ $json.company_name }} scored {{ $json.match_score }} getting into {{ $json.signal_tier }} tier.\n\nApply at:\n{{ $json.apply_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "311255ee-c14e-4941-8a3d-e92c6719abaf",
      "name": "Push a message",
      "credentials": {
        "pushoverApi": {
          "id": "Nxz7AYYEKlVYdoD1",
          "name": "Pushover account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Standardize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize input": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Standardize input": [
      {
        "json": {
          "id": null,
          "published_at": null,
          "company_name": null,
          "job_title": null,
          "job_url": null,
          "match_score": null,
          "job_description": null,
          "job_location": null,
          "external_id": null,
          "job_salary": null,
          "company_department": null,
          "job_sector": null,
          "contract_type": null,
          "signal_tier": null,
          "status": null,
          "processed_at": null,
          "company_url": null,
          "poster_name": null,
          "poster_linkedin": null,
          "company_logo": null,
          "experience_level": null,
          "apply_url": null,
          "source": null,
          "description_vector": null,
          "employment_type": null,
          "work_mode": null,
          "metadata": null,
          "tech_score": null
        }
      }
    ]
  },
  "versionId": "81957cdb-3924-4a42-bedc-11d5b85d76c0",
  "activeVersionId": "81957cdb-3924-4a42-bedc-11d5b85d76c0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-04T15:30:31.705Z",
      "createdAt": "2026-02-04T15:30:31.705Z",
      "role": "workflow:owner",
      "workflowId": "nvHCNWL4_7W0r-v9r2u0G",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-11T15:48:50.000Z",
    "createdAt": "2026-02-11T15:48:49.351Z",
    "versionId": "81957cdb-3924-4a42-bedc-11d5b85d76c0",
    "workflowId": "nvHCNWL4_7W0r-v9r2u0G",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "3585d241-210b-49fe-9031-43c55c800855",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e6f82e4-042a-49fe-b7d9-34eafdead4e7",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "98dd640c-efc3-4cc2-8f45-442711c3aaf6",
                "name": "published_at",
                "value": "={{ $json.published_at }}",
                "type": "string"
              },
              {
                "id": "ddc97d13-cf78-4120-af9c-2135094c68e5",
                "name": "company_name",
                "value": "={{ $json.company_name }}",
                "type": "string"
              },
              {
                "id": "d83105f2-d36e-4f58-a304-048d6b1cea81",
                "name": "job_title",
                "value": "={{ $json.job_title }}",
                "type": "string"
              },
              {
                "id": "98472579-8758-49e7-afb3-4c9cccec75bc",
                "name": "job_url",
                "value": "={{ $json.job_url }}",
                "type": "string"
              },
              {
                "id": "b750dd49-51e3-4f87-a61a-c4c33978f17d",
                "name": "match_score",
                "value": "={{ $json.match_score }}",
                "type": "number"
              },
              {
                "id": "9988f698-c59a-4a5c-8162-81c45b75e224",
                "name": "job_description",
                "value": "={{ $json.job_description }}",
                "type": "string"
              },
              {
                "id": "5804039c-ea1b-43fd-8c6b-bb4b3cbcbdbb",
                "name": "job_location",
                "value": "={{ $json.job_location }}",
                "type": "string"
              },
              {
                "id": "429a78c3-9b24-4a4f-96c3-43aaee37d6c3",
                "name": "external_id",
                "value": "={{ $json.external_id }}",
                "type": "string"
              },
              {
                "id": "b775719f-125e-463c-ae72-458bc4659483",
                "name": "job_salary",
                "value": "={{ $json.job_salary }}",
                "type": "string"
              },
              {
                "id": "ee82521f-b573-4d52-aa26-4e46c5a5a0a3",
                "name": "company_department",
                "value": "={{ $json.company_department }}",
                "type": "string"
              },
              {
                "id": "667763ef-6bbf-422e-b98a-44bb51b835bb",
                "name": "job_sector",
                "value": "={{ $json.job_sector }}",
                "type": "string"
              },
              {
                "id": "e02990cc-70a0-4672-a050-6280df10fdb8",
                "name": "contract_type",
                "value": "={{ $json.contract_type }}",
                "type": "string"
              },
              {
                "id": "3d532878-6ff8-4d21-9bea-fd927ab38bd9",
                "name": "signal_tier",
                "value": "={{ $json.signal_tier }}",
                "type": "string"
              },
              {
                "id": "45833e66-5531-4b1f-b56c-3401f31448c8",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "49c83c67-536e-42be-a041-4b247875218b",
                "name": "processed_at",
                "value": "={{ $json.processed_at }}",
                "type": "string"
              },
              {
                "id": "e36b8eb9-3dc9-406b-aa74-0ba4839ff0eb",
                "name": "company_url",
                "value": "={{ $json.company_url }}",
                "type": "string"
              },
              {
                "id": "80d94137-bddf-4264-80c3-d0eb5ecda587",
                "name": "poster_name",
                "value": "={{ $json.poster_name }}",
                "type": "string"
              },
              {
                "id": "cf1fb289-8821-4cbf-bdea-814ee646ed9e",
                "name": "poster_linkedin",
                "value": "={{ $json.poster_linkedin }}",
                "type": "string"
              },
              {
                "id": "f7041f7f-79c8-4f8d-a280-56a151df3885",
                "name": "company_logo",
                "value": "={{ $json.company_logo }}",
                "type": "string"
              },
              {
                "id": "4dc74732-aa86-4718-9e3f-f2ac23552cda",
                "name": "experience_level",
                "value": "={{ $json.experience_level }}",
                "type": "string"
              },
              {
                "id": "ccbbece4-e599-4a22-91fd-6d5a4425240f",
                "name": "apply_url",
                "value": "={{ $json.apply_url }}",
                "type": "string"
              },
              {
                "id": "9c881010-3c28-4f7e-a5fd-da3e9f6814d2",
                "name": "source",
                "value": "={{ $json.source }}",
                "type": "string"
              },
              {
                "id": "7c61ac99-d19a-48ed-94a0-754f00eba142",
                "name": "description_vector",
                "value": "={{ $json.description_vector }}",
                "type": "string"
              },
              {
                "id": "83620fee-933a-4de4-9652-91faa26f6260",
                "name": "employment_type",
                "value": "={{ $json.employment_type }}",
                "type": "string"
              },
              {
                "id": "e70e38db-bc1d-4bf4-807f-55155ff0ed8c",
                "name": "work_mode",
                "value": "={{ $json.work_mode }}",
                "type": "string"
              },
              {
                "id": "2fd7e6b1-856b-4d4a-b90d-7d177318cbe2",
                "name": "metadata",
                "value": "={{ $json.metadata }}",
                "type": "string"
              },
              {
                "id": "7b1de7ac-addb-4f76-a3bf-959d7acafff6",
                "name": "tech_score",
                "value": "={{ $json.tech_score }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          0
        ],
        "id": "91ce96aa-11fa-4983-936a-e2989c6a3ef6",
        "name": "Standardize input"
      },
      {
        "parameters": {
          "userKey": "uwqc63pi9waxvzmeqiehrbtfix2f6p",
          "message": "={{ $json.job_title }} at {{ $json.company_name }} scored {{ $json.match_score }} getting into {{ $json.signal_tier }} tier.\n\nApply at:\n{{ $json.apply_url }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.pushover",
        "typeVersion": 1,
        "position": [
          400,
          0
        ],
        "id": "311255ee-c14e-4941-8a3d-e92c6719abaf",
        "name": "Push a message",
        "credentials": {
          "pushoverApi": {
            "id": "Nxz7AYYEKlVYdoD1",
            "name": "Pushover account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Standardize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Standardize input": {
        "main": [
          [
            {
              "node": "Push a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "d d",
    "name": "Version 81957cdb",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-02-04T15:31:20.237Z",
      "createdAt": "2026-02-04T15:31:20.237Z",
      "id": "cXEND70cuOo53aH7",
      "name": "lead_research"
    }
  ]
}