workflows/score_filtered.json
{
  "updatedAt": "2026-03-06T13:19:35.421Z",
  "createdAt": "2026-03-05T09:43:45.214Z",
  "id": "gHdlEKX8TSjpy2ON",
  "name": "score_filtered",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1264,
        -416
      ],
      "id": "24949c26-70b7-4c3c-ba7d-db39f22ab986",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1888,
        -240
      ],
      "id": "8538cff6-751d-452e-b266-d5d49f4a3b41",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YhtGw7h88f9jUZts",
          "name": "Google Gemini(PaLM) Api account_llm"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -416
      ],
      "id": "393ba679-d205-4c99-a7f3-3243066e3f43",
      "name": "Wait1",
      "webhookId": "c43fd4fd-4a1a-400a-880b-b67b39f1ed9a"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawMission = $json.output.mission_score; \nconst rawResponsibility = $json.output.responsibility_score;\n\nconst minRange = 0.10;\nconst maxRange = 0.90;\n\nconst adjust = (score) => {\n    let adjustedScore = (score - minRange) / (maxRange - minRange);\n    return Math.max(0, Math.min(1, adjustedScore));\n};\n\nconst adjustedMission = adjust(rawMission);\nconst adjustedResponsibility = adjust(rawResponsibility);\n\nreturn {\n    mission_score: adjustedMission,\n    responsibility_score: adjustedResponsibility,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -416
      ],
      "id": "bee73337-34ff-4b7a-845f-91dd12afa9d2",
      "name": "Adjust score llm"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3808,
        -544
      ],
      "id": "de0019dc-b513-401e-9fde-c3c1b2875099",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -736
      ],
      "id": "bca08fcb-3cbb-4916-868b-7dcdb9b33648",
      "name": "Wait",
      "webhookId": "d53c9dd6-3d74-49b0-a2b8-775c95492c7d"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1856,
        -560
      ],
      "id": "9ea3d3a4-104e-4068-a6bc-123202c8bcce",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "WHKYJmDyVoPXPzmK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reference Calibration (Stay consistent with these verified scores):\n\nPillar 1: Mission Alignment\n\nEducation (High Impact): Academy of Digital Industries = 0.82\n\nProductivity SaaS (Neutral): Make.com = 0.35\n\nCommercial SW House (Capped): ARTIN = 0.25\n\nPurely Commercial (Baseline): Inbank = 0.15\n\nPillar 2: Responsibility Fit (Autonomy/Bridge)\n\nADI (Mentor/Designer): High creative autonomy & design freedom = 0.90\n\nMake (Product Manager): High strategic bridge & \"CEO of product\" = 0.85\n\nARTIN (AI Engineer): Creative problem solving over instructions = 0.80\n\nAltamira (Consultant): Bridge role but limited by client/bank frameworks = 0.70\n\nInbank (Implementation): Operational bridge but within rigid finance rails = 0.65\n\nTask: Now, score the following job based on the scales and anchors provided above:\n\nTitle: {{ $json.job_title }}\n\nLevel: {{ $json.experience_level }}\n\nDescription: {{ $json.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "<system_instructions>\n<persona>\nSenior Talent Scout specialized in Impact-Driven Roles. You value social beauty, compassion, and the democratization of technology. You are an expert at identifying \"Bridge Roles\" where technical AI implementation meets human-centric autonomy.\n</persona>\n\n<task>\nAnalyze the JD and calculate two distinct scores: \n1. \"Mission Alignment Score\": How much the organization's CORE purpose aligns with Social Good, Education, or Open Source.\n2. \"Responsibility Fit Score\": How much the daily tasks allow for autonomy, AI system design, and high-empathy communication (Speaking/Listening).\n</task>\n\n<scoring_anchors_pillar_1_mission>\n0.0 - 0.2: PURELY COMMERCIAL. Banks, standard SaaS, Retail, or Insurance. (Baseline)\n0.3 - 0.5: SEMI-IMPACT / LOCAL. Local small businesses or startups with a \"neutral\" mission.\n0.6 - 0.8: CORE IMPACT. Educational platforms, Open Source contributors, or \"Tech for Good\" initiatives.\n0.9 - 1.0: THE IDEAL MISSION. NGOs, Environmental protection, Global Education, or Non-profit humanitarian work.\n</scoring_anchors_pillar_1_mission>\n\n<scoring_anchors_pillar_2_responsibility>\n0.0 - 0.3: RIGID / SILOED. Pure execution, ticket-based work, no design freedom, or purely technical dev with no human interface.\n0.4 - 0.6: MODERATE / HYBRID. Some design freedom but follows strict corporate frameworks. Limited empathy/speaking requirements.\n0.7 - 0.9: HIGH AUTONOMY / BRIDGE. \"Own the process,\" create syllabuses/frameworks, design AI workflows, or lead implementation through high-empathy communication.\n1.0: THE PERFECT FIT. Complete autonomy to design AI solutions/education from scratch with a focus on human-centric implementation.\n</scoring_anchors_pillar_2_responsibility>\n\n<logic_rules>\n- PILLAR 1: \"NGO/Charity/Non-profit\" = Min 0.85. Primary product \"Education\" = Min 0.70. Commercial SW House cap = 0.30.\n- PILLAR 2: If the JD mentions \"shaping the role,\" \"designing the framework,\" or \"owning the strategy,\" increase fit by 0.2.\n- PILLAR 2: If the role is purely \"maintaining existing systems\" or \"following technical specs,\" cap fit at 0.4.\n- PILLAR 2: Empathy/Speaking/Mentoring tasks are positive signals; don't penalize \"Teaching\" if there is design freedom.\n</logic_rules>\n\n<few_shot_examples>\n<example>\n<jd_snippet>\"AI Data Solutions Engineer for a large bank. Follow existing agile processes to maintain data pipelines.\"</jd_snippet>\n<thought_process>\nMission: Bank is purely commercial (0.15). \nResponsibility: Mentions \"following existing processes\" and \"maintaining.\" Low autonomy and no mention of bridge-style communication.\n</thought_process>\n<mission_score>0.15</mission_score>\n<responsibility_score>0.25</responsibility_score>\n</example>\n<example>\n<jd_snippet>\"AI Enablement Lead. Own the AI adoption strategy, design internal training, and coach teams on AI implementation.\"</jd_snippet>\n<thought_process>\nMission: SaaS/Internal tool (0.40). \nResponsibility: \"Own the strategy\" and \"Design training\" signal high autonomy. \"Coaching\" hits empathy and speaking skills. This is a classic Bridge Role.\n</thought_process>\n<mission_score>0.40</mission_score>\n<responsibility_score>0.90</responsibility_score>\n</example>\n</few_shot_examples>\n\n<constraints>\n- Thought Process: MUST be written first, then reasoning for both pillars, then the scores.\n- Format: Respond only in valid JSON.\n- Input Language: Czech, Slovak, English.\n</constraints>\n</system_instructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1936,
        -416
      ],
      "id": "aad2b700-3c65-494d-a038-355d6be386de",
      "name": "Check pillar fit - llm",
      "retryOnFail": true,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this JD: {{ $json.job_description }}\n\nhere is additional job info: \nsalary: {{ $json.job_salary }}\ncontract type: {{ $json.contract_type }}\nwork mode: {{ $json.work_mode }}\nlocation: {{ $json.job_location }}\n\nExtract the following data as \"Yes\" or \"No\":\n\n--- REMOTE LADDER ---\n1. remote_5_5: Is it 100% fully remote?\n2. remote_4_1: Is it 4 days remote, 1 in office?\n3. remote_3_2: Is it 3 days remote, 2 in office?\n4. remote_2_3: Is it 2 days remote, 3 in office?\n5. remote_1_4: Is it 1 day remote, 4 in office?\n\n--- SALARY LADDER ---\n6. salary_120k_plus: Is salary 120k CZK/mo or higher?\n7. salary_100k_120k: Is salary between 100k and 120k CZK/mo?\n8. salary_90k_100k: Is salary between 90k and 100k CZK/mo?\n9. salary_80k_90k: Is salary between 80k and 90k CZK/mo?\n10. salary_70k_80k: Is salary between 70k and 80k CZK/mo?\n\n--- TEAM & PERKS ---\n11. is_international: Is the team described as international, global, or English-speaking?\n12. is_startup: Is the company described as a startup or early-stage?\n13. team_under_5: Is the team size explicitly 5 people or fewer?\n14. team_5_to_10: Is the team size between 6 and 10 people?\n15. has_equity: Does it mention RSUs, stocks, options, or equity?\n16. has_car: Is a company car or car allowance mentioned?\n17. has_edu_budget: Is there a budget for courses, books, or certifications?\n18. has_4_day_week: Is a 4-day or 32-hour work week mentioned?\n\n--- TECH & WORKFLOW ---\n19. uses_n8n: Does it mention n8n or workflow automation?\n20. uses_cursor: Does it mention Cursor or \"vibe-coding\"?\n21. uses_mcp: Does it mention MCP (Model Context Protocol)?\n22. uses_agents: Does it mention AI Agents or Autonomous Agents?\n23. uses_langchain_vector: Does it mention LangChain, LlamaIndex, or Vector Databases (Pinecone, Weaviate, etc.)?\n24. flexible_hours: Does it mention flexible working hours?\n25. direct_impact: Does it mention reporting to or working directly with founders, CEO, CTO, or \"C-level\"?\n\n\n--- THE UNICORN PERKS ---\n26. has_home_office_budget: Does it mention a budget for your home setup?\n27. is_result_driven: Does it mention \"result-based,\" \"output-oriented,\" or \"finish work and you're done\"?\n28. is_flat_hierarchy: Does it mention \"flat hierarchy,\" \"no red tape,\" \"no bureaucracy,\" or \"autonomous teams\"?\n29. is_async_focus: Does it mention \"asynchronous,\" \"deep work,\" \"focus time,\" or \"no-meeting culture\"?\n30. has_free_food: Does it mention free breakfast, lunch, or snacks in the office?\n31. has_retreats: Does it mention \"team retreats,\" \"offsites,\" or \"company trips\"?\n32. has_autonomy: Does it mention \"svoboda,\" \"self-management,\" \"choosing your own tools,\" or \"freedom in how to solve problems\"?\n... (and re-number the rest)\n\n--- ADDONS ---\n33. uses_automation_proxies: \"Yes\" if it mentions Make (Integromat), Zapier, or \"low-code automation\" generally.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "<task>\nAct as a precise Data Extraction Unit. Your only goal is to answer a set of Boolean questions based STRICTLY on the provided Job Description.\n</task>\n\n<rules>\n- Respond ONLY using the provided JSON output tool.\n- Answer every question with exactly \"Yes\" or \"No\".\n- CRITICAL: If a benefit is NOT mentioned, you must output \"No\". Never use \"Not Mentioned\".\n- Use semantic understanding (e.g., \"WFH\" or \"Anywhere\" = Remote).\n- Do not use outside knowledge or research.\n- For the \"Remote Ladder\" and \"Salary Ladder\", only mark \"Yes\" for the most accurate specific range.\n- is_flat_hierarchy: Must explicitly mention \"flat hierarchy,\" \"no managers,\" \"holacracy,\" or \"horizontal structure.\"\n- is_result_driven: Must explicitly mention \"results only,\" \"output-based,\" or \"no tracked hours.\"\n- is_async_focus: Must explicitly mention \"async,\" \"no-meeting,\" or \"deep work.\"\n- Be STRICT with \"Direct Impact\": Only \"Yes\" if C-suite, Founders, or \"Management-free reporting\" is mentioned.\n- uses_automation_proxies: Only \"Yes\" if competitive tools like Make, Integromat, or Zapier are mentioned.\n- has_autonomy: Answer \"Yes\" if there is ANY mention (even once) of self-reliance, creative/strategic control, independence, \"shaping,\" \"owning a product,\" or \"freedom to explore.\" or \"being CEO of own product\". \nCRITICAL: A single mention is an automatic \"Yes\" trigger. Do NOT weigh this against mentions of meetings, collaboration, or stakeholders. If the signal exists, the answer is \"Yes\".\n\n</rules>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        -736
      ],
      "id": "8e41a759-db17-48cd-95fd-dff4c668296f",
      "name": "Check bonus boolean",
      "retryOnFail": true,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let bonus = 0;\nconst data = $json.output; \n\n// 1. Remote & Salary\nif (data.remote_5_5 === \"Yes\") bonus += 50;\nelse if (data.remote_4_1 === \"Yes\") bonus += 40;\nelse if (data.remote_3_2 === \"Yes\") bonus += 30;\nelse if (data.remote_2_3 === \"Yes\") bonus += 20;\nelse if (data.remote_1_4 === \"Yes\") bonus += 10;\nif (data.salary_120k_plus === \"Yes\") bonus += 70;\nelse if (data.salary_100k_120k === \"Yes\") bonus += 50;\nelse if (data.salary_90k_100k === \"Yes\") bonus += 40;\nelse if (data.salary_80k_90k === \"Yes\") bonus += 25;\nelse if (data.salary_70k_80k === \"Yes\") bonus += 10;\n\n// 2. High-Value Culture\nif (data.has_4_day_week === \"Yes\") bonus += 100;\nif (data.is_flat_hierarchy === \"Yes\") bonus += 70;\nif (data.is_async_focus === \"Yes\") bonus += 45;\nif (data.has_autonomy === \"Yes\") bonus += 40;\nif (data.is_result_driven === \"Yes\") bonus += 40;\nif (data.direct_impact === \"Yes\") bonus += 35;\n\n// 3. Tech Stack\nif (data.uses_n8n === \"Yes\") bonus += 50;\nif (data.uses_automation_proxies === \"Yes\") bonus += 25; \nif (data.uses_cursor === \"Yes\") bonus += 25;\nif (data.uses_mcp === \"Yes\") bonus += 35;\nif (data.uses_agents === \"Yes\") bonus += 50;\nif (data.uses_langchain_vector === \"Yes\") bonus += 15;\n\n// 4. Perks & Environment\nif (data.has_equity === \"Yes\") bonus += 30;\nif (data.is_international === \"Yes\") bonus += 20;\nif (data.is_startup === \"Yes\") bonus += 30;\nif (data.has_edu_budget === \"Yes\") bonus += 20;\nif (data.has_free_food === \"Yes\") bonus += 15;\nif (data.has_home_office_budget === \"Yes\") bonus += 15;\nif (data.has_retreats === \"Yes\") bonus += 15;\nif (data.team_under_5 === \"Yes\") bonus += 25;\nif (data.team_5_to_10 === \"Yes\") bonus += 15;\nif (data.has_car === \"Yes\") bonus += 50;\nif (data.flexible_hours === \"Yes\") bonus += 10;\n\nreturn { \n  total_score: bonus,\n  bonus: data \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -736
      ],
      "id": "eb82473a-4bf6-48ba-9378-dcfa53a45230",
      "name": "Calculate bonus"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nconst missionScore = item.mission_score;\nconst responsibilityScore = item.responsibility_score;\nconst idealScoreCosine = ($('Standardize input').item.json.ideal_score)/100;\n\nconst weightMission = 0.4;\nconst weightResponsibility = 0.4;\nconst weightCosine = 0.2;\n\nconst finalWeightedScore = (missionScore * weightMission) + (responsibilityScore * weightResponsibility) + (idealScoreCosine * weightCosine);\n\nreturn {\n  final_weighted_score: finalWeightedScore,\n  mission_weighted: missionScore * weightMission,\n  responsibility_weighted: responsibilityScore * weightResponsibility,\n  cosine_weighted: idealScoreCosine * weightCosine\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -416
      ],
      "id": "74d04ffd-8de9-4db8-b053-aef00256fe80",
      "name": "Calculate weighted sum"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "job_url",
              "condition": "eq",
              "keyValue": "={{ $json.job_url }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "metadata",
              "fieldValue": "={{ $json.metadata }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "match_score",
              "fieldValue": "={{ $json.match_score }}"
            },
            {
              "fieldId": "signal_tier",
              "fieldValue": "={{ $json.signal_tier }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "scored"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3152,
        -560
      ],
      "id": "1ef3e847-df2a-43b8-9a1f-2ef7ccdafc1e",
      "name": "Update a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "qB1TBV7vyX50RGhp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const pillarScore = $input.item.json.final_weighted_score;\nconst bonusScore = $input.item.json.total_score;\nconst mission = $input.item.json.mission_weighted;\nconst responsibility = $input.item.json.responsibility_weighted;\n\nconst pillarMultiplier = 300;\n\nconst pillarScoreMultiplied = Math.round(pillarScore * pillarMultiplier);\nlet finalSumScore = pillarScoreMultiplied + bonusScore;\n\nlet signalTier = 'low';\n\nif (mission >= 0.3 && responsibility >= 0.3) {\n  signalTier = 'rare';\n} else if (finalSumScore >= 400) {\n  signalTier = 'high';\n} else if (finalSumScore >= 280) {\n  signalTier = 'mid';\n}\n\nreturn {\n  signal_tier: signalTier,\n  match_score: finalSumScore,\n  job_url:$('Standardize input').item.json.job_url,\n  metadata: {\n    scores: {\n      mission,\n      responsibility,\n      pillar: pillarScoreMultiplied,\n      bonus: bonusScore,\n    },\n    flags: {\n      remote_5_5: $json.bonus.remote_5_5,\n      remote_4_1: $json.bonus.remote_4_1,\n      remote_3_2: $json.bonus.remote_3_2,\n      salary_120k_plus: $json.bonus.salary_120k_plus,\n      salary_100k_120k: $json.bonus.salary_100k_120k,\n      salary_90k_100k: $json.bonus.salary_90k_100k,\n      team_under_5: $json.bonus.team_under_5,\n      equity: $json.bonus.has_equity,\n      car: $json.bonus.has_car,\n      n8n: $json.bonus.uses_n8n,\n      agents: $json.bonus.uses_agents,\n      result_driven: $json.bonus.is_result_driven,\n      flat_hierarchy: $json.bonus.is_flat_hierarchy\n    }\n  }\n}\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        -560
      ],
      "id": "90ac504a-a59b-4f40-bb79-a60d8919fcb4",
      "name": "Finalize sum + payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nvHCNWL4_7W0r-v9r2u0G",
          "mode": "list",
          "cachedResultUrl": "/workflow/nvHCNWL4_7W0r-v9r2u0G",
          "cachedResultName": "research_high_rare"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3584,
        -704
      ],
      "id": "d4ad9d65-ce41-45fb-b67e-26b181984452",
      "name": "Call 'research_high_rare'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "76330b5c-f689-4ce0-b216-8a98ee0b65cf",
              "leftValue": "={{ $json.signal_tier }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d6d2ede8-4542-4e55-87b9-8b86170d91ec",
              "leftValue": "={{ $json.signal_tier }}",
              "rightValue": "rare",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3344,
        -560
      ],
      "id": "5b5f337c-d6f8-47be-b978-e19d8569f187",
      "name": "Is high or rare?"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"thought_process\": \"text\",\n  \"reasoning\": \"text\",\n  \"mission_score\": 0.72,\n  \"responsibility_score\": 0.45\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2128,
        -240
      ],
      "id": "4a12024b-4877-4e52-bbff-b25b17da46cb",
      "name": "Structured Output Parser1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"remote_5_5\": { \"type\": \"string\" },\n    \"remote_4_1\": { \"type\": \"string\" },\n    \"remote_3_2\": { \"type\": \"string\" },\n    \"remote_2_3\": { \"type\": \"string\" },\n    \"remote_1_4\": { \"type\": \"string\" },\n    \"salary_120k_plus\": { \"type\": \"string\" },\n    \"salary_100k_120k\": { \"type\": \"string\" },\n    \"salary_90k_100k\": { \"type\": \"string\" },\n    \"salary_80k_90k\": { \"type\": \"string\" },\n    \"salary_70k_80k\": { \"type\": \"string\" },\n    \"is_international\": { \"type\": \"string\" },\n    \"is_startup\": { \"type\": \"string\" },\n    \"team_under_5\": { \"type\": \"string\" },\n    \"team_5_to_10\": { \"type\": \"string\" },\n    \"has_equity\": { \"type\": \"string\" },\n    \"has_car\": { \"type\": \"string\" },\n    \"has_edu_budget\": { \"type\": \"string\" },\n    \"has_4_day_week\": { \"type\": \"string\" },\n  \"uses_n8n\": { \"type\": \"string\" },\n    \"uses_cursor\": { \"type\": \"string\" },\n    \"uses_mcp\": { \"type\": \"string\" },\n    \"uses_agents\": { \"type\": \"string\" },\n    \"uses_langchain_vector\": { \"type\": \"string\" },\n    \"flexible_hours\": { \"type\": \"string\" },\n    \"direct_impact\": { \"type\": \"string\" },\n    \"has_home_office_budget\": { \"type\": \"string\" },\n    \"is_result_driven\": { \"type\": \"string\" },\n    \"is_flat_hierarchy\": { \"type\": \"string\" },\n    \"is_async_focus\": { \"type\": \"string\" },\n    \"has_free_food\": { \"type\": \"string\" },\n    \"has_retreats\": { \"type\": \"string\" },\n    \"has_autonomy\": { \"type\": \"string\" },\n    \"uses_automation_proxies\": { \"type\": \"string\" }\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2096,
        -560
      ],
      "id": "c620744f-81f2-4a0b-b8ef-bb1cf1573721",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2752,
        -560
      ],
      "id": "9d5f4bca-319c-4c44-bc56-d02ecf17e812",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e6f82e4-042a-49fe-b7d9-34eafdead4e7",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98dd640c-efc3-4cc2-8f45-442711c3aaf6",
              "name": "published_at",
              "value": "={{ $json.published_at }}",
              "type": "string"
            },
            {
              "id": "ddc97d13-cf78-4120-af9c-2135094c68e5",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "d83105f2-d36e-4f58-a304-048d6b1cea81",
              "name": "job_title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            },
            {
              "id": "98472579-8758-49e7-afb3-4c9cccec75bc",
              "name": "job_url",
              "value": "={{ $json.job_url }}",
              "type": "string"
            },
            {
              "id": "b750dd49-51e3-4f87-a61a-c4c33978f17d",
              "name": "match_score",
              "value": "={{ $json.match_score }}",
              "type": "number"
            },
            {
              "id": "9988f698-c59a-4a5c-8162-81c45b75e224",
              "name": "job_description",
              "value": "={{ $json.job_description }}",
              "type": "string"
            },
            {
              "id": "5804039c-ea1b-43fd-8c6b-bb4b3cbcbdbb",
              "name": "job_location",
              "value": "={{ $json.job_location }}",
              "type": "string"
            },
            {
              "id": "429a78c3-9b24-4a4f-96c3-43aaee37d6c3",
              "name": "external_id",
              "value": "={{ $json.external_id }}",
              "type": "string"
            },
            {
              "id": "b775719f-125e-463c-ae72-458bc4659483",
              "name": "job_salary",
              "value": "={{ $json.job_salary }}",
              "type": "string"
            },
            {
              "id": "ee82521f-b573-4d52-aa26-4e46c5a5a0a3",
              "name": "company_department",
              "value": "={{ $json.company_department }}",
              "type": "string"
            },
            {
              "id": "667763ef-6bbf-422e-b98a-44bb51b835bb",
              "name": "job_sector",
              "value": "={{ $json.job_sector }}",
              "type": "string"
            },
            {
              "id": "e02990cc-70a0-4672-a050-6280df10fdb8",
              "name": "contract_type",
              "value": "={{ $json.contract_type }}",
              "type": "string"
            },
            {
              "id": "3d532878-6ff8-4d21-9bea-fd927ab38bd9",
              "name": "signal_tier",
              "value": "={{ $json.signal_tier }}",
              "type": "string"
            },
            {
              "id": "45833e66-5531-4b1f-b56c-3401f31448c8",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "49c83c67-536e-42be-a041-4b247875218b",
              "name": "processed_at",
              "value": "={{ $json.processed_at }}",
              "type": "string"
            },
            {
              "id": "e36b8eb9-3dc9-406b-aa74-0ba4839ff0eb",
              "name": "company_url",
              "value": "={{ $json.company_url }}",
              "type": "string"
            },
            {
              "id": "80d94137-bddf-4264-80c3-d0eb5ecda587",
              "name": "poster_name",
              "value": "={{ $json.poster_name }}",
              "type": "string"
            },
            {
              "id": "cf1fb289-8821-4cbf-bdea-814ee646ed9e",
              "name": "poster_linkedin",
              "value": "={{ $json.poster_linkedin }}",
              "type": "string"
            },
            {
              "id": "f7041f7f-79c8-4f8d-a280-56a151df3885",
              "name": "company_logo",
              "value": "={{ $json.company_logo }}",
              "type": "string"
            },
            {
              "id": "4dc74732-aa86-4718-9e3f-f2ac23552cda",
              "name": "experience_level",
              "value": "={{ $json.experience_level }}",
              "type": "string"
            },
            {
              "id": "ccbbece4-e599-4a22-91fd-6d5a4425240f",
              "name": "apply_url",
              "value": "={{ $json.apply_url }}",
              "type": "string"
            },
            {
              "id": "9c881010-3c28-4f7e-a5fd-da3e9f6814d2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "7c61ac99-d19a-48ed-94a0-754f00eba142",
              "name": "description_vector",
              "value": "={{ $json.description_vector }}",
              "type": "string"
            },
            {
              "id": "83620fee-933a-4de4-9652-91faa26f6260",
              "name": "employment_type",
              "value": "={{ $json.employment_type }}",
              "type": "string"
            },
            {
              "id": "e70e38db-bc1d-4bf4-807f-55155ff0ed8c",
              "name": "work_mode",
              "value": "={{ $json.work_mode }}",
              "type": "string"
            },
            {
              "id": "2fd7e6b1-856b-4d4a-b90d-7d177318cbe2",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "string"
            },
            {
              "id": "7b1de7ac-addb-4f76-a3bf-959d7acafff6",
              "name": "tech_score",
              "value": "={{ $json.tech_score }}",
              "type": "string"
            },
            {
              "id": "b3449308-ba72-4ad3-8a6c-aceb70c3d693",
              "name": "responsibility_score",
              "value": "={{ $json.responsibility_score }}",
              "type": "number"
            },
            {
              "id": "bc4b0d48-ba86-474d-85d7-991446cb804c",
              "name": "application_stage",
              "value": "={{ $json.application_stage }}",
              "type": "string"
            },
            {
              "id": "508d8b5b-84cc-4ed8-8822-71dd78bed93c",
              "name": "ideal_score",
              "value": "={{ $json.ideal_score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -416
      ],
      "id": "eea5cdd4-1933-4743-9347-a218aeea7d83",
      "name": "Standardize input"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Standardize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check pillar fit - llm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check pillar fit - llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjust score llm": {
      "main": [
        [
          {
            "node": "Calculate weighted sum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check bonus boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check bonus boolean",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check pillar fit - llm": {
      "main": [
        [
          {
            "node": "Adjust score llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check bonus boolean": {
      "main": [
        [
          {
            "node": "Calculate bonus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate bonus": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate weighted sum": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Is high or rare?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize sum + payload": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'research_high_rare'": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is high or rare?": {
      "main": [
        [
          {
            "node": "Call 'research_high_rare'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Check pillar fit - llm",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Check bonus boolean",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Finalize sum + payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize input": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "5fa3d743-035e-4b49-a41e-2fc3599b8642",
          "published_at": "2026-02-09T01:00:00+01:00",
          "company_name": "Barclays",
          "job_title": "Low-latency C++ Senior Developer",
          "job_url": "https://cz.linkedin.com/jobs/view/low-latency-c%2B%2B-senior-developer-at-barclays-4352652961?trk=public_jobs_topcard-title",
          "match_score": 0,
          "job_description": "Join us as a Low-latency C++ Senior Developer at Barclays where you will spearhead the evolution of our digital landscape, driving innovation and excellence. As a Barclays Low-latency C++ Senior Developer, you will leverage your deep knowledge of C++ programming and design patterns to work with market data, including real-time data feeds and data storage. You will develop high-performance, low-latency systems, ensuring they meet the demands of a fast-paced, geographically dispersed environment. Your role will also involve continuously improving these systems to maintain and enhance their efficiency and reliability.\n\nTo be successful as a Low-latency C++ Senior Developer, you should have experience with:\n\n• Low latency programming in C++\n• Multi-threading, concurrency, together with proficiency in performance tuning and optimization techniques\n• SQL or KDB database technologies\n\nSome other highly valued skills may include:\n\n• Experience with financial markets, trading systems, and algorithmic trading\n• Familiarity with market data protocols, such as ITCH, FAST, FIX\n• Knowledge of scripting languages, such as Python or Shell\n\nYou may be assessed on the key critical skills relevant for success in role, such as risk and controls, change and transformation, business acumen strategic thinking and digital and technology, as well as job-specific technical skills.\n\nThis role will be based in our Prague office.\n\nPurpose of the role\nTo design, develop and improve software, utilising various engineering methodologies, that provides business, platform, and technology capabilities for our customers and colleagues.\n\nAccountabilities\nDevelopment and delivery of high-quality software solutions by using industry aligned programming languages, frameworks, and tools. Ensuring that code is scalable, maintainable, and optimized for performance.\nCross-functional collaboration with product managers, designers, and other engineers to define software requirements, devise solution strategies, and ensure seamless integration and alignment with business objectives.\nCollaboration with peers, participate in code reviews, and promote a culture of code quality and knowledge sharing.\nStay informed of industry technology trends and innovations and actively contribute to the organization’s technology communities to foster a culture of technical excellence and growth.\nAdherence to secure coding practices to mitigate vulnerabilities, protect sensitive data, and ensure secure software solutions.\nImplementation of effective unit testing practices to ensure proper code design, readability, and reliability.\n\nVice President Expectations\nTo contribute or set strategy, drive requirements and make recommendations for change. Plan resources, budgets, and policies; manage and maintain policies/ processes; deliver continuous improvements and escalate breaches of policies/procedures..\nIf managing a team, they define jobs and responsibilities, planning for the department’s future needs and operations, counselling employees on performance and contributing to employee pay decisions/changes. They may also lead a number of specialists to influence the operations of a department, in alignment with strategic as well as tactical priorities, while balancing short and long term goals and ensuring that budgets and schedules meet corporate requirements..\nIf the position has leadership responsibilities, People Leaders are expected to demonstrate a clear set of leadership behaviours to create an environment for colleagues to thrive and deliver to a consistently excellent standard. The four LEAD behaviours are: L – Listen and be authentic, E – Energise and inspire, A – Align across the enterprise, D – Develop others..\nOR for an individual contributor, they will be a subject matter expert within own discipline and will guide technical direction. They will lead collaborative, multi-year assignments and guide team members through structured assignments, identify the need for the inclusion of other areas of specialisation to complete assignments. They will train, guide and coach less experienced specialists and provide information affecting long term profits, organisational risks and strategic decisions..\nAdvise key stakeholders, including functional leadership teams and senior management on functional and cross functional areas of impact and alignment.\nManage and mitigate risks through assessment, in support of the control and governance agenda.\nDemonstrate leadership and accountability for managing risk and strengthening controls in relation to the work your team does.\nDemonstrate comprehensive understanding of the organisation functions to contribute to achieving the goals of the business.\nCollaborate with other areas of work, for business aligned support areas to keep up to speed with business activity and the business strategies.\nCreate solutions based on sophisticated analytical thought comparing and selecting complex alternatives. In-depth analysis with interpretative thinking will be required to define problems and develop innovative solutions.\nAdopt and include the outcomes of extensive research in problem solving processes.\nSeek out, build and maintain trusting relationships and partnerships with internal and external stakeholders in order to accomplish key business objectives, using influencing and negotiating skills to achieve outcomes.\n\nAll colleagues will be expected to demonstrate the Barclays Values of Respect, Integrity, Service, Excellence and Stewardship – our moral compass, helping us do what we believe is right. They will also be expected to demonstrate the Barclays Mindset – to Empower, Challenge and Drive – the operating manual for how we behave.\nShow more Show less",
          "job_location": "Prague, Czechia",
          "external_id": "4352652961",
          "job_salary": "{}",
          "company_department": null,
          "job_sector": "Financial Services, Technology, Information and Media, and Banking",
          "contract_type": "Full-time",
          "signal_tier": null,
          "status": "rejected",
          "processed_at": "2026-03-03T08:46:02.526+01:00",
          "company_url": "https://uk.linkedin.com/company/barclays-bank?trk=public_jobs_topcard-org-name",
          "poster_name": "",
          "poster_linkedin": "",
          "company_logo": "https://media.licdn.com/dms/image/v2/C4E0BAQFAXc9z0Go7Uw/company-logo_100_100/company-logo_100_100/0/1663677974291/barclays_bank_logo?e=2147483647&v=beta&t=Wbhfg6jCeqyGRAAHRm9rt8zG3NCAuhHikGg5bL1tH-U",
          "experience_level": "Mid-Senior level",
          "apply_url": "https://cz.linkedin.com/jobs/view/low-latency-c%2B%2B-senior-developer-at-barclays-4352652961?trk=public_jobs_topcard-title",
          "source": "linkedin",
          "description_vector": "[-0.0074623968,9.383577e-05,-0.0030241553,-0.053928632,-0.016116587,0.015157322,0.021700367,-0.014119578,0.03192192,-0.0067216693,-0.025792366,-0.013220896,-0.00812506,0.011701643,0.11795252,-0.011568126,3.738645e-05,0.016083328,0.00023851813,-0.003467612,-0.004748698,-0.00610866,-0.0055190157,-0.018851604,-0.02037426,-0.028907403,-0.00031844797,-0.012037477,0.023545034,-0.0023660094,-0.00799786,0.015332933,-0.013360948,-0.005916191,-0.013558272,0.001240626,-0.017569035,-0.015388538,0.00033293667,0.025295675,0.005201661,0.0011191705,5.627921e-05,-0.0052390383,-0.009388948,0.0028816008,0.0033608493,0.017111534,0.006108967,0.026681764,-0.024170022,-0.012978591,-0.020003347,-0.16256751,-0.0017199834,0.005082052,-0.018966433,-0.014654131,0.030664498,-0.022565503,0.019813849,0.06692551,-0.019403543,-0.002424941,-0.020869713,-0.011002308,0.0026648357,-0.015250565,0.0028669527,-0.019705737,-0.024812046,0.006102033,0.026076466,-0.014079966,0.013015197,0.013320877,-0.003983091,-0.013888377,-0.004063892,-0.006046332,-0.022686662,-0.015951863,-0.008558716,-0.0044714347,-0.018621285,0.006857245,0.00025415112,-0.008474274,0.005583038,-0.034278534,-0.0073493836,-0.0126249185,-0.0070850067,0.0069942586,-0.009295987,-0.005007701,-0.03524395,-0.0008344902,0.0062659415,-0.025748735,-0.008198139,-0.002932774,-0.01260252,-6.177438e-05,0.0012914446,-0.026808405,0.0014893971,-0.03549044,-0.0038108535,0.008050536,0.0007325888,-0.009494068,-0.01572394,-0.0007931781,0.0140994275,-0.15364794,-0.005161582,0.0029472047,-0.007813537,0.0107674785,0.009895656,-0.01370676,0.04166514,-0.01967594,0.03663547,-0.025218597,0.031287905,-0.00935964,-0.012755337,-0.0052467207,-0.027551956,0.014120172,0.026709259,-0.0054157674,-0.023742259,0.0070983404,-0.00049714994,-0.012150793,-0.036438096,-0.0134573635,-0.006165439,-0.00035562672,-0.01722355,0.029765952,0.0052026547,-0.011917119,-0.028628178,-0.0036031818,0.0013579153,0.00066833274,0.023787422,-0.03733315,0.024978144,-0.022103617,0.0052946955,-0.021084243,0.0062969234,0.00058535853,-0.019427093,0.020062778,-0.024704859,-0.011047578,0.010289558,-0.0025929357,0.004047689,-0.010214342,-0.03609917,-0.0037679013,0.023832066,0.017960994,-0.020108894,-0.00884406,-0.012165784,0.0028699986,0.009448754,-0.0071777296,-0.0029188877,0.021011217,-0.014088209,-0.0065524606,0.04520126,0.007278981,0.017400598,0.029679447,-0.015688993,-0.0131807625,-0.012804369,0.023536554,-0.007958259,0.014618804,0.03744682,-0.036809064,0.001004314,-0.014191792,-0.0039321044,-0.035588488,-0.0046578427,0.0035716572,0.0023307134,0.01884491,-0.00528799,-0.03526883,0.0027403412,-0.03995442,0.00057506515,-0.0027721773,0.035168413,-0.0143256895,-0.0019285636,-0.0037146958,0.0015074705,0.03158774,0.00020825575,-0.022307964,-0.012040124,0.013201001,-0.020489898,-0.033554476,0.0021673772,0.0013267384,0.021520216,0.0067924047,-0.016253535,0.009939015,-0.028729396,-0.0095359525,-0.0047936537,0.0044821934,-0.017848318,0.006696372,0.011756905,0.016478274,-0.0005499122,-0.01075077,-0.0013979869,0.009770031,0.018392483,0.0048243897,0.030847806,-0.0065471577,-0.0014007932,-0.0040047956,-0.022603558,0.019742433,0.012706672,0.025539387,-0.024035158,0.003426183,0.0064638406,-0.013327323,0.004036114,-0.020023394,-0.0055225766,0.0020961314,0.002985664,-0.017231945,0.00966445,-0.004327526,0.009912547,-0.004759075,-0.0041800532,-0.0048214355,-0.001121772,-0.007616843,-0.01787027,-0.00550075,0.011254538,0.004752117,-0.017829632,0.015110188,0.017689094,0.028708547,0.026301416,-0.027112497,-0.021991564,-0.01267266,-0.07831558,0.041106623,-0.02391467,0.00044725873,-0.018446067,0.007500498,0.0009061489,-0.009521224,-0.020692274,-0.013612673,-0.034122232,-0.025338722,0.008455826,-0.012396011,-0.009153754,-0.014105937,0.015005456,0.011139091,0.010403205,-0.013419574,0.010651788,-0.017195089,0.001752901,0.012028895,0.012898223,-0.018872783,-0.002877528,0.0435799,0.021871077,-0.009684572,-0.0046248445,0.026370177,-0.007006476,0.020802822,0.00076912023,0.011353939,0.008440522,-0.020733325,0.008606861,0.017633004,0.026303928,-0.0071632774,-0.012140479,0.02012274,0.030552818,0.011019208,-0.0064104716,0.012148582,-0.051872548,0.0063261464,-0.025134983,0.0113357445,0.00888892,0.014767797,-0.0034927067,0.0064244783,0.013447822,-0.026325628,0.009154713,0.01911162,0.021606587,-0.018967675,-0.012659107,0.0025095122,0.0027384828,-0.0028295922,0.00680198,-0.017654378,-0.019790465,0.012073225,-0.008521818,-0.013054292,-0.009438668,-0.0026818102,0.0051170522,0.018968109,0.0014191399,-0.016569037,-0.009332584,0.03493265,-0.003527677,-0.022687143,-0.0021764636,0.010750653,0.010255556,-0.00077556114,0.0029886859,-0.014837591,-0.007302752,-0.00863971,0.0013737617,0.030406168,-0.008023221,0.015121445,-0.015865367,0.021430481,-0.00421708,-0.001966981,0.005709513,0.007109394,-0.014083834,0.009614226,0.026142558,-0.009916332,-0.01797996,0.012907302,-0.027975034,-0.013515676,-0.0020719485,-0.0020564639,0.016958665,0.007046687,-0.0037652068,0.025352782,0.013065404,0.017953938,0.012935172,0.02587466,-0.006324172,-0.0042775664,-0.02717296,0.017892603,0.005206587,-0.029129107,-0.026712714,0.019706497,0.009038733,0.026273001,0.011609365,-0.011614349,-0.0067314813,-0.032609556,-0.01364033,-0.0153288925,-0.0039655427,0.0076369727,0.009286732,0.004102963,0.028690087,0.016449995,-0.020149807,0.014655673,0.019412428,0.011075261,-0.0101354625,0.0017959526,0.013445613,-0.003803634,0.0072311945,0.0025169542,-0.024244746,0.0049617602,-0.041951213,-0.006019516,-0.014087636,0.020210832,0.025634928,-0.0029768995,-0.023347996,-0.01416211,-0.018973239,-0.015289064,-0.026413562,-0.012477441,0.053914525,-0.036821514,0.008582679,-0.0140719805,0.010329197,0.0008205894,0.009135801,-0.02444655,-0.030716034,0.0038418777,0.005913917,-0.01920093,0.0055624517,-0.0019506526,0.019457975,-0.015454605,-0.0053709485,0.00810931,-0.0061883763,0.0051871887,0.00659341,0.028308611,-4.0884075e-05,0.0057397233,-0.020062283,0.0077493847,0.026848754,0.022454454,-0.008002621,0.023587544,0.007471377,0.0015812663,0.0026196425,-0.0023690474,-0.00034908592,-0.013015705,0.036946744,-0.018742692,-0.007654537,0.009590625,0.0021536197,0.0361567,-0.0021621133,-0.023176506,-0.021657443,0.0048982273,0.007794275,0.00045335275,0.0030972462,-0.016297517,0.014025916,0.0024256737,0.004346092,-0.0061022583,0.002225083,0.025103033,-0.0088262465,0.00076598313,0.012334977,0.00046030743,0.025702177,-0.022345759,-0.0020167748,0.0036143495,0.021914829,0.011537715,-0.0031704865,-0.032041233,0.034966014,-0.012717357,-0.020176478,-0.0074764397,0.02470004,-0.023498794,0.009585341,0.0067829043,-0.0040483163,-0.02491263,-0.012557775,0.0077562346,0.020819465,-0.026584283,0.012892372,0.0015449172,-0.013104321,-0.012861416,0.025832597,-0.020675143,-0.013958338,0.0010651618,-0.0020645186,0.04254543,0.00862959,0.0019983172,0.017249348,-0.007189654,-0.015982356,-0.0035576147,0.0032135816,0.012762593,0.004210948,-0.022358373,-0.0063509853,-0.036339357,0.0007624128,-0.072686724,-0.02325583,0.002435244,-0.019076196,-0.015652364,-0.018904421,-0.0105120065,-0.005701834,0.023519395,-0.011106948,0.011319384,0.0046957103,0.009251231,-0.007781758,-0.015658261,-0.018248225,-0.010736109,0.02116182,-0.010379473,-0.04350045,0.015853923,0.0044710077,0.0028811253,0.013900265,0.00014202144,0.015174265,0.0057354867,0.00996707,-4.0035506e-05,-0.004566059,-0.031638514,-0.0076112854,-0.00197974,0.031079596,0.02990972,0.013124901,0.012328726,-0.021383982,0.008013378,0.005262372,0.004535681,-0.032589655,-0.013742663,0.009970603,0.03406145,0.006312774,-0.010070198,0.006658712,-0.0033638203,0.03543178,-0.033680264,-0.0012132878,-0.0021451022,-0.0037155533,0.013906433,-0.0056554535,-0.0036781493,-0.017445374,0.0046733827,0.022649044,-0.013534089,-0.0079229735,0.013235012,0.0023507348,-0.027394874,0.0034678776,0.013712895,0.017883023,0.0042009572,0.05007559,-0.017816717,-0.015034042,-0.026861262,-0.007883859,-0.0024950902,0.0049947724,0.00015366822,0.032223336,-0.012303027,0.0083898585,-0.026713785,-0.015536524,-0.07838415,-0.002432375,0.03020153,-0.009354527,0.01286823,-0.032937996,0.035368808,-0.020555494,-0.017764451,-0.027305754,-0.030180294,-0.0028474804,0.0116128735,0.026273012,0.017354561,0.047816668,0.024588203,0.015502435,-0.007475915,-0.023129212,-0.010526441,0.020310681,0.0029955227,-0.0026111302,-0.0028477723,0.010057095,-0.0022695574,0.0022433435,0.006237449,0.013549201,-0.00025974272,-0.13562225,-0.017631274,-0.017193593,-0.01828893,0.0017985076,-0.0078829685,-0.03580694,0.007848924,-0.015765544,-0.018012468,0.021609372,-0.0073567964,-0.015925394,0.0069579757,-0.008373823,0.1047095,-0.015143702,0.009214623,0.0010447289,-0.0026745722,-0.011582924,-0.033685267,-0.0226452,-0.00032381047,-0.0041940976,-0.011958009,-0.01939388,0.0054724705,0.018835852,0.0053160824,0.015076323,0.00853838,-0.01950305,0.016390847,0.018928306,0.017858507,-0.017601155,0.0028027515,0.029773187,0.0044772704,0.025865704,0.008827993,0.020965457,0.002802906,0.016508076,-0.032213293,-0.0074439463,-0.005949551,0.0014991584,-0.0044878004,-0.014878934,-0.095958255,0.01223915,-0.006316588,0.013051679,-0.0022572419,0.0108392555,0.023138808,0.03409138,0.004177342,-0.0010347001,-0.018278847,-0.010215857,0.018088765,-0.030595604,0.016591856,0.014423561,0.00902598,-0.0143034775,0.014363579,0.0039483593,0.01600855,0.0016633365,-0.016953614,-0.004351638,-0.0018077731,-0.009266338,-0.01101187,-0.0027961887,-0.02509681,0.0069801062,0.033627745,0.0096676005,-0.007921979,-0.020630766,0.0034324618,-0.013339241,-0.0047901664,0.02166857,-0.00043370586,0.012021647,-0.0074240975,0.020461997,0.024713587,0.013755119,0.014003015,-0.007781325,0.025937615,0.01766475,-0.007855563,-0.008765595,-0.023165638,-0.007805167,-0.032542855,-0.013583919,-0.013485751,-0.012409316,-0.013328167,0.009970347,-0.0034301237,0.017460838,0.0026026417,0.0021675192,0.002842416,0.0027994488,-0.004590563,0.010444241,-0.0033535254,-0.0072015757,0.0015787443,0.0045475187,0.005724964,-0.01789633,0.013056203,0.009758752,-0.003803983,0.0022094946,0.008303637,0.0027359128,-0.0013697982,-0.0008632998,0.0038296771,-0.017214147,0.0011263128,-0.012053154,-0.012136507,0.0019587453,0.003267884,-0.006712224,-0.0060691405,0.009072877,0.005860775,0.027753647,0.004587931,0.0026339346,0.014739352,-0.008257177,0.01148947,-0.004103095,-0.012113921,-0.008210944,-0.015129453,0.028739665,-0.017568896,0.014863252,-0.008249842,0.0070522865,0.016467473,-0.011490366,0.0012424045,0.006313267,-0.0046196524,-0.0004924524,-0.0027082954,0.0062853484,-0.0028055971,0.0017284274,-0.0046827504,-0.012117954,0.024629533,-0.000865592,-0.00437663,-0.007383856,0.0061913403,-4.5940622e-05,0.0093464805,-0.0003010486,0.0012570091,0.007909337,-0.00052335544,-0.0075611384,-0.00069073896,-0.0069217514,-0.0007897722,-0.0021398815,0.008163517,-0.00091667037,0.01870595,-0.008595005,-0.0027006578,0.0030636066,-0.007144601,0.02232345,-0.03026753,0.010227519,-0.00028885415,-0.009357998,-0.021587893,-0.020139439,0.007671265,0.011651577,-0.01907022,0.0058168634,0.013439897,0.0037533601,-0.012061864,0.004134292,0.02395973,0.005241307,0.0071043023,-0.00513587,-0.0023290538,0.0041833515,-0.011740928,-0.013332389,-0.002200637,-0.0008287613,-0.001752188,0.004383454,0.005449828,-0.0076693604,0.0040572626,0.009731591,-0.0064530782,0.008388221,-0.009914847,-0.0033375062,-0.004993457,-0.01477287,0.01602143,0.01995483,-0.015819052,-0.00011087834,-0.0033820292,-8.720077e-06,-0.00088464445,0.014814473,-0.018158477,-0.0052459226,0.012124405,0.005444263,0.010560087,0.013640128,0.020822272,-0.005979828,-0.0048596114,0.0076767444,-0.007717534,-0.005625199,0.008364242,-0.009079369,-0.009604057,0.018924376,0.007553186,-0.025865018,-0.008248388,0.00402301,-0.009327518,-0.014660819,0.013094256,-0.015643751,-0.020936163,0.0039288686,-0.006348187,0.012608121,0.0142108565,0.0104058115,0.011296572,-0.01134948,0.013078723,0.010927052,-0.006868221,0.01102077,0.026260354,-0.01130741,-0.017438836,-0.011798652,0.0042755133,-0.0002436083,0.008747671,0.0133359805,-0.0014598777,0.0014706563,-0.014511315,-0.0025332281,0.0001377682,0.0089788595,0.00372771,-0.0031218072,0.0095195,0.002095189,0.0048521427,-0.015004941,0.01167675,-0.009007755,0.0052375477,0.001238598,-0.0028823265,-0.00058272504,0.0107834395,0.008176052,-0.0072871684,-0.018611437,-0.009691943,0.040416677,-0.0139377015,0.009204712,0.0049985666,0.011065838,0.01492678,0.09930866,0.026669538,-0.008305234,-0.009016751,-0.0010510007,-0.008034868,0.0067597535,-0.036770836,-0.00019316745,0.007351938,-0.004679536,0.0038858429,0.009273072,-0.004309383,-0.0045753024,-0.0066890297,-0.0011023432,0.009966238,-0.015925467,0.0055002044,-0.0018946843,-0.0093876105,-0.0026614307,-0.0024036395,0.010231838,0.0010425679,-0.0049089915,-0.02223151,0.0091448845,0.00237063,0.01157556,0.0122443875,-0.017875154,0.007556761,-0.0153263435,0.00984181,0.0026435624,0.011341592,0.01051199,-0.0050876206,0.0106054265,0.00071965705,-0.009583751,-0.0034689193,-0.010019845,0.002444674,-0.018454172,-0.013163364,-0.0015658415,-0.029371135,0.007126827,0.005035541,0.007948129,0.0063765002,-0.008697686,-0.004456875,0.013904745,-0.024746927,-0.0015953424,-0.014439012,-0.0058807144,0.0017122845,0.015316189,-0.006346407,-0.01016427,0.00040530678,0.022978416,-0.016135246,0.0045186994,-0.02207391,0.0049116868,-7.611016e-05,-0.010508049,0.00073200365,0.032824438,-0.0010371106,0.001194578,0.013534706,-0.0017057728,-0.0077866614,0.0010868326,0.009271222,-0.017680198,-0.005039788,0.0023084257,-0.0015337124,-0.01398261,-0.006816683,0.003637553,-0.0020366989,0.0070576337,-0.01401231,0.012015951,0.0011604603,-0.008364761,-0.0058131726,0.050396614,0.022747142,0.0008713683,-0.0051983367,-0.00440064,-0.012561809,0.0009220126,0.011576521,0.016510153,0.010641084,0.021424856,0.0015467529,-0.0031447404,-0.0019358209,0.0070577194,0.010781368,0.0028735327,0.010646267,-0.004597697,-0.006903533,-0.008022853,0.0066398145,0.00042173715,0.006922346,-0.0024964495,-0.026178561,0.005830406,-0.0044247825,0.029528968,0.012087696,0.0047084633,-0.016864331,0.011035075,0.01856752,0.011967042,-0.014525988,-0.004653285,0.013078841,-0.019572567,0.012257364,0.0010140047,0.008729154,-0.0012691574,0.0055882866,-0.0065795323,-0.008338258,-0.015451582,-0.0075766407,-1.0444658e-05,-0.011878845,-0.0051567433,0.0024047226,-0.012602137,-0.018139679,0.013816522,-0.015193404,-0.0069677536,-0.0012556796,-0.004649214,-0.005349621,0.014190258,0.008808381,-0.0167591,0.0031258413,-0.0001035634,-0.008323151,0.0024138407,-0.0041220747,0.0029579215,-0.008434304,-0.010275512,0.024989164,-0.014415132,0.017583735,0.0015063431,-0.006709408,0.029558985,0.0045701233,0.01786257,0.0077980463,0.004555468,-0.012938111,-0.0015482414,-0.0003741607,0.0011844976,0.010891706,0.009893489,0.0051893475,-0.012992373,-0.0087668365,0.0018514101,0.01017696,0.009908911,-0.006298759,0.007358113,-0.018425817,0.00808565,0.0062238905,0.006649517,0.010844547,-0.0069205253,0.012522013,0.012426928,-0.003145307,-0.0014363751,0.0077875447,0.0072369683,0.0068710344,0.0074063395,-0.0038422118,-0.0076330476,-0.0024314108,0.0087723145,-0.0031637023,-0.015967973,-0.025766775,0.018754836,0.0026944159,0.006783972,-0.0043160273,-0.0043480424,5.733522e-05,0.0019043729,-0.0063688727,-0.0026400515,-0.017635215,-0.024316726,0.0019629505,0.015597633,0.0060635265,0.0003204255,-0.004526926,0.017283473,-0.012725376,-0.01258335,-0.015252791,-0.008303077,0.0052039977,0.00020459159,-0.0043486003,0.010120536,-0.0068367454,0.014642228,-0.013397205,-0.022394478,0.010308523,-0.00311947,0.019750917,-0.006545156,-0.009650695,-0.000713915,-0.0024029482,-0.015724892,0.00059157197,-0.011508599,0.008659267,-0.012424585,-0.0056279404,-0.0016584904,-0.0007644942,-0.0048365686,-0.074431926,0.012345351,0.012997033,-0.005329307,0.018609416,0.0105645135,0.005333248,0.001350386,-0.017486118,0.013892445,0.01617735,-0.0038837043,0.008085825,-0.00036544263,0.013171595,0.00620647,0.008050398,-0.0032858478,-0.0019083794,-0.011117968,-0.021545481,-0.011566078,-0.009370317,0.00383129,-0.006530898,-0.008538637,-0.013333071,-0.012834697,-0.010588521,0.0083374595,0.015574666,0.0002689254,0.0020478086,-0.0018058564,-0.027749678,0.010812704,0.001362127,0.00854418,0.011632919,-0.006586042,0.006305001,-0.001297979,0.030843172,0.018099567,-0.011686691,-0.011154165,0.011348556,0.0027308087,0.016399099,-0.017144088,0.0015078839,0.008166522,0.007207651,0.0035073138,0.0133704515,0.005051927,0.0046642483,0.0068118474,-0.005851217,0.0026893152,-0.005354021,-0.0064783473,-0.00082311017,0.021126503,-0.01863974,-0.0013053787,0.0076573784,-0.0057671247,0.01295353,0.035612796,-0.0028178026,-0.0009366408,-0.00019397213,0.014161627,0.0037116595,0.021503266,0.015288644,0.004083986,0.010219477,0.007451395,-0.010789639,0.019054534,0.001972491,-0.011478841,-0.0034460542,0.0059112543,-0.011278372,-0.001328587,-0.022782454,-0.009042352,-0.01425398,0.0031613915,0.0160852,0.008010837,-0.0012644066,0.0040679392,0.00057830045,0.014730057,-0.00012752753,0.017046567,0.0045319246,-0.0151542295,0.01223846,0.01656883,-0.023387067,0.015370334,-0.016802674,0.0036618023,9.801729e-05,0.004801597,0.009485576,-0.0035476545,0.008333781,-0.016693864,-0.0024028574,-0.006650092,0.0039593424,-0.008139784,-0.012389473,-0.013663523,-0.007839184,0.011324271,-0.014450701,-0.0087325955,0.0007539264,-0.0009997156,0.004951783,0.0047348253,0.004175087,-0.0249868,0.014703192,0.01610551,0.01891654,-0.012639183,0.005291796,0.0048796586,0.010566708,0.004816254,-0.021349994,-0.002121372,0.017579418,0.003935288,0.0025546313,-0.008925179,-0.0026646985,-0.0055686566,0.0070188614,0.007633333,-0.0005507635,-0.00090919185,-0.010824524,0.0023374204,0.0072517497,0.020521218,-0.0032609368,-0.0076146377,0.012096439,0.004391912,0.006460311,0.012368733,0.0146289775,-0.00671117,0.0058667962,-0.016836734,0.00254801,0.011103326,-0.018208459,-0.006781034,-0.010781118,0.009766577,0.011271816,-0.011170411,0.0014817603,0.011294321,0.010994229,0.027467282,-0.0065432205,0.008580014,-0.015668357,0.0015342815,0.002073522,-0.0016730125,0.021769738,0.011681715,-0.004686942,0.0036396193,-0.0015326787,-0.0028352574,-0.00022779507,0.0071942364,-0.0015655243,0.007710605,0.0014592089,-0.0112758195,0.021068102,-0.008076403,0.011302435,-0.0013526637,0.0033153025,-0.021669304,-0.01869862,-0.01822726,0.013636833,0.01307356,-0.011499607,-0.09685583,0.00013783052,0.009990129,0.01762762,-0.0025972452,0.0024931363,-0.012296579,0.010800173,-0.016087258,0.003128503,-0.008632861,0.0049713454,0.01500619,-0.016893834,0.009665329,-0.010744499,-0.008218965,-0.011361129,-0.0069698663,-0.0028500487,0.0070450967,0.000436439,-0.015379638,-0.00021920826,0.00088952295,-0.010452077,-0.015215849,0.009295178,0.020991342,0.008969494,-0.009973888,0.00766328,0.0049198926,0.003425978,0.011675424,-0.0024548643,0.017186105,-0.009520293,-0.14186639,-0.010653835,-0.0014123813,0.012681954,0.008232661,-0.015368398,-0.018016448,-0.01388057,-0.006075958,0.00020681995,-0.008865622,0.0027656553,-0.008976684,0.008093046,0.017117796,-0.0032907277,-0.009940927,0.0033442199,-0.009894683,-0.009120405,-0.004240335,0.003835163,-0.022417683,0.020171696,-0.0013973865,0.014627765,0.02092229,-0.0061593796,0.009824535,5.085673e-05,0.028390538,-0.002766612,-0.0030865476,0.0037472157,-0.008839963,-0.0099619515,-0.004912731,0.0006381632,-0.008977347,-0.010211112,-0.0071601383,-0.0147887105,0.01134762,0.003822985,-0.008300483,0.022555137,0.0005697003,-0.0015685926,0.020776922,0.0073734606,-0.0006134923,0.003941008,0.009543313,-0.0025507174,0.009619931,-0.00017575202,-0.0013683385,-0.00035424458,0.0058005988,0.008792017,-0.006925515,-0.007450397,0.006457483,-0.023199987,0.022131912,0.024178438,-0.0004763259,0.00885922]",
          "employment_type": null,
          "work_mode": null,
          "metadata": "\"ideal_cosine_score\": 0.1135563326225313",
          "tech_score": 0,
          "is_active": true,
          "application_stage": "withdrawn",
          "last_interaction": "none",
          "last_checked": "2026-02-24T09:10:48.731+01:00",
          "notes": null,
          "responsibility_score": 11,
          "ideal_score": 38
        }
      }
    ]
  },
  "versionId": "07bb6665-0564-4ade-a506-284fc419d7aa",
  "activeVersionId": "29765079-1cf9-45c3-ba25-fcd45077eae9",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-05T09:43:45.216Z",
      "createdAt": "2026-03-05T09:43:45.216Z",
      "role": "workflow:owner",
      "workflowId": "gHdlEKX8TSjpy2ON",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-05T09:47:32.000Z",
    "createdAt": "2026-03-05T09:43:54.348Z",
    "versionId": "29765079-1cf9-45c3-ba25-fcd45077eae9",
    "workflowId": "gHdlEKX8TSjpy2ON",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          1264,
          -416
        ],
        "id": "24949c26-70b7-4c3c-ba7d-db39f22ab986",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1888,
          -240
        ],
        "id": "8538cff6-751d-452e-b266-d5d49f4a3b41",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "YhtGw7h88f9jUZts",
            "name": "Google Gemini(PaLM) Api account_llm"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1760,
          -416
        ],
        "id": "393ba679-d205-4c99-a7f3-3243066e3f43",
        "name": "Wait1",
        "webhookId": "c43fd4fd-4a1a-400a-880b-b67b39f1ed9a"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const rawMission = $json.output.mission_score; \nconst rawResponsibility = $json.output.responsibility_score;\n\nconst minRange = 0.10;\nconst maxRange = 0.90;\n\nconst adjust = (score) => {\n    let adjustedScore = (score - minRange) / (maxRange - minRange);\n    return Math.max(0, Math.min(1, adjustedScore));\n};\n\nconst adjustedMission = adjust(rawMission);\nconst adjustedResponsibility = adjust(rawResponsibility);\n\nreturn {\n    mission_score: adjustedMission,\n    responsibility_score: adjustedResponsibility,\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          -416
        ],
        "id": "bee73337-34ff-4b7a-845f-91dd12afa9d2",
        "name": "Adjust score llm"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          3808,
          -544
        ],
        "id": "de0019dc-b513-401e-9fde-c3c1b2875099",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1760,
          -736
        ],
        "id": "bca08fcb-3cbb-4916-868b-7dcdb9b33648",
        "name": "Wait",
        "webhookId": "d53c9dd6-3d74-49b0-a2b8-775c95492c7d"
      },
      {
        "parameters": {
          "model": "meta-llama/llama-4-scout-17b-16e-instruct",
          "options": {
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          1856,
          -560
        ],
        "id": "9ea3d3a4-104e-4068-a6bc-123202c8bcce",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "WHKYJmDyVoPXPzmK",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Reference Calibration (Stay consistent with these verified scores):\n\nPillar 1: Mission Alignment\n\nEducation (High Impact): Academy of Digital Industries = 0.82\n\nProductivity SaaS (Neutral): Make.com = 0.35\n\nCommercial SW House (Capped): ARTIN = 0.25\n\nPurely Commercial (Baseline): Inbank = 0.15\n\nPillar 2: Responsibility Fit (Autonomy/Bridge)\n\nADI (Mentor/Designer): High creative autonomy & design freedom = 0.90\n\nMake (Product Manager): High strategic bridge & \"CEO of product\" = 0.85\n\nARTIN (AI Engineer): Creative problem solving over instructions = 0.80\n\nAltamira (Consultant): Bridge role but limited by client/bank frameworks = 0.70\n\nInbank (Implementation): Operational bridge but within rigid finance rails = 0.65\n\nTask: Now, score the following job based on the scales and anchors provided above:\n\nTitle: {{ $json.job_title }}\n\nLevel: {{ $json.experience_level }}\n\nDescription: {{ $json.job_description }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "<system_instructions>\n<persona>\nSenior Talent Scout specialized in Impact-Driven Roles. You value social beauty, compassion, and the democratization of technology. You are an expert at identifying \"Bridge Roles\" where technical AI implementation meets human-centric autonomy.\n</persona>\n\n<task>\nAnalyze the JD and calculate two distinct scores: \n1. \"Mission Alignment Score\": How much the organization's CORE purpose aligns with Social Good, Education, or Open Source.\n2. \"Responsibility Fit Score\": How much the daily tasks allow for autonomy, AI system design, and high-empathy communication (Speaking/Listening).\n</task>\n\n<scoring_anchors_pillar_1_mission>\n0.0 - 0.2: PURELY COMMERCIAL. Banks, standard SaaS, Retail, or Insurance. (Baseline)\n0.3 - 0.5: SEMI-IMPACT / LOCAL. Local small businesses or startups with a \"neutral\" mission.\n0.6 - 0.8: CORE IMPACT. Educational platforms, Open Source contributors, or \"Tech for Good\" initiatives.\n0.9 - 1.0: THE IDEAL MISSION. NGOs, Environmental protection, Global Education, or Non-profit humanitarian work.\n</scoring_anchors_pillar_1_mission>\n\n<scoring_anchors_pillar_2_responsibility>\n0.0 - 0.3: RIGID / SILOED. Pure execution, ticket-based work, no design freedom, or purely technical dev with no human interface.\n0.4 - 0.6: MODERATE / HYBRID. Some design freedom but follows strict corporate frameworks. Limited empathy/speaking requirements.\n0.7 - 0.9: HIGH AUTONOMY / BRIDGE. \"Own the process,\" create syllabuses/frameworks, design AI workflows, or lead implementation through high-empathy communication.\n1.0: THE PERFECT FIT. Complete autonomy to design AI solutions/education from scratch with a focus on human-centric implementation.\n</scoring_anchors_pillar_2_responsibility>\n\n<logic_rules>\n- PILLAR 1: \"NGO/Charity/Non-profit\" = Min 0.85. Primary product \"Education\" = Min 0.70. Commercial SW House cap = 0.30.\n- PILLAR 2: If the JD mentions \"shaping the role,\" \"designing the framework,\" or \"owning the strategy,\" increase fit by 0.2.\n- PILLAR 2: If the role is purely \"maintaining existing systems\" or \"following technical specs,\" cap fit at 0.4.\n- PILLAR 2: Empathy/Speaking/Mentoring tasks are positive signals; don't penalize \"Teaching\" if there is design freedom.\n</logic_rules>\n\n<few_shot_examples>\n<example>\n<jd_snippet>\"AI Data Solutions Engineer for a large bank. Follow existing agile processes to maintain data pipelines.\"</jd_snippet>\n<thought_process>\nMission: Bank is purely commercial (0.15). \nResponsibility: Mentions \"following existing processes\" and \"maintaining.\" Low autonomy and no mention of bridge-style communication.\n</thought_process>\n<mission_score>0.15</mission_score>\n<responsibility_score>0.25</responsibility_score>\n</example>\n<example>\n<jd_snippet>\"AI Enablement Lead. Own the AI adoption strategy, design internal training, and coach teams on AI implementation.\"</jd_snippet>\n<thought_process>\nMission: SaaS/Internal tool (0.40). \nResponsibility: \"Own the strategy\" and \"Design training\" signal high autonomy. \"Coaching\" hits empathy and speaking skills. This is a classic Bridge Role.\n</thought_process>\n<mission_score>0.40</mission_score>\n<responsibility_score>0.90</responsibility_score>\n</example>\n</few_shot_examples>\n\n<constraints>\n- Thought Process: MUST be written first, then reasoning for both pillars, then the scores.\n- Format: Respond only in valid JSON.\n- Input Language: Czech, Slovak, English.\n</constraints>\n</system_instructions>"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1936,
          -416
        ],
        "id": "aad2b700-3c65-494d-a038-355d6be386de",
        "name": "Check pillar fit - llm",
        "retryOnFail": true,
        "waitBetweenTries": 4000
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Analyze this JD: {{ $json.job_description }}\n\nhere is additional job info: \nsalary: {{ $json.job_salary }}\ncontract type: {{ $json.contract_type }}\nwork mode: {{ $json.work_mode }}\nlocation: {{ $json.job_location }}\n\nExtract the following data as \"Yes\" or \"No\":\n\n--- REMOTE LADDER ---\n1. remote_5_5: Is it 100% fully remote?\n2. remote_4_1: Is it 4 days remote, 1 in office?\n3. remote_3_2: Is it 3 days remote, 2 in office?\n4. remote_2_3: Is it 2 days remote, 3 in office?\n5. remote_1_4: Is it 1 day remote, 4 in office?\n\n--- SALARY LADDER ---\n6. salary_120k_plus: Is salary 120k CZK/mo or higher?\n7. salary_100k_120k: Is salary between 100k and 120k CZK/mo?\n8. salary_90k_100k: Is salary between 90k and 100k CZK/mo?\n9. salary_80k_90k: Is salary between 80k and 90k CZK/mo?\n10. salary_70k_80k: Is salary between 70k and 80k CZK/mo?\n\n--- TEAM & PERKS ---\n11. is_international: Is the team described as international, global, or English-speaking?\n12. is_startup: Is the company described as a startup or early-stage?\n13. team_under_5: Is the team size explicitly 5 people or fewer?\n14. team_5_to_10: Is the team size between 6 and 10 people?\n15. has_equity: Does it mention RSUs, stocks, options, or equity?\n16. has_car: Is a company car or car allowance mentioned?\n17. has_edu_budget: Is there a budget for courses, books, or certifications?\n18. has_4_day_week: Is a 4-day or 32-hour work week mentioned?\n\n--- TECH & WORKFLOW ---\n19. uses_n8n: Does it mention n8n or workflow automation?\n20. uses_cursor: Does it mention Cursor or \"vibe-coding\"?\n21. uses_mcp: Does it mention MCP (Model Context Protocol)?\n22. uses_agents: Does it mention AI Agents or Autonomous Agents?\n23. uses_langchain_vector: Does it mention LangChain, LlamaIndex, or Vector Databases (Pinecone, Weaviate, etc.)?\n24. flexible_hours: Does it mention flexible working hours?\n25. direct_impact: Does it mention reporting to or working directly with founders, CEO, CTO, or \"C-level\"?\n\n\n--- THE UNICORN PERKS ---\n26. has_home_office_budget: Does it mention a budget for your home setup?\n27. is_result_driven: Does it mention \"result-based,\" \"output-oriented,\" or \"finish work and you're done\"?\n28. is_flat_hierarchy: Does it mention \"flat hierarchy,\" \"no red tape,\" \"no bureaucracy,\" or \"autonomous teams\"?\n29. is_async_focus: Does it mention \"asynchronous,\" \"deep work,\" \"focus time,\" or \"no-meeting culture\"?\n30. has_free_food: Does it mention free breakfast, lunch, or snacks in the office?\n31. has_retreats: Does it mention \"team retreats,\" \"offsites,\" or \"company trips\"?\n32. has_autonomy: Does it mention \"svoboda,\" \"self-management,\" \"choosing your own tools,\" or \"freedom in how to solve problems\"?\n... (and re-number the rest)\n\n--- ADDONS ---\n33. uses_automation_proxies: \"Yes\" if it mentions Make (Integromat), Zapier, or \"low-code automation\" generally.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "<task>\nAct as a precise Data Extraction Unit. Your only goal is to answer a set of Boolean questions based STRICTLY on the provided Job Description.\n</task>\n\n<rules>\n- Respond ONLY using the provided JSON output tool.\n- Answer every question with exactly \"Yes\" or \"No\".\n- CRITICAL: If a benefit is NOT mentioned, you must output \"No\". Never use \"Not Mentioned\".\n- Use semantic understanding (e.g., \"WFH\" or \"Anywhere\" = Remote).\n- Do not use outside knowledge or research.\n- For the \"Remote Ladder\" and \"Salary Ladder\", only mark \"Yes\" for the most accurate specific range.\n- is_flat_hierarchy: Must explicitly mention \"flat hierarchy,\" \"no managers,\" \"holacracy,\" or \"horizontal structure.\"\n- is_result_driven: Must explicitly mention \"results only,\" \"output-based,\" or \"no tracked hours.\"\n- is_async_focus: Must explicitly mention \"async,\" \"no-meeting,\" or \"deep work.\"\n- Be STRICT with \"Direct Impact\": Only \"Yes\" if C-suite, Founders, or \"Management-free reporting\" is mentioned.\n- uses_automation_proxies: Only \"Yes\" if competitive tools like Make, Integromat, or Zapier are mentioned.\n- has_autonomy: Answer \"Yes\" if there is ANY mention (even once) of self-reliance, creative/strategic control, independence, \"shaping,\" \"owning a product,\" or \"freedom to explore.\" or \"being CEO of own product\". \nCRITICAL: A single mention is an automatic \"Yes\" trigger. Do NOT weigh this against mentions of meetings, collaboration, or stakeholders. If the signal exists, the answer is \"Yes\".\n\n</rules>"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1904,
          -736
        ],
        "id": "8e41a759-db17-48cd-95fd-dff4c668296f",
        "name": "Check bonus boolean",
        "retryOnFail": true,
        "waitBetweenTries": 4000
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "let bonus = 0;\nconst data = $json.output; \n\n// 1. Remote & Salary\nif (data.remote_5_5 === \"Yes\") bonus += 50;\nelse if (data.remote_4_1 === \"Yes\") bonus += 40;\nelse if (data.remote_3_2 === \"Yes\") bonus += 30;\nelse if (data.remote_2_3 === \"Yes\") bonus += 20;\nelse if (data.remote_1_4 === \"Yes\") bonus += 10;\nif (data.salary_120k_plus === \"Yes\") bonus += 70;\nelse if (data.salary_100k_120k === \"Yes\") bonus += 50;\nelse if (data.salary_90k_100k === \"Yes\") bonus += 40;\nelse if (data.salary_80k_90k === \"Yes\") bonus += 25;\nelse if (data.salary_70k_80k === \"Yes\") bonus += 10;\n\n// 2. High-Value Culture\nif (data.has_4_day_week === \"Yes\") bonus += 100;\nif (data.is_flat_hierarchy === \"Yes\") bonus += 70;\nif (data.is_async_focus === \"Yes\") bonus += 45;\nif (data.has_autonomy === \"Yes\") bonus += 40;\nif (data.is_result_driven === \"Yes\") bonus += 40;\nif (data.direct_impact === \"Yes\") bonus += 35;\n\n// 3. Tech Stack\nif (data.uses_n8n === \"Yes\") bonus += 50;\nif (data.uses_automation_proxies === \"Yes\") bonus += 25; \nif (data.uses_cursor === \"Yes\") bonus += 25;\nif (data.uses_mcp === \"Yes\") bonus += 35;\nif (data.uses_agents === \"Yes\") bonus += 50;\nif (data.uses_langchain_vector === \"Yes\") bonus += 15;\n\n// 4. Perks & Environment\nif (data.has_equity === \"Yes\") bonus += 30;\nif (data.is_international === \"Yes\") bonus += 20;\nif (data.is_startup === \"Yes\") bonus += 30;\nif (data.has_edu_budget === \"Yes\") bonus += 20;\nif (data.has_free_food === \"Yes\") bonus += 15;\nif (data.has_home_office_budget === \"Yes\") bonus += 15;\nif (data.has_retreats === \"Yes\") bonus += 15;\nif (data.team_under_5 === \"Yes\") bonus += 25;\nif (data.team_5_to_10 === \"Yes\") bonus += 15;\nif (data.has_car === \"Yes\") bonus += 50;\nif (data.flexible_hours === \"Yes\") bonus += 10;\n\nreturn { \n  total_score: bonus,\n  bonus: data \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          -736
        ],
        "id": "eb82473a-4bf6-48ba-9378-dcfa53a45230",
        "name": "Calculate bonus"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $json;\n\nconst missionScore = item.mission_score;\nconst responsibilityScore = item.responsibility_score;\nconst idealScoreCosine = ($('Standardize input').item.json.ideal_score)/100;\n\nconst weightMission = 0.4;\nconst weightResponsibility = 0.4;\nconst weightCosine = 0.2;\n\nconst finalWeightedScore = (missionScore * weightMission) + (responsibilityScore * weightResponsibility) + (idealScoreCosine * weightCosine);\n\nreturn {\n  final_weighted_score: finalWeightedScore,\n  mission_weighted: missionScore * weightMission,\n  responsibility_weighted: responsibilityScore * weightResponsibility,\n  cosine_weighted: idealScoreCosine * weightCosine\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          -416
        ],
        "id": "74d04ffd-8de9-4db8-b053-aef00256fe80",
        "name": "Calculate weighted sum"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "job_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "job_url",
                "condition": "eq",
                "keyValue": "={{ $json.job_url }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "metadata",
                "fieldValue": "={{ $json.metadata }}"
              },
              {
                "fieldId": "processed_at",
                "fieldValue": "={{ $now.toISO() }}"
              },
              {
                "fieldId": "match_score",
                "fieldValue": "={{ $json.match_score }}"
              },
              {
                "fieldId": "signal_tier",
                "fieldValue": "={{ $json.signal_tier }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "scored"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3152,
          -560
        ],
        "id": "1ef3e847-df2a-43b8-9a1f-2ef7ccdafc1e",
        "name": "Update a row",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "qB1TBV7vyX50RGhp",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const pillarScore = $input.item.json.final_weighted_score;\nconst bonusScore = $input.item.json.total_score;\nconst mission = $input.item.json.mission_weighted;\nconst responsibility = $input.item.json.responsibility_weighted;\n\nconst pillarMultiplier = 300;\n\nconst pillarScoreMultiplied = Math.round(pillarScore * pillarMultiplier);\nlet finalSumScore = pillarScoreMultiplied + bonusScore;\n\nlet signalTier = 'low';\n\nif (mission >= 0.3 && responsibility >= 0.3) {\n  signalTier = 'rare';\n} else if (finalSumScore >= 400) {\n  signalTier = 'high';\n} else if (finalSumScore >= 280) {\n  signalTier = 'mid';\n}\n\nreturn {\n  signal_tier: signalTier,\n  match_score: finalSumScore,\n  job_url:$('Standardize input').item.json.job_url,\n  metadata: {\n    scores: {\n      mission,\n      responsibility,\n      pillar: pillarScoreMultiplied,\n      bonus: bonusScore,\n    },\n    flags: {\n      remote_5_5: $json.bonus.remote_5_5,\n      remote_4_1: $json.bonus.remote_4_1,\n      remote_3_2: $json.bonus.remote_3_2,\n      salary_120k_plus: $json.bonus.salary_120k_plus,\n      salary_100k_120k: $json.bonus.salary_100k_120k,\n      salary_90k_100k: $json.bonus.salary_90k_100k,\n      team_under_5: $json.bonus.team_under_5,\n      equity: $json.bonus.has_equity,\n      car: $json.bonus.has_car,\n      n8n: $json.bonus.uses_n8n,\n      agents: $json.bonus.uses_agents,\n      result_driven: $json.bonus.is_result_driven,\n      flat_hierarchy: $json.bonus.is_flat_hierarchy\n    }\n  }\n}\n;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2960,
          -560
        ],
        "id": "90ac504a-a59b-4f40-bb79-a60d8919fcb4",
        "name": "Finalize sum + payload"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "nvHCNWL4_7W0r-v9r2u0G",
            "mode": "list",
            "cachedResultUrl": "/workflow/nvHCNWL4_7W0r-v9r2u0G",
            "cachedResultName": "research_high_rare"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3584,
          -704
        ],
        "id": "d4ad9d65-ce41-45fb-b67e-26b181984452",
        "name": "Call 'research_high_rare'",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "76330b5c-f689-4ce0-b216-8a98ee0b65cf",
                "leftValue": "={{ $json.signal_tier }}",
                "rightValue": "high",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "d6d2ede8-4542-4e55-87b9-8b86170d91ec",
                "leftValue": "={{ $json.signal_tier }}",
                "rightValue": "rare",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3344,
          -560
        ],
        "id": "5b5f337c-d6f8-47be-b978-e19d8569f187",
        "name": "Is high or rare?"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"thought_process\": \"text\",\n  \"reasoning\": \"text\",\n  \"mission_score\": 0.72,\n  \"responsibility_score\": 0.45\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2128,
          -240
        ],
        "id": "4a12024b-4877-4e52-bbff-b25b17da46cb",
        "name": "Structured Output Parser1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"remote_5_5\": { \"type\": \"string\" },\n    \"remote_4_1\": { \"type\": \"string\" },\n    \"remote_3_2\": { \"type\": \"string\" },\n    \"remote_2_3\": { \"type\": \"string\" },\n    \"remote_1_4\": { \"type\": \"string\" },\n    \"salary_120k_plus\": { \"type\": \"string\" },\n    \"salary_100k_120k\": { \"type\": \"string\" },\n    \"salary_90k_100k\": { \"type\": \"string\" },\n    \"salary_80k_90k\": { \"type\": \"string\" },\n    \"salary_70k_80k\": { \"type\": \"string\" },\n    \"is_international\": { \"type\": \"string\" },\n    \"is_startup\": { \"type\": \"string\" },\n    \"team_under_5\": { \"type\": \"string\" },\n    \"team_5_to_10\": { \"type\": \"string\" },\n    \"has_equity\": { \"type\": \"string\" },\n    \"has_car\": { \"type\": \"string\" },\n    \"has_edu_budget\": { \"type\": \"string\" },\n    \"has_4_day_week\": { \"type\": \"string\" },\n  \"uses_n8n\": { \"type\": \"string\" },\n    \"uses_cursor\": { \"type\": \"string\" },\n    \"uses_mcp\": { \"type\": \"string\" },\n    \"uses_agents\": { \"type\": \"string\" },\n    \"uses_langchain_vector\": { \"type\": \"string\" },\n    \"flexible_hours\": { \"type\": \"string\" },\n    \"direct_impact\": { \"type\": \"string\" },\n    \"has_home_office_budget\": { \"type\": \"string\" },\n    \"is_result_driven\": { \"type\": \"string\" },\n    \"is_flat_hierarchy\": { \"type\": \"string\" },\n    \"is_async_focus\": { \"type\": \"string\" },\n    \"has_free_food\": { \"type\": \"string\" },\n    \"has_retreats\": { \"type\": \"string\" },\n    \"has_autonomy\": { \"type\": \"string\" },\n    \"uses_automation_proxies\": { \"type\": \"string\" }\n}\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2096,
          -560
        ],
        "id": "c620744f-81f2-4a0b-b8ef-bb1cf1573721",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {
            "includeUnpaired": true
          }
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2752,
          -560
        ],
        "id": "9d5f4bca-319c-4c44-bc56-d02ecf17e812",
        "name": "Merge1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e6f82e4-042a-49fe-b7d9-34eafdead4e7",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "98dd640c-efc3-4cc2-8f45-442711c3aaf6",
                "name": "published_at",
                "value": "={{ $json.published_at }}",
                "type": "string"
              },
              {
                "id": "ddc97d13-cf78-4120-af9c-2135094c68e5",
                "name": "company_name",
                "value": "={{ $json.company_name }}",
                "type": "string"
              },
              {
                "id": "d83105f2-d36e-4f58-a304-048d6b1cea81",
                "name": "job_title",
                "value": "={{ $json.job_title }}",
                "type": "string"
              },
              {
                "id": "98472579-8758-49e7-afb3-4c9cccec75bc",
                "name": "job_url",
                "value": "={{ $json.job_url }}",
                "type": "string"
              },
              {
                "id": "b750dd49-51e3-4f87-a61a-c4c33978f17d",
                "name": "match_score",
                "value": "={{ $json.match_score }}",
                "type": "number"
              },
              {
                "id": "9988f698-c59a-4a5c-8162-81c45b75e224",
                "name": "job_description",
                "value": "={{ $json.job_description }}",
                "type": "string"
              },
              {
                "id": "5804039c-ea1b-43fd-8c6b-bb4b3cbcbdbb",
                "name": "job_location",
                "value": "={{ $json.job_location }}",
                "type": "string"
              },
              {
                "id": "429a78c3-9b24-4a4f-96c3-43aaee37d6c3",
                "name": "external_id",
                "value": "={{ $json.external_id }}",
                "type": "string"
              },
              {
                "id": "b775719f-125e-463c-ae72-458bc4659483",
                "name": "job_salary",
                "value": "={{ $json.job_salary }}",
                "type": "string"
              },
              {
                "id": "ee82521f-b573-4d52-aa26-4e46c5a5a0a3",
                "name": "company_department",
                "value": "={{ $json.company_department }}",
                "type": "string"
              },
              {
                "id": "667763ef-6bbf-422e-b98a-44bb51b835bb",
                "name": "job_sector",
                "value": "={{ $json.job_sector }}",
                "type": "string"
              },
              {
                "id": "e02990cc-70a0-4672-a050-6280df10fdb8",
                "name": "contract_type",
                "value": "={{ $json.contract_type }}",
                "type": "string"
              },
              {
                "id": "3d532878-6ff8-4d21-9bea-fd927ab38bd9",
                "name": "signal_tier",
                "value": "={{ $json.signal_tier }}",
                "type": "string"
              },
              {
                "id": "45833e66-5531-4b1f-b56c-3401f31448c8",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "49c83c67-536e-42be-a041-4b247875218b",
                "name": "processed_at",
                "value": "={{ $json.processed_at }}",
                "type": "string"
              },
              {
                "id": "e36b8eb9-3dc9-406b-aa74-0ba4839ff0eb",
                "name": "company_url",
                "value": "={{ $json.company_url }}",
                "type": "string"
              },
              {
                "id": "80d94137-bddf-4264-80c3-d0eb5ecda587",
                "name": "poster_name",
                "value": "={{ $json.poster_name }}",
                "type": "string"
              },
              {
                "id": "cf1fb289-8821-4cbf-bdea-814ee646ed9e",
                "name": "poster_linkedin",
                "value": "={{ $json.poster_linkedin }}",
                "type": "string"
              },
              {
                "id": "f7041f7f-79c8-4f8d-a280-56a151df3885",
                "name": "company_logo",
                "value": "={{ $json.company_logo }}",
                "type": "string"
              },
              {
                "id": "4dc74732-aa86-4718-9e3f-f2ac23552cda",
                "name": "experience_level",
                "value": "={{ $json.experience_level }}",
                "type": "string"
              },
              {
                "id": "ccbbece4-e599-4a22-91fd-6d5a4425240f",
                "name": "apply_url",
                "value": "={{ $json.apply_url }}",
                "type": "string"
              },
              {
                "id": "9c881010-3c28-4f7e-a5fd-da3e9f6814d2",
                "name": "source",
                "value": "={{ $json.source }}",
                "type": "string"
              },
              {
                "id": "7c61ac99-d19a-48ed-94a0-754f00eba142",
                "name": "description_vector",
                "value": "={{ $json.description_vector }}",
                "type": "string"
              },
              {
                "id": "83620fee-933a-4de4-9652-91faa26f6260",
                "name": "employment_type",
                "value": "={{ $json.employment_type }}",
                "type": "string"
              },
              {
                "id": "e70e38db-bc1d-4bf4-807f-55155ff0ed8c",
                "name": "work_mode",
                "value": "={{ $json.work_mode }}",
                "type": "string"
              },
              {
                "id": "2fd7e6b1-856b-4d4a-b90d-7d177318cbe2",
                "name": "metadata",
                "value": "={{ $json.metadata }}",
                "type": "string"
              },
              {
                "id": "7b1de7ac-addb-4f76-a3bf-959d7acafff6",
                "name": "tech_score",
                "value": "={{ $json.tech_score }}",
                "type": "string"
              },
              {
                "id": "b3449308-ba72-4ad3-8a6c-aceb70c3d693",
                "name": "responsibility_score",
                "value": "={{ $json.responsibility_score }}",
                "type": "number"
              },
              {
                "id": "bc4b0d48-ba86-474d-85d7-991446cb804c",
                "name": "application_stage",
                "value": "={{ $json.application_stage }}",
                "type": "string"
              },
              {
                "id": "508d8b5b-84cc-4ed8-8822-71dd78bed93c",
                "name": "ideal_score",
                "value": "={{ $json.ideal_score }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          -416
        ],
        "id": "eea5cdd4-1933-4743-9347-a218aeea7d83",
        "name": "Standardize input"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Standardize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check pillar fit - llm",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Check pillar fit - llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adjust score llm": {
        "main": [
          [
            {
              "node": "Calculate weighted sum",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          []
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Check bonus boolean",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check bonus boolean",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Check pillar fit - llm": {
        "main": [
          [
            {
              "node": "Adjust score llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check bonus boolean": {
        "main": [
          [
            {
              "node": "Calculate bonus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate bonus": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate weighted sum": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Is high or rare?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize sum + payload": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'research_high_rare'": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is high or rare?": {
        "main": [
          [
            {
              "node": "Call 'research_high_rare'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Check pillar fit - llm",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Check bonus boolean",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Finalize sum + payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Standardize input": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            },
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "d d",
    "name": "Version 29765079",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T13:15:23.201Z",
      "createdAt": "2026-01-26T08:43:12.205Z",
      "id": "q3Jm1TtyectpAeLG",
      "name": "score"
    }
  ]
}