workflows/score_reject_technical.json
{
  "updatedAt": "2026-03-23T07:27:29.774Z",
  "createdAt": "2026-03-05T09:43:06.766Z",
  "id": "fShvCbZRgCtLGec8",
  "name": "score_reject_technical",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $('Standardize input').all();\n\nconst hardReject = [\n'sales', 'director', 'assistant', 'recruiter', 'intern',  'stáž', 'graduate', 'account manager', 'executive', 'head', 'representative', 'marketing', 'ředitel', 'vedoucí', 'legal', 'prodej', 'obchod', 'customer success', 'seo', 'lead', 'principal', 'staff', 'part-time', 'part time', 'junior'\n];\n\nconst contextualReject = [ \n'full-stack', 'fullstack', 'java', 'php', 'c++', 'c#', '.net', 'kotlin', 'rust', 'golang', 'ios', 'android', 'swift', 'react native', 'qa automation', 'test automation', 'kubernetes', 'manual tester', 'developer', 'vývojář', 'engineer', 'inženýr', 'consultant'\n];\n\nconst saviorKeyword = [\n'ai', 'automat', 'n8n', 'agent', 'architect', 'ops', 'operat', 'solution', 'workflow', 'specialist', 'low-code', 'no-code', 'integration', 'product', 'mcp', 'implement', 'bridge', 'process', 'enablement', 'strategy', 'delivery'\n]\n\nreturn items.map(item => {\n  const title = (item.json.job_title || \"\").toLowerCase();\n\n  let newStatus = 'filtered';\n\n  const isHardReject = hardReject.some(word => title.includes(word));\n  const isContextualReject = contextualReject.some(word => title.includes(word));\n  const hasSavior = saviorKeyword.some(word => title.includes(word));\n  \n  if (isHardReject) {\n    newStatus = 'rejected';\n  }\n  else if (hasSavior) {\n    newStatus = 'passed_title';\n  }\n  else if (isContextualReject) {\n    newStatus = 'rejected';\n  }\n\n  return {\n    json: {\n      ...item.json,\n      status: newStatus,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -304
      ],
      "id": "5eb1205d-3afd-48f7-8338-31caf670847b",
      "name": "Reject titles",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "job_url",
              "condition": "eq",
              "keyValue": "={{ $json.job_url }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "tech_score",
              "fieldValue": "={{ $json.multipliedScore }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        -432
      ],
      "id": "aeb0609f-b4c1-46af-8cdb-b868c396cedd",
      "name": "Update a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "qB1TBV7vyX50RGhp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cf32c89d-73f9-4e42-992a-bb6f8ef48bd3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rejected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -304
      ],
      "id": "ec6c1e24-6db2-4320-bb12-cccefddc2125",
      "name": "Is rejected?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        -240
      ],
      "id": "b4b575ae-ec98-48d3-ad02-563a99abffe8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const llmScore = $json.technicalScoreLLM;\nconst cosineScore = $json.technicalScoreCosine;\nconst weightedScore = $json.new_technical_score;\nconst title = $json.job_title.toLowerCase();\nconst hasAI = title.includes('ai');\nconst multipliedScore = Math.round(weightedScore * 100);\n\nconst maxAllowedDiff = 0.4;\nconst passMax = 0.5;\nconst reviewMax = 0.59;\n\nlet finalDecision = 'rejected';\nlet reason = 'Too technical';\nlet applicationStage = 'lead';\n\nconst scoreDifference = Math.abs(llmScore - cosineScore);\n\nif (scoreDifference > maxAllowedDiff && llmScore < reviewMax) {\n  finalDecision = 'manual_review';\n  reason = \"LLM and Cosine score difference too big\";\n}\nelse if (weightedScore < passMax) {\n  finalDecision = 'passed_description';\n  reason = 'Not so technical'\n}\nelse if (weightedScore >= passMax && weightedScore <= reviewMax) {\n  if (hasAI) {\n    finalDecision = 'manual_review';\n    reason = 'Mid technical with AI title';\n  } else {\n    finalDecision = 'rejected';\n    reason = 'Mid technical without AI title';\n    applicationStage = 'withdrawn';\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    status: finalDecision,\n    multipliedScore,\n    reason,\n    applicationStage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -240
      ],
      "id": "8de6bb39-cbe8-4a3e-bb57-2f931d7c2f06",
      "name": "Reject technical descriptions"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        32
      ],
      "id": "a45410c0-18b1-4588-a51e-71e05576f4b3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YhtGw7h88f9jUZts",
          "name": "Google Gemini(PaLM) Api account_llm"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM check_vibe(\n  '{{ $json.description_vector }}'::extensions.vector(1536),\n  'technical_anchor'\n) AS technical_score_cosine;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        208
      ],
      "id": "ee738ca1-be5a-4c44-9594-483f7e51d8fb",
      "name": "Check technicality - cosine",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 5,
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres careerops"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Provided job description:\n {{ $json.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "<system_instructions>\n<persona>\nYou are a Senior Executive Talent Scout for a Tier-1 AI Consultancy. You specialize in identifying \"Bridge Professionals\"—individuals who translate business strategy into high-level AI architecture and operations (AI Ops, Solutions Architecture, Implementation). You explicitly AVOID \"Engine Room\" roles that are purely execution-heavy or research-based.\n</persona>\n\n<task>\nAnalyze the provided Job Description (JD) and assess its \"Engine Room\" intensity. You are looking for roles focused on design and orchestration (The Bridge). You are filtering out roles focused on heavy coding and infrastructure (The Engine Room).\n</task>\n\n<scoring_logic>\n0.8 - 1.0: PURE ENGINE ROOM (AUTO-REJECT). Focused on \"how the computer works.\" Manual memory management, kernel development, training base models from scratch, low-level C++/Rust, or heavy Kubernetes/DevOps infrastructure.\n0.6 - 0.7: CODING HEAVY (AUTO-REJECT). Focused on \"building the engine.\" 80%+ of time is spent writing backend code, managing complex CI/CD, or deep legacy software engineering.\n0.51 - 0.59: MANUAL REVIEW (THE MAYBE PILE). Ambiguous roles. Mentions both high-level design and significant backend coding without a clear primary focus.\n0.2 - 0.5: THE BRIDGE (TARGET). Focused on \"using the tools.\" API orchestration (Langchain, OpenAI), workflow design, AI strategy, and implementation. Python is used for \"wiring\" things together, not building infrastructure.\n0.0 - 0.1: LIGHT TECH. Pure no-code automation, project management, or AI consulting with zero technical execution required.\n</scoring_logic>\n\n<anchoring_instructions>\nDO NOT cluster scores at 0.5. Be aggressive in your judgment. If the JD emphasizes \"Business Outcomes\" and \"Workflow Design,\" drive the score below 0.5. If it emphasizes \"Code Quality,\" \"Scalability,\" and \"Infrastructure,\" drive it above 0.6.\n</anchoring_instructions>\n\n<few_shot_examples>\n<example>\n<jd_snippet>...manual memory management in C++ and Rust for high-throughput backend...</jd_snippet>\n<reasoning>This is pure low-level execution focused on infrastructure; it is 100% Engine Room.</reasoning>\n<score>0.95</score>\n</example>\n<example>\n<jd_snippet>...AI Solutions Architect designing LLM workflows using LangChain and Python APIs to bridge client needs...</jd_snippet>\n<reasoning>The focus is on design and orchestration (\"wiring\") rather than building the underlying engine.</reasoning>\n<score>0.35</score>\n</example>\n</few_shot_examples>\n\n<constraints>\n- Language: The JD may be in Czech, Slovak, or English. Translate the meaning before scoring.\n- Thinking: You MUST provide a \"thought_process\" before the score to ensure accuracy.\n</constraints>\n</system_instructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -160
      ],
      "id": "d9040b20-cad5-49ab-bc03-b980af1f059b",
      "name": "Check technicality - llm",
      "retryOnFail": true,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nconst technicalScoreLLM = item.technical_score_llm;\nconst technicalScoreCosine = item.technical_score_cosine;\n\nconst weightLLM = 0.7;\nconst weightCosine = 0.3;\n\nconst finalTechnicalScore = (technicalScoreLLM * weightLLM) + (technicalScoreCosine * weightCosine);\n\nreturn {\n  new_technical_score: finalTechnicalScore,\n  technicalScoreLLM,\n  technicalScoreCosine\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -144
      ],
      "id": "a67f0f29-7e8a-4f73-b059-6e48aa192e75",
      "name": "Calculate weighted technicality"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"thought_process\": \"text\",\n  \"reasoning\": \"text\",\n  \"technical_score_llm\": 0.5\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        32
      ],
      "id": "cd266088-9e6a-44bc-9dca-d69eb823b746",
      "name": "Structured Output Parser",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawScore = $json.output?.technical_score_llm;\n\nconst min = 0.10;\nconst max = 0.80;\n\nlet adjusted_score = (rawScore - min) / (max - min);\n\nadjusted_score = Math.max(0, Math.min(1, adjusted_score));\n\nreturn  {\n    technical_score_llm: adjusted_score\n  }\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -160
      ],
      "id": "40bde504-0235-493c-8423-45a475757cf5",
      "name": "Adjust score llm"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawScore = $json.technical_score_cosine;\n\nconst min = 0.51;\nconst max = 0.65;\n\nlet adjusted_score = (rawScore - min) / (max - min);\n\nadjusted_score = Math.max(0, Math.min(1, adjusted_score));\n\nreturn  {\n    technical_score_cosine: adjusted_score\n  }\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        208
      ],
      "id": "790792a4-73a2-4d42-a907-67fb4244d7e0",
      "name": "Adjust score cosine"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1021ed61-251d-4947-9faf-33ce3965e97b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rejected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -240
      ],
      "id": "5fc8c93e-61a0-48dc-b1dc-bb44d57c1cde",
      "name": "Is rejected?1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -304
      ],
      "id": "a5482bc5-059f-451e-be12-bcc5fae115c3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        -144
      ],
      "id": "62302278-ec1c-44bd-bf20-9f28260d2b4f",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        -160
      ],
      "id": "a09bf0aa-bb13-44ee-b7fb-54a308790de9",
      "name": "Wait",
      "webhookId": "73413620-0112-433f-bf75-39fe9a3ba119"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2592,
        -240
      ],
      "id": "90cb680b-6679-414f-a001-da46722c4ef3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e6f82e4-042a-49fe-b7d9-34eafdead4e7",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98dd640c-efc3-4cc2-8f45-442711c3aaf6",
              "name": "published_at",
              "value": "={{ $json.published_at }}",
              "type": "string"
            },
            {
              "id": "ddc97d13-cf78-4120-af9c-2135094c68e5",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "d83105f2-d36e-4f58-a304-048d6b1cea81",
              "name": "job_title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            },
            {
              "id": "98472579-8758-49e7-afb3-4c9cccec75bc",
              "name": "job_url",
              "value": "={{ $json.job_url }}",
              "type": "string"
            },
            {
              "id": "b750dd49-51e3-4f87-a61a-c4c33978f17d",
              "name": "match_score",
              "value": "={{ $json.match_score }}",
              "type": "number"
            },
            {
              "id": "9988f698-c59a-4a5c-8162-81c45b75e224",
              "name": "job_description",
              "value": "={{ $json.job_description }}",
              "type": "string"
            },
            {
              "id": "5804039c-ea1b-43fd-8c6b-bb4b3cbcbdbb",
              "name": "job_location",
              "value": "={{ $json.job_location }}",
              "type": "string"
            },
            {
              "id": "429a78c3-9b24-4a4f-96c3-43aaee37d6c3",
              "name": "external_id",
              "value": "={{ $json.external_id }}",
              "type": "string"
            },
            {
              "id": "b775719f-125e-463c-ae72-458bc4659483",
              "name": "job_salary",
              "value": "={{ $json.job_salary }}",
              "type": "string"
            },
            {
              "id": "ee82521f-b573-4d52-aa26-4e46c5a5a0a3",
              "name": "company_department",
              "value": "={{ $json.company_department }}",
              "type": "string"
            },
            {
              "id": "667763ef-6bbf-422e-b98a-44bb51b835bb",
              "name": "job_sector",
              "value": "={{ $json.job_sector }}",
              "type": "string"
            },
            {
              "id": "e02990cc-70a0-4672-a050-6280df10fdb8",
              "name": "contract_type",
              "value": "={{ $json.contract_type }}",
              "type": "string"
            },
            {
              "id": "3d532878-6ff8-4d21-9bea-fd927ab38bd9",
              "name": "signal_tier",
              "value": "={{ $json.signal_tier }}",
              "type": "string"
            },
            {
              "id": "45833e66-5531-4b1f-b56c-3401f31448c8",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "49c83c67-536e-42be-a041-4b247875218b",
              "name": "processed_at",
              "value": "={{ $json.processed_at }}",
              "type": "string"
            },
            {
              "id": "e36b8eb9-3dc9-406b-aa74-0ba4839ff0eb",
              "name": "company_url",
              "value": "={{ $json.company_url }}",
              "type": "string"
            },
            {
              "id": "80d94137-bddf-4264-80c3-d0eb5ecda587",
              "name": "poster_name",
              "value": "={{ $json.poster_name }}",
              "type": "string"
            },
            {
              "id": "cf1fb289-8821-4cbf-bdea-814ee646ed9e",
              "name": "poster_linkedin",
              "value": "={{ $json.poster_linkedin }}",
              "type": "string"
            },
            {
              "id": "f7041f7f-79c8-4f8d-a280-56a151df3885",
              "name": "company_logo",
              "value": "={{ $json.company_logo }}",
              "type": "string"
            },
            {
              "id": "4dc74732-aa86-4718-9e3f-f2ac23552cda",
              "name": "experience_level",
              "value": "={{ $json.experience_level }}",
              "type": "string"
            },
            {
              "id": "ccbbece4-e599-4a22-91fd-6d5a4425240f",
              "name": "apply_url",
              "value": "={{ $json.apply_url }}",
              "type": "string"
            },
            {
              "id": "9c881010-3c28-4f7e-a5fd-da3e9f6814d2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "7c61ac99-d19a-48ed-94a0-754f00eba142",
              "name": "description_vector",
              "value": "={{ $json.description_vector }}",
              "type": "string"
            },
            {
              "id": "83620fee-933a-4de4-9652-91faa26f6260",
              "name": "employment_type",
              "value": "={{ $json.employment_type }}",
              "type": "string"
            },
            {
              "id": "e70e38db-bc1d-4bf4-807f-55155ff0ed8c",
              "name": "work_mode",
              "value": "={{ $json.work_mode }}",
              "type": "string"
            },
            {
              "id": "2fd7e6b1-856b-4d4a-b90d-7d177318cbe2",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "string"
            },
            {
              "id": "7b1de7ac-addb-4f76-a3bf-959d7acafff6",
              "name": "tech_score",
              "value": "={{ $json.tech_score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -304
      ],
      "id": "d31fd845-d264-4c1a-89c7-f94e336fad50",
      "name": "Standardize input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bhlGPoZTR6B1MQhp",
          "mode": "list",
          "cachedResultUrl": "/workflow/bhlGPoZTR6B1MQhp",
          "cachedResultName": "02_reject_nonAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        -96
      ],
      "id": "3470b108-e60c-439c-9789-20b281b0dd2d",
      "name": "Call '02_reject_nonAI'"
    }
  ],
  "connections": {
    "Reject titles": {
      "main": [
        [
          {
            "node": "Is rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Is rejected?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is rejected?": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check technicality - cosine",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Reject technical descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject technical descriptions": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check technicality - llm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check technicality - cosine": {
      "main": [
        [
          {
            "node": "Adjust score cosine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check technicality - llm": {
      "main": [
        [
          {
            "node": "Adjust score llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Check technicality - llm",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Calculate weighted technicality": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Adjust score llm": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjust score cosine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is rejected?1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call '02_reject_nonAI'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Standardize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Calculate weighted technicality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check technicality - llm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Standardize input": {
      "main": [
        [
          {
            "node": "Reject titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '02_reject_nonAI'": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "5cf4673a-df6c-47a7-af53-ac83636810bb",
          "published_at": "2026-03-20T00:00:00.000Z",
          "company_name": "BnBerry",
          "job_title": "Senior Product Engineer (AI-native builder)",
          "job_url": "https://cz.linkedin.com/jobs/view/senior-product-engineer-ai-native-builder-at-bnberry-4388372485?trk=public_jobs_topcard-title",
          "match_score": 0,
          "job_description": "About BnBerry\n\nBnBerry builds infrastructure that connects hotels and resorts to global short term rental marketplaces.\n\nWe're now building AI-first systems that automate distribution, pricing, operations, and guest communication for hospitality businesses worldwide.\n\nThe Role\n\nThis is a product engineering role with high ownership.\n\nYou'll work directly with Product leadership to turn ideas into working systems. Your job is to find the best path from problem to production.\n\nThat might mean building from scratch. Or it might mean leveraging AI tools, integrations, automation, or low-code solutions.\n\nRequirements\n\nWhat You'll Do\n\nOwn problems end-to-end: from understanding the need to shipping the solution\nDesign pragmatic architecture before jumping into implementation\nUse AI tools aggressively to accelerate development and iteration\nMake smart build-vs-integrate decisions under time pressure\n\nThis role is about outcomes, not tickets.\n\nWho This Is For\n\nYou're an AI-native engineer.\n\nYou're comfortable navigating ambiguity, designing systems, and shipping quickly. You probably:\n\nUse AI as a core part of how you build software - not as an add-on\nPrototype fast, iterate faster\nThink in systems and tradeoffs, not just tasks\nCare about architecture even when moving at speed\nPrefer building products over writing isolated features\n\nYou understand that speed and quality aren't in conflict - they're a skill.\n\nTechnical Expectations\n\nYou're still a strong engineer underneath the AI tooling.\n\nYou must have long term experience with:\n\nModern web architectures\nAPIs, integrations, webhooks\nDistributed systems or high-load applications\nProduction software - not just prototypes\n\nLanguages and frameworks matter less than your ability to design, build, and ship.\n\nWhat This Role Is Not\n\nThis is not a ticket-processing job.\n\nWe're not looking for someone who waits for detailed specs and then implements them. We're looking for someone who helps define and build the solution.\n\nBenefits\n\nWhat You Get\n\nFully remote, async-friendly team\nHigh ownership and autonomy from day one\nChance to build AI-first hospitality infrastructure used globally\nCompetitive compensation + performance incentives\nEquity participation in new AI product initiatives\n\nOne More Thing\n\nWe care more about what you've built than what's on your resume.\n\nShow us systems, tools, or products you created, especially anything built with AI-accelerated workflows. A demo, a write-up - whatever tells the story best. \nShow more Show less",
          "job_location": "Czechia",
          "external_id": "4388372485",
          "job_salary": "{$4000.00,$6000.00}",
          "company_department": null,
          "job_sector": "IT Services and IT Consulting",
          "contract_type": "Full-time",
          "signal_tier": null,
          "status": "new",
          "processed_at": "2026-03-23T07:23:46.157Z",
          "company_url": "https://www.linkedin.com/company/bnberry?trk=public_jobs_topcard-org-name",
          "poster_name": "",
          "poster_linkedin": "",
          "company_logo": "https://media.licdn.com/dms/image/v2/C4E0BAQFNan6cSY3hpA/company-logo_100_100/company-logo_100_100/0/1663250320272/bnberry_logo?e=2147483647&v=beta&t=HNM4bYox4_CuzmxRbuyUBCzZWc-n1VGD8pKcnUU9KOU",
          "experience_level": "Mid-Senior level",
          "apply_url": "https://cz.linkedin.com/jobs/view/senior-product-engineer-ai-native-builder-at-bnberry-4388372485?trk=public_jobs_topcard-title",
          "source": "linkedin",
          "description_vector": "[-0.009371381,0.0064097326,0.01843059,-0.087884955,-0.009935864,-0.001672464,0.019017592,0.0141033195,0.01326271,0.010506979,-0.021824766,-0.009872856,0.005413606,-0.0067638634,0.11418716,0.029505009,0.01790329,0.012967106,-0.007501655,-0.0063988864,0.023136012,0.024306048,0.015292004,-0.023048803,-0.025258401,0.013287987,0.012987188,-0.010592945,0.044058546,-0.0011801831,0.010122934,0.000111711255,-0.010460597,0.029754968,0.009843726,0.004041419,0.016198445,-0.0063535166,-0.0069622025,0.0045364336,0.0008690265,-0.007882328,0.0011358866,-0.023294242,-0.019532949,-0.011011428,0.00033948987,0.009074775,0.0013531806,0.011059852,-0.035838738,0.0120439725,-0.022681361,-0.16549009,0.009009491,0.0065354477,0.00818889,0.0032764114,0.025063392,-0.0117003685,-0.036244497,0.013820365,-0.037548557,-0.033115115,-0.015576651,0.0072021876,0.009883655,0.007161706,0.03293694,-0.006972725,-0.0026811254,0.015283486,-0.008598321,-0.022397889,-0.0054878565,-0.016951429,-0.010968145,0.015921224,6.716716e-05,0.022394275,-0.00043361122,-0.016748749,0.0057315975,-0.01922534,0.00858179,-0.028905565,0.015836332,0.0072296327,0.005766839,-0.0022788015,0.009387798,0.0055426233,0.02159346,0.030190056,-0.00256125,-0.0070265364,-0.020315489,0.026512153,0.0031926276,0.008731424,-0.00883695,-0.015514507,0.0018460782,-0.0022921269,0.011083221,-0.011656256,0.007562626,-0.039442923,-0.013400022,-0.0031153318,0.00047523694,-0.017030992,-0.020506926,0.011734365,0.033172175,-0.12432642,0.011383739,0.0067183645,0.024827413,-0.0035251714,-0.01036869,-0.012692867,0.012491159,0.009671154,0.0055683553,0.004005859,0.015772462,0.023372998,-0.01330236,-0.002489458,-0.004417292,0.0035913787,0.0126309,0.009587361,0.019860115,-0.0021562509,-0.012586734,0.015581186,-0.024628408,0.013080823,-0.010414008,0.019847335,-0.02132478,-0.0035212317,-0.008705692,-0.0030480686,-0.01578577,0.0032144785,-0.025049265,-0.030905243,0.0074446723,-0.04364811,0.0011848691,-0.005017723,-0.0007846369,-0.028270207,-0.02050705,0.016117098,0.005427857,-0.01415533,-0.011752195,-0.025013207,-0.023782425,0.002014987,-0.0039448305,0.017709553,-0.019527782,0.0049077505,-0.0018887805,0.014482746,-0.011127075,0.016772494,-0.025864083,0.023661764,0.01054878,0.008050534,0.020151954,-0.0014801478,-0.007986202,-0.024639668,0.008028726,0.0051268013,-0.004822361,-0.0011637271,0.0014077745,0.011397006,-0.005901586,0.016548196,0.0005204114,-0.028655268,-0.0022223613,-0.01426601,0.010257845,-0.008360746,0.02092762,-0.026299765,0.0057878373,-0.008492687,-0.016516922,0.006982438,0.03202894,-0.025879828,0.0042832377,-0.014382971,0.014261644,0.008253121,-0.011009033,0.0025180671,-0.0031539379,-0.014246671,-0.02941314,0.0021424564,0.024974154,-0.019675132,-0.009135424,-0.0138035,-0.038486775,0.003470171,-0.0010722557,0.021265924,0.029570473,-0.016175544,0.0087020025,0.016942475,-0.0005819713,-0.0020003452,-0.019145329,0.00078508665,-0.010024294,0.008935743,-0.006569592,0.022820817,-0.017057514,0.036319215,0.008773496,0.0035096786,0.028966539,0.004591652,-0.0011222194,-0.00011513856,-0.0032670232,-0.004251965,-0.01969167,0.026950695,0.01657987,-0.018278498,-0.015144458,-0.0052068946,-0.0070591373,-0.0025199256,-0.025948867,0.001770691,-0.0012779015,0.0042565675,0.00085400965,-0.02135525,0.00962013,0.0043581296,7.687117e-05,0.02040709,-0.025799843,0.01704842,-0.033102836,-0.021979436,-0.02266634,-0.005150205,0.018777099,0.03314494,-0.016424207,0.012026251,0.014653124,0.014132921,-0.012668581,-0.013835212,-0.008881971,-0.0025768266,-0.015827334,0.04741773,-0.015158724,-0.025486203,-0.021952149,0.035490684,0.0028764594,-0.018654948,-0.025673138,0.017878158,-0.01375561,-0.03909077,0.02293943,-0.0045167995,-0.01985346,-0.008379939,-0.00025114187,-0.028395087,0.006324238,-0.022255793,0.0030169839,-0.0017252774,0.008989905,0.009544635,0.044245653,-0.022144647,0.0036832693,0.043373615,0.0061128517,0.027775254,0.021701742,0.030176446,0.022452926,-0.0021959841,-0.0006600847,-0.0031094933,-0.010500712,-0.019097058,0.015266112,-0.021077003,0.011058975,0.009651409,-0.0038197022,-0.008681609,0.017232886,-0.006375617,-0.013918617,0.030762762,-0.01810811,0.0071492926,0.015172278,0.047371008,0.009383402,-0.009870384,0.015649276,0.0042879325,0.010085023,-0.020652693,0.006274053,0.013622841,0.05033218,-0.01893911,-0.0028360558,0.0103434855,0.02275162,-0.028231364,-0.017751426,-0.03736865,0.0023709168,0.035193484,-0.014123922,-0.02714276,-0.016628565,-0.019792253,-0.028239477,-0.0047494126,-0.03139384,-0.03199518,-0.020642769,0.019873943,-0.008037728,-0.005177377,-0.003333053,0.025523143,0.014315426,-0.0027809134,0.005644333,-0.02515049,-0.025412189,0.005202771,0.011490118,-0.008638983,-0.00069067103,-0.014485369,-0.018175954,0.011672955,0.0017349244,0.009000034,0.0016295448,-0.025640195,-0.02689522,0.0020621305,-0.015305604,0.02295768,-0.042659808,0.036005396,0.008029665,-0.008602123,-0.004039053,-0.0067951926,-0.0054471223,0.012875992,-0.008650457,0.025152374,-0.0059234947,-0.023179904,-0.0066356324,-0.016314235,-0.0054883617,-0.0014339711,-0.029719874,-0.030553289,0.0005914822,0.0018163811,-0.0070768967,0.01355836,-0.00044470356,0.00871489,0.015612302,-0.0028065327,-0.013884018,-0.0036459987,-0.020771323,0.00074853894,-0.014675443,-0.013086133,0.020076746,-0.03465652,0.03926244,0.0038855663,-0.029367853,-0.0015995479,0.021465793,-0.012137923,-0.016877225,0.005292778,-0.014614824,0.0053984337,0.0013716785,-0.0049623284,-0.025194298,0.011703895,-0.00752545,-0.00212698,-0.008995411,0.0067178626,-0.010262503,0.0072953417,-0.03506394,-0.0112344865,-0.004430518,-0.03158984,0.005313262,-0.0090501495,0.012783138,-0.009712541,0.01067176,-0.0059923087,0.0043947697,-0.017259328,-0.006407574,-0.03080628,-0.009720416,0.024937322,-0.0045916582,0.028233945,0.008846786,-0.008666737,0.031627648,-0.0053653074,-0.022511195,0.013219561,-0.0026527608,0.015331753,0.008441123,0.013868319,-0.0034964893,-0.011061472,-2.784338e-05,0.010530901,0.019659935,-0.013215472,-0.032586597,0.018460974,-0.0048987586,0.020405754,0.0058221538,-0.028732084,-0.009957325,-0.012103579,0.010151069,-0.026346352,0.021949835,0.0007037943,0.0010216407,-0.0058477432,-0.0069516217,-0.018709363,0.0029810586,0.033056736,-0.011919086,-0.011878446,0.0015105411,-0.010100259,0.040978856,0.031976685,0.036100954,-0.013217702,-0.0039057597,0.008479072,0.008537788,-0.020151831,-0.004637012,0.020646846,-0.011790523,-0.025374193,-0.0025387306,0.0098935235,0.027840277,-0.029588236,0.011079371,-0.009290083,0.020430818,0.004729929,-0.031886168,-0.005201836,-0.0028068586,-0.011843574,0.006868251,-0.00047425544,0.0062804674,-0.034212545,0.004922022,-0.025157114,0.02382114,0.0037099086,-0.043315753,0.011932113,-0.0067513147,-0.012989435,0.041134607,0.004641618,0.0345967,0.012345432,0.005187455,0.033398874,0.019257145,0.009593177,0.0059523284,0.0027611686,0.016234793,-0.0021102333,0.003710146,0.019253638,0.0023050592,-0.008440201,-0.01398877,-0.032716654,0.032131005,-0.077038124,-0.002350818,0.012226527,0.0011029689,0.008577072,0.023100205,0.00029536118,-0.0169165,0.033576787,0.012150524,-0.010307196,-0.007877672,0.00057611516,-0.0144974515,-0.016232923,-0.019626644,-0.005020189,-0.0060049077,0.00029505763,-0.0103962505,0.037156682,0.010957532,0.024523037,0.024877839,0.0036617352,0.024580382,0.03703198,0.02167487,0.032587495,0.021828461,-0.01929797,0.014228765,0.016606461,0.025887702,0.016114447,0.011322343,0.0025109348,-0.01913546,-0.025205685,0.014180753,-0.014548776,0.001659328,-0.05437432,-0.028961401,0.0015890732,0.0018434797,0.006934373,-0.018799385,0.010060737,0.038992524,-0.037436847,-0.011070942,-0.025955241,0.0061322576,0.0010028612,0.020656414,-0.0118910065,0.0014408681,0.008449448,-0.010676168,0.010772887,-0.023583502,0.0099309925,0.030635215,-0.026869947,-0.0024845789,0.006802988,0.0066187554,-0.00021775898,0.023836607,-0.016335309,-0.04688916,-0.01575623,0.005199834,-0.015556724,0.024496706,-0.016156903,0.023997623,0.007662679,0.019328037,-0.022419915,-0.0024591002,-0.06260889,-0.015563641,0.006164694,-0.0009438867,0.0028646877,0.004947326,0.006083143,0.007257461,0.0026385696,-0.03737839,-7.5068674e-05,-0.013384881,-0.0017337457,-0.007393023,0.0006757788,0.034539226,0.00035267527,-0.0028257878,-0.0164975,-0.016738763,-0.020854183,0.0023881888,0.008459084,0.005771134,-0.002972552,-0.009233551,0.006239465,0.02733413,-0.001262921,-0.005456209,0.008740263,-0.15405801,-0.008551343,-0.017338341,0.026880717,-0.007717604,0.0043761,-0.023190297,-0.009907787,0.00057617296,-0.031250488,0.021943344,-0.03065095,-0.030716818,0.006295005,0.007340933,0.12745868,-0.03601124,-0.0002482956,-0.03905067,-0.01820073,0.011070459,-0.01682448,0.0010221921,-0.013942541,-0.01521078,-0.008185512,0.019438634,-0.012075141,0.0037623567,0.009636778,0.00070346915,-0.00026942935,-0.012078915,0.009039289,0.011373343,-0.0032529577,0.0022713772,-0.0043063858,0.003357948,0.013882833,0.018791484,0.025076019,-0.01671481,0.0065312916,0.012220317,-2.8206892e-05,0.018368535,0.022323659,0.0010126717,0.002704109,0.0071743526,-0.08746296,0.011175765,-0.010447437,0.017975727,-0.0137941325,-0.01761373,0.028579064,0.014411567,0.011141309,0.008980891,-0.0017476584,0.0019104998,0.0052295667,-0.009388962,-0.004302426,0.023949353,-0.0034590554,0.01694773,0.011392278,0.021978015,-0.011062527,-0.004672672,0.00427781,0.0057365336,-0.015061038,-0.0018998174,0.0029651274,-0.028686618,-0.028085465,-0.022344403,-0.00022859807,0.042744488,-0.024556935,-0.010563512,0.0148541,0.01578486,0.0113914935,0.027860604,0.020386815,-0.035545103,0.016065273,0.020096537,0.025329478,-0.0024885237,0.02618337,0.014560609,0.039148256,-0.013589944,0.017731782,0.003999884,-0.027896887,0.019467812,0.003421681,-0.02035885,-0.012250387,0.023847207,0.001422428,-0.013685569,0.010785101,-0.0062570553,0.00794123,-0.014124596,0.00343962,0.0076544015,0.0031649552,0.012419023,-0.014565506,0.018979738,-0.024688067,0.0076144733,0.012278715,-0.017620705,0.006684454,0.002927123,0.008708025,-0.016944807,0.0005608476,-0.0065355385,-0.0029186853,0.006664852,-0.005436222,-0.004868446,-0.006839928,-0.0059466036,-0.00587416,-0.003975861,-0.010326571,5.126367e-05,-0.008271822,0.01168831,-0.00798705,-0.0068467846,-0.005102493,0.0032150536,-0.01682831,0.012156179,0.0024362141,0.014327862,-0.00014856768,0.011375652,-0.003957375,-0.0020466961,-0.025853286,-0.0062079653,0.010871369,-0.0031134477,0.0065965173,0.005111021,-0.015812678,0.006056713,-0.02277843,-0.0069472487,0.008883545,-0.009960697,0.007458924,0.010825692,0.013442772,-0.008497711,0.015886864,0.01625437,-0.0006792706,-0.018088443,-0.012294664,0.0046672807,0.00903532,-0.007270675,-0.0001876007,0.014447348,0.016772412,-0.00035824947,-0.007814004,0.011590303,-0.0021230944,0.0016339435,0.012632082,-0.019272814,0.008443261,-0.0021343932,0.008473922,-0.0042137317,-0.008921805,0.0030914042,-0.028929548,0.0030656708,0.0053973813,-0.021287767,-0.020151531,-0.0055818064,-0.0052279853,0.00829861,-0.02753663,0.009118195,0.0015457816,-0.011277731,-0.008246067,0.0026754984,0.006011805,-0.0030933798,0.007937216,0.009418358,0.010626704,0.012188681,-0.0034133836,-0.0049379044,0.0055325045,0.005680197,0.007127263,-0.010324509,0.010176715,-0.010250291,0.001894269,0.013156793,-0.0067947987,0.00049897836,-0.012979024,-0.006113922,0.018927062,-0.0043121153,0.0068399506,0.016086575,0.0020740875,0.0023248643,0.0058882306,-0.006604993,-0.004945192,0.02009314,0.0026578766,-0.0013008565,0.018648228,0.01302075,0.01738497,-0.0019646627,-0.0054689837,-0.01786635,-0.016821865,0.009081258,-0.008687838,-0.015158718,0.0070095663,0.0035410912,0.0305187,0.021675594,0.015665187,-0.022041438,-0.011639077,0.0009837457,-0.018390957,-0.012073304,-0.00020171197,-0.0065738033,0.01393935,0.0017211379,-0.0052080676,0.026530968,-0.01370789,0.004623289,0.003347941,-0.007130591,0.0025457428,-0.002247858,0.010846309,0.012527556,0.009913567,0.00094563654,-0.012818869,-0.012355133,-0.0025538276,-0.0032259794,-0.0098000625,-0.0043786946,-0.013871558,0.0019251913,-0.008721834,0.007977834,0.008306653,0.025049688,-0.014556419,-0.007662686,0.0051262747,-0.0043149465,0.014947686,-0.020345472,0.016838465,-0.0047879317,0.011076764,-0.004571354,0.006055143,-0.010194962,0.008433961,0.00280693,-0.00028733668,-0.013429612,-0.0067569986,0.0019207702,-0.008036475,-0.0018812742,0.002323917,-0.00065706385,0.00900535,0.10042249,0.010487838,0.019341355,-0.0084987655,-0.009545153,0.015579421,-0.019550366,-0.02555146,0.009405447,0.01576408,-0.0044177705,0.008252625,0.01702467,0.011963852,0.018936653,0.0021714051,0.0024214324,0.011673856,0.0020960737,0.0051482185,-0.011865209,0.00981392,-0.0069778557,-0.008144602,-0.0031303097,0.0005763444,-0.013304392,0.0237547,-0.009776631,0.0075826566,0.0038080555,0.014631868,0.010679972,0.016611846,-0.0060148826,-0.0031915943,-0.009245138,0.02027331,-0.007687075,0.020083437,0.006779541,0.011100787,0.0038570492,-0.003463988,0.0069808485,0.009827696,-0.007055402,-0.0007401496,-0.02066458,-0.0018227639,-0.003257926,0.0016365047,0.0012385746,0.009796069,0.0019526349,-0.0020575754,0.013355588,0.0017708876,0.015753713,-0.009513505,-0.010033949,0.0010579216,0.008204623,-0.007946127,-0.006577844,-0.024123775,0.0059497706,-0.009457027,-0.014051506,-0.01256529,-0.0109925885,0.008927054,-0.006615471,-0.0048563434,0.019923976,0.014647204,-0.012779066,-0.0053583407,0.0005970989,-0.011330357,0.002061155,0.0012663498,-0.02894598,-0.011304165,0.0033183498,0.0010419773,-0.027969398,-0.013830766,-0.0022786388,0.005003818,-0.011119607,-0.021097986,-0.0035151301,-0.00999609,-0.018475058,-0.00020829939,0.047689088,-0.006507402,-0.005210908,0.0018143507,-0.0047613154,0.009055136,0.021303592,0.010458606,0.019187069,0.0011897325,0.005875672,-0.0071503236,-0.0033908621,0.0046930313,-0.0049911537,-0.009133426,-0.0061092097,-0.007045582,-0.0045040296,-0.011585047,-0.0049801706,0.020080592,-0.0075796354,0.0060927407,0.0154071925,-0.006802389,-0.007865195,0.015119995,0.0072700772,-0.0120602315,-0.00027269707,-0.0035526922,0.013325741,0.0031701329,-0.018892167,-0.016449852,0.0038128428,0.007551587,-8.789218e-05,-0.0018221871,0.012685391,0.008058328,0.005301209,-0.012880111,-0.012296498,-0.015356852,0.0072639827,-0.00072681357,0.0078300815,-0.007082434,0.0024538983,0.012960467,0.00031530808,-0.0045955027,0.007709331,0.0047276453,0.0017428058,0.011388292,-0.008713991,-0.0025340805,0.0050364207,0.00322229,-0.0014297458,0.011696231,-0.012768391,0.008325554,-0.009811163,0.018368082,0.021236192,-0.016230613,-0.014197659,0.01819752,-0.0059688594,0.010400101,-0.013624015,0.007004225,0.018435804,-0.0010000928,0.009789915,0.003367584,-0.009224711,-0.018471045,-0.015855609,0.011869786,-0.012009971,-0.0057251262,-0.00594006,-0.005500759,-0.0033766658,-0.02076361,-0.008721165,0.0012010993,0.012962203,-0.0015994469,0.00787577,-0.021943271,-0.0020349731,-0.0064569754,0.0072708423,0.006221609,-0.007881615,0.0018378862,0.0069441586,-0.0065966886,0.01775724,-0.0115456795,-0.001772436,-0.024203062,0.004835043,-0.011781695,0.008059714,0.0069397683,0.006438755,-0.021605736,-0.01350899,-0.027063431,0.019011863,8.9721245e-05,-0.013938925,-0.014065138,-0.006844693,-0.01855215,0.0003527969,-0.00087917363,-0.009065443,-0.012123135,0.008313088,-0.0056062923,-0.00096356485,-0.010302678,0.0154222725,-0.0017782941,0.0047694803,-0.010321462,-0.0075543276,0.0051531396,-0.0059293206,0.005574576,-0.0025617029,-0.003970091,-0.0021203042,-0.015052901,0.013820363,-0.00049228367,-0.0083888415,0.004999427,0.007714415,0.0027748663,-0.010935619,0.0022138173,0.019003648,-0.0011974263,0.008066354,0.0055279857,-0.006690932,0.0014963482,0.005646993,-0.0008456461,0.008895147,-0.00067671586,0.0048637805,-0.051426727,0.020644879,0.021576876,0.009108378,0.009530603,-0.0057946085,0.0020981103,0.020275848,-0.017072085,0.008817628,0.026260039,0.000992578,0.014502892,0.008090162,9.183245e-05,0.012092815,0.014278234,0.012031045,0.0021770385,-0.0026165217,-0.009671506,0.0055273287,-0.015041956,-0.003661161,-0.01508074,-0.0010572165,0.0063539506,0.013560968,-0.007069052,0.0056240587,0.01560842,0.0034572426,-0.0034541285,0.0045324946,0.003945114,-0.013139178,-0.010009822,-0.009452953,0.0064805476,-0.0043441076,0.015565957,-0.0027850892,-0.0040942035,0.031573813,0.0032227624,-0.016394725,0.009027997,-0.022760917,0.016610265,-0.0063978317,0.0048669293,0.02748541,0.002676495,0.012643594,0.018157922,-0.0012862843,0.0106736105,0.005408083,-0.018169764,-0.00048776044,-0.0066660796,-0.0058471747,-0.014131617,0.014821269,-0.007430532,-0.004994761,0.019220252,-0.00853575,-0.012937258,0.029194074,-0.014800001,-0.0009649768,-0.0124682635,-0.004743417,-0.00487843,0.009051172,0.012897121,0.006988836,-0.019390408,0.008808873,-0.0017356467,0.014896896,0.010990403,0.002725838,-0.008396291,0.012250372,-0.010632718,-0.0046365755,-0.003261658,0.018236157,-0.005850517,0.0069085076,-0.0034949132,-0.008128991,-0.006629891,0.0068258853,0.0007721753,0.019184526,0.020241072,0.011226002,0.005223669,-0.011796757,0.00843986,0.0131112095,-0.010235105,0.012664294,0.0048657986,-0.001203598,-0.0019425264,0.001352337,0.0022374715,0.0026545802,0.021711256,-0.009502102,0.010456979,-0.008957816,-0.011291635,-0.014707238,-0.013424035,-0.029841648,-0.011859283,0.022807555,-0.005359954,0.0028056253,0.0076807356,-0.0019184491,0.0047067986,0.003862468,0.009851369,-0.01624517,-0.019977944,0.018024998,0.0051420117,-0.012150763,-0.009782953,0.01748655,0.010150703,-0.0024587796,0.006436814,-0.00425595,0.0072025624,0.0044187433,-0.010731175,-0.008829682,-0.008447364,-0.012079262,0.0016129198,-0.00029303436,-0.012757585,1.536419e-06,0.01411642,-0.01765662,0.016672574,0.009642548,-0.0009153193,-0.004466708,0.00865688,0.0036736801,0.0072648865,-0.00728518,0.024436446,0.0004948903,-0.0005368997,-0.019250045,0.013015339,0.011261369,-0.030311562,0.0016283253,-0.018592127,-0.01475336,-0.0044840234,0.009152855,0.0012957883,0.013488758,-0.00016472116,-0.0067971037,-0.0023112658,-0.007440283,-0.010062575,0.0025878523,0.011604126,0.003834517,0.007111695,0.020239497,0.0015335814,0.012122506,0.0069805,-0.007165157,-0.0028636523,0.011016299,-0.0070466353,0.003911482,0.0042290753,0.009698833,-0.006863436,-0.010437258,0.020543478,-0.007927288,-0.0052852496,-0.030697096,-0.007942217,-0.010364756,0.013117465,0.004959646,-0.010388639,-0.098294616,0.009961058,0.0046306,0.0051673083,-0.006162283,0.007495028,-0.00236659,-0.010594175,-0.008783552,0.004994987,0.004153673,0.0074389614,0.020242738,-0.008397162,0.0058370666,0.0018951446,-0.0031626704,0.012132262,0.0025175093,0.008008456,0.01785116,0.007952099,-0.022745125,0.008733282,0.0010926803,-0.007954446,-0.024694735,-0.0071302643,0.008728648,-0.018323733,-0.009123984,0.008303073,0.0018404553,0.009437955,0.0152643155,-0.010506237,0.011675443,-0.011437549,-0.13526107,0.00337913,0.006498086,0.004505965,-0.0020410854,0.0138519015,-0.012608037,0.0029373122,0.0071813078,-0.0011419057,-0.010993251,-0.0018104439,-0.003006898,0.0027731515,0.015600516,0.0058259936,-0.013299492,0.012886763,-0.0041601583,0.008347252,0.0035574883,0.003959233,0.000350456,0.012098669,0.004826068,0.0028950132,0.017728332,0.00016873867,0.009762965,-0.009029079,0.012702976,-0.004420479,-0.0028295438,0.005767303,-0.0024789257,0.0020076192,-0.0024113243,-0.0084254565,-0.009778583,-0.0059426497,0.005187148,-0.012757403,0.0145200845,0.004213696,0.00023038371,-0.00064121326,0.0027746544,-0.014312491,0.017773988,-0.007651085,-0.0065611037,0.00014935654,-0.009879797,-0.01060714,-0.00024765945,0.0031464358,0.00996496,-0.00028315914,0.0016213004,0.018196225,0.0067027137,-0.001172893,-0.0034139745,-7.957012e-05,0.008002939,0.020866334,0.00940593,0.010456259]",
          "employment_type": null,
          "work_mode": null,
          "metadata": null,
          "tech_score": "0",
          "is_active": true,
          "application_stage": "lead",
          "last_interaction": "none",
          "last_checked": null,
          "notes": null,
          "responsibility_score": null,
          "ideal_score": null,
          "updated_at": "2026-03-23T07:23:46.245Z",
          "progress_updated_at": "2026-03-23T07:23:46.245Z",
          "lead_progression": "lead"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "72b8f675-a10e-4d59-8238-c274d3fe6fd2",
  "activeVersionId": "72b8f675-a10e-4d59-8238-c274d3fe6fd2",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-05T09:43:06.768Z",
      "createdAt": "2026-03-05T09:43:06.768Z",
      "role": "workflow:owner",
      "workflowId": "fShvCbZRgCtLGec8",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-23T07:27:32.000Z",
    "createdAt": "2026-03-23T07:27:29.774Z",
    "versionId": "72b8f675-a10e-4d59-8238-c274d3fe6fd2",
    "workflowId": "fShvCbZRgCtLGec8",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const items = $('Standardize input').all();\n\nconst hardReject = [\n'sales', 'director', 'assistant', 'recruiter', 'intern',  'stáž', 'graduate', 'account manager', 'executive', 'head', 'representative', 'marketing', 'ředitel', 'vedoucí', 'legal', 'prodej', 'obchod', 'customer success', 'seo', 'lead', 'principal', 'staff', 'part-time', 'part time', 'junior'\n];\n\nconst contextualReject = [ \n'full-stack', 'fullstack', 'java', 'php', 'c++', 'c#', '.net', 'kotlin', 'rust', 'golang', 'ios', 'android', 'swift', 'react native', 'qa automation', 'test automation', 'kubernetes', 'manual tester', 'developer', 'vývojář', 'engineer', 'inženýr', 'consultant'\n];\n\nconst saviorKeyword = [\n'ai', 'automat', 'n8n', 'agent', 'architect', 'ops', 'operat', 'solution', 'workflow', 'specialist', 'low-code', 'no-code', 'integration', 'product', 'mcp', 'implement', 'bridge', 'process', 'enablement', 'strategy', 'delivery'\n]\n\nreturn items.map(item => {\n  const title = (item.json.job_title || \"\").toLowerCase();\n\n  let newStatus = 'filtered';\n\n  const isHardReject = hardReject.some(word => title.includes(word));\n  const isContextualReject = contextualReject.some(word => title.includes(word));\n  const hasSavior = saviorKeyword.some(word => title.includes(word));\n  \n  if (isHardReject) {\n    newStatus = 'rejected';\n  }\n  else if (hasSavior) {\n    newStatus = 'passed_title';\n  }\n  else if (isContextualReject) {\n    newStatus = 'rejected';\n  }\n\n  return {\n    json: {\n      ...item.json,\n      status: newStatus,\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          -304
        ],
        "id": "5eb1205d-3afd-48f7-8338-31caf670847b",
        "name": "Reject titles",
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "job_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "job_url",
                "condition": "eq",
                "keyValue": "={{ $json.job_url }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.status }}"
              },
              {
                "fieldId": "processed_at",
                "fieldValue": "={{ $now.toISO() }}"
              },
              {
                "fieldId": "tech_score",
                "fieldValue": "={{ $json.multipliedScore }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2032,
          -432
        ],
        "id": "aeb0609f-b4c1-46af-8cdb-b868c396cedd",
        "name": "Update a row",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "qB1TBV7vyX50RGhp",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cf32c89d-73f9-4e42-992a-bb6f8ef48bd3",
                "leftValue": "={{ $json.status }}",
                "rightValue": "rejected",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          160,
          -304
        ],
        "id": "ec6c1e24-6db2-4320-bb12-cccefddc2125",
        "name": "Is rejected?"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1616,
          -240
        ],
        "id": "b4b575ae-ec98-48d3-ad02-563a99abffe8",
        "name": "Merge1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const llmScore = $json.technicalScoreLLM;\nconst cosineScore = $json.technicalScoreCosine;\nconst weightedScore = $json.new_technical_score;\nconst title = $json.job_title.toLowerCase();\nconst hasAI = title.includes('ai');\nconst multipliedScore = Math.round(weightedScore * 100);\n\nconst maxAllowedDiff = 0.4;\nconst passMax = 0.5;\nconst reviewMax = 0.59;\n\nlet finalDecision = 'rejected';\nlet reason = 'Too technical';\nlet applicationStage = 'lead';\n\nconst scoreDifference = Math.abs(llmScore - cosineScore);\n\nif (scoreDifference > maxAllowedDiff && llmScore < reviewMax) {\n  finalDecision = 'manual_review';\n  reason = \"LLM and Cosine score difference too big\";\n}\nelse if (weightedScore < passMax) {\n  finalDecision = 'passed_description';\n  reason = 'Not so technical'\n}\nelse if (weightedScore >= passMax && weightedScore <= reviewMax) {\n  if (hasAI) {\n    finalDecision = 'manual_review';\n    reason = 'Mid technical with AI title';\n  } else {\n    finalDecision = 'rejected';\n    reason = 'Mid technical without AI title';\n    applicationStage = 'withdrawn';\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    status: finalDecision,\n    multipliedScore,\n    reason,\n    applicationStage\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          -240
        ],
        "id": "8de6bb39-cbe8-4a3e-bb57-2f931d7c2f06",
        "name": "Reject technical descriptions"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          512,
          32
        ],
        "id": "a45410c0-18b1-4588-a51e-71e05576f4b3",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "YhtGw7h88f9jUZts",
            "name": "Google Gemini(PaLM) Api account_llm"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM check_vibe(\n  '{{ $json.description_vector }}'::extensions.vector(1536),\n  'technical_anchor'\n) AS technical_score_cosine;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          432,
          208
        ],
        "id": "ee738ca1-be5a-4c44-9594-483f7e51d8fb",
        "name": "Check technicality - cosine",
        "alwaysOutputData": false,
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 5,
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres careerops"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Provided job description:\n {{ $json.job_description }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "<system_instructions>\n<persona>\nYou are a Senior Executive Talent Scout for a Tier-1 AI Consultancy. You specialize in identifying \"Bridge Professionals\"—individuals who translate business strategy into high-level AI architecture and operations (AI Ops, Solutions Architecture, Implementation). You explicitly AVOID \"Engine Room\" roles that are purely execution-heavy or research-based.\n</persona>\n\n<task>\nAnalyze the provided Job Description (JD) and assess its \"Engine Room\" intensity. You are looking for roles focused on design and orchestration (The Bridge). You are filtering out roles focused on heavy coding and infrastructure (The Engine Room).\n</task>\n\n<scoring_logic>\n0.8 - 1.0: PURE ENGINE ROOM (AUTO-REJECT). Focused on \"how the computer works.\" Manual memory management, kernel development, training base models from scratch, low-level C++/Rust, or heavy Kubernetes/DevOps infrastructure.\n0.6 - 0.7: CODING HEAVY (AUTO-REJECT). Focused on \"building the engine.\" 80%+ of time is spent writing backend code, managing complex CI/CD, or deep legacy software engineering.\n0.51 - 0.59: MANUAL REVIEW (THE MAYBE PILE). Ambiguous roles. Mentions both high-level design and significant backend coding without a clear primary focus.\n0.2 - 0.5: THE BRIDGE (TARGET). Focused on \"using the tools.\" API orchestration (Langchain, OpenAI), workflow design, AI strategy, and implementation. Python is used for \"wiring\" things together, not building infrastructure.\n0.0 - 0.1: LIGHT TECH. Pure no-code automation, project management, or AI consulting with zero technical execution required.\n</scoring_logic>\n\n<anchoring_instructions>\nDO NOT cluster scores at 0.5. Be aggressive in your judgment. If the JD emphasizes \"Business Outcomes\" and \"Workflow Design,\" drive the score below 0.5. If it emphasizes \"Code Quality,\" \"Scalability,\" and \"Infrastructure,\" drive it above 0.6.\n</anchoring_instructions>\n\n<few_shot_examples>\n<example>\n<jd_snippet>...manual memory management in C++ and Rust for high-throughput backend...</jd_snippet>\n<reasoning>This is pure low-level execution focused on infrastructure; it is 100% Engine Room.</reasoning>\n<score>0.95</score>\n</example>\n<example>\n<jd_snippet>...AI Solutions Architect designing LLM workflows using LangChain and Python APIs to bridge client needs...</jd_snippet>\n<reasoning>The focus is on design and orchestration (\"wiring\") rather than building the underlying engine.</reasoning>\n<score>0.35</score>\n</example>\n</few_shot_examples>\n\n<constraints>\n- Language: The JD may be in Czech, Slovak, or English. Translate the meaning before scoring.\n- Thinking: You MUST provide a \"thought_process\" before the score to ensure accuracy.\n</constraints>\n</system_instructions>"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          576,
          -160
        ],
        "id": "d9040b20-cad5-49ab-bc03-b980af1f059b",
        "name": "Check technicality - llm",
        "retryOnFail": true,
        "waitBetweenTries": 4000
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $json;\n\nconst technicalScoreLLM = item.technical_score_llm;\nconst technicalScoreCosine = item.technical_score_cosine;\n\nconst weightLLM = 0.7;\nconst weightCosine = 0.3;\n\nconst finalTechnicalScore = (technicalScoreLLM * weightLLM) + (technicalScoreCosine * weightCosine);\n\nreturn {\n  new_technical_score: finalTechnicalScore,\n  technicalScoreLLM,\n  technicalScoreCosine\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          -144
        ],
        "id": "a67f0f29-7e8a-4f73-b059-6e48aa192e75",
        "name": "Calculate weighted technicality"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"thought_process\": \"text\",\n  \"reasoning\": \"text\",\n  \"technical_score_llm\": 0.5\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          784,
          32
        ],
        "id": "cd266088-9e6a-44bc-9dca-d69eb823b746",
        "name": "Structured Output Parser",
        "retryOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const rawScore = $json.output?.technical_score_llm;\n\nconst min = 0.10;\nconst max = 0.80;\n\nlet adjusted_score = (rawScore - min) / (max - min);\n\nadjusted_score = Math.max(0, Math.min(1, adjusted_score));\n\nreturn  {\n    technical_score_llm: adjusted_score\n  }\n;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          -160
        ],
        "id": "40bde504-0235-493c-8423-45a475757cf5",
        "name": "Adjust score llm"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const rawScore = $json.technical_score_cosine;\n\nconst min = 0.51;\nconst max = 0.65;\n\nlet adjusted_score = (rawScore - min) / (max - min);\n\nadjusted_score = Math.max(0, Math.min(1, adjusted_score));\n\nreturn  {\n    technical_score_cosine: adjusted_score\n  }\n;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          208
        ],
        "id": "790792a4-73a2-4d42-a907-67fb4244d7e0",
        "name": "Adjust score cosine"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1021ed61-251d-4947-9faf-33ce3965e97b",
                "leftValue": "={{ $json.status }}",
                "rightValue": "rejected",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2240,
          -240
        ],
        "id": "5fc8c93e-61a0-48dc-b1dc-bb44d57c1cde",
        "name": "Is rejected?1"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -480,
          -304
        ],
        "id": "a5482bc5-059f-451e-be12-bcc5fae115c3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1168,
          -144
        ],
        "id": "62302278-ec1c-44bd-bf20-9f28260d2b4f",
        "name": "Merge"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          368,
          -160
        ],
        "id": "a09bf0aa-bb13-44ee-b7fb-54a308790de9",
        "name": "Wait",
        "webhookId": "73413620-0112-433f-bf75-39fe9a3ba119"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2592,
          -240
        ],
        "id": "90cb680b-6679-414f-a001-da46722c4ef3",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e6f82e4-042a-49fe-b7d9-34eafdead4e7",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "98dd640c-efc3-4cc2-8f45-442711c3aaf6",
                "name": "published_at",
                "value": "={{ $json.published_at }}",
                "type": "string"
              },
              {
                "id": "ddc97d13-cf78-4120-af9c-2135094c68e5",
                "name": "company_name",
                "value": "={{ $json.company_name }}",
                "type": "string"
              },
              {
                "id": "d83105f2-d36e-4f58-a304-048d6b1cea81",
                "name": "job_title",
                "value": "={{ $json.job_title }}",
                "type": "string"
              },
              {
                "id": "98472579-8758-49e7-afb3-4c9cccec75bc",
                "name": "job_url",
                "value": "={{ $json.job_url }}",
                "type": "string"
              },
              {
                "id": "b750dd49-51e3-4f87-a61a-c4c33978f17d",
                "name": "match_score",
                "value": "={{ $json.match_score }}",
                "type": "number"
              },
              {
                "id": "9988f698-c59a-4a5c-8162-81c45b75e224",
                "name": "job_description",
                "value": "={{ $json.job_description }}",
                "type": "string"
              },
              {
                "id": "5804039c-ea1b-43fd-8c6b-bb4b3cbcbdbb",
                "name": "job_location",
                "value": "={{ $json.job_location }}",
                "type": "string"
              },
              {
                "id": "429a78c3-9b24-4a4f-96c3-43aaee37d6c3",
                "name": "external_id",
                "value": "={{ $json.external_id }}",
                "type": "string"
              },
              {
                "id": "b775719f-125e-463c-ae72-458bc4659483",
                "name": "job_salary",
                "value": "={{ $json.job_salary }}",
                "type": "string"
              },
              {
                "id": "ee82521f-b573-4d52-aa26-4e46c5a5a0a3",
                "name": "company_department",
                "value": "={{ $json.company_department }}",
                "type": "string"
              },
              {
                "id": "667763ef-6bbf-422e-b98a-44bb51b835bb",
                "name": "job_sector",
                "value": "={{ $json.job_sector }}",
                "type": "string"
              },
              {
                "id": "e02990cc-70a0-4672-a050-6280df10fdb8",
                "name": "contract_type",
                "value": "={{ $json.contract_type }}",
                "type": "string"
              },
              {
                "id": "3d532878-6ff8-4d21-9bea-fd927ab38bd9",
                "name": "signal_tier",
                "value": "={{ $json.signal_tier }}",
                "type": "string"
              },
              {
                "id": "45833e66-5531-4b1f-b56c-3401f31448c8",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "49c83c67-536e-42be-a041-4b247875218b",
                "name": "processed_at",
                "value": "={{ $json.processed_at }}",
                "type": "string"
              },
              {
                "id": "e36b8eb9-3dc9-406b-aa74-0ba4839ff0eb",
                "name": "company_url",
                "value": "={{ $json.company_url }}",
                "type": "string"
              },
              {
                "id": "80d94137-bddf-4264-80c3-d0eb5ecda587",
                "name": "poster_name",
                "value": "={{ $json.poster_name }}",
                "type": "string"
              },
              {
                "id": "cf1fb289-8821-4cbf-bdea-814ee646ed9e",
                "name": "poster_linkedin",
                "value": "={{ $json.poster_linkedin }}",
                "type": "string"
              },
              {
                "id": "f7041f7f-79c8-4f8d-a280-56a151df3885",
                "name": "company_logo",
                "value": "={{ $json.company_logo }}",
                "type": "string"
              },
              {
                "id": "4dc74732-aa86-4718-9e3f-f2ac23552cda",
                "name": "experience_level",
                "value": "={{ $json.experience_level }}",
                "type": "string"
              },
              {
                "id": "ccbbece4-e599-4a22-91fd-6d5a4425240f",
                "name": "apply_url",
                "value": "={{ $json.apply_url }}",
                "type": "string"
              },
              {
                "id": "9c881010-3c28-4f7e-a5fd-da3e9f6814d2",
                "name": "source",
                "value": "={{ $json.source }}",
                "type": "string"
              },
              {
                "id": "7c61ac99-d19a-48ed-94a0-754f00eba142",
                "name": "description_vector",
                "value": "={{ $json.description_vector }}",
                "type": "string"
              },
              {
                "id": "83620fee-933a-4de4-9652-91faa26f6260",
                "name": "employment_type",
                "value": "={{ $json.employment_type }}",
                "type": "string"
              },
              {
                "id": "e70e38db-bc1d-4bf4-807f-55155ff0ed8c",
                "name": "work_mode",
                "value": "={{ $json.work_mode }}",
                "type": "string"
              },
              {
                "id": "2fd7e6b1-856b-4d4a-b90d-7d177318cbe2",
                "name": "metadata",
                "value": "={{ $json.metadata }}",
                "type": "string"
              },
              {
                "id": "7b1de7ac-addb-4f76-a3bf-959d7acafff6",
                "name": "tech_score",
                "value": "={{ $json.tech_score }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -256,
          -304
        ],
        "id": "d31fd845-d264-4c1a-89c7-f94e336fad50",
        "name": "Standardize input"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "bhlGPoZTR6B1MQhp",
            "mode": "list",
            "cachedResultUrl": "/workflow/bhlGPoZTR6B1MQhp",
            "cachedResultName": "02_reject_nonAI"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2416,
          -96
        ],
        "id": "3470b108-e60c-439c-9789-20b281b0dd2d",
        "name": "Call '02_reject_nonAI'"
      }
    ],
    "connections": {
      "Reject titles": {
        "main": [
          [
            {
              "node": "Is rejected?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Is rejected?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is rejected?": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check technicality - cosine",
              "type": "main",
              "index": 0
            },
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Reject technical descriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reject technical descriptions": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check technicality - llm",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Check technicality - cosine": {
        "main": [
          [
            {
              "node": "Adjust score cosine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check technicality - llm": {
        "main": [
          [
            {
              "node": "Adjust score llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Check technicality - llm",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Calculate weighted technicality": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Adjust score llm": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adjust score cosine": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Is rejected?1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call '02_reject_nonAI'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Standardize input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Calculate weighted technicality",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Check technicality - llm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          []
        ]
      },
      "Standardize input": {
        "main": [
          [
            {
              "node": "Reject titles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '02_reject_nonAI'": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "d d",
    "name": "Version 72b8f675",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T13:15:23.201Z",
      "createdAt": "2026-01-26T08:43:12.205Z",
      "id": "q3Jm1TtyectpAeLG",
      "name": "score"
    }
  ]
}