workflows/scrape_dedupe_upsert.json
{
  "updatedAt": "2026-03-20T07:57:05.837Z",
  "createdAt": "2026-01-23T07:30:24.776Z",
  "id": "NBCVFrfmAz4h6S1a",
  "name": "scrape_dedupe_upsert",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1904,
        832
      ],
      "id": "43100e07-e3b6-46ff-9fd5-d9aee3165dc5",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12aab632-6a30-4d45-af69-629e385a7a98",
              "leftValue": "={{ $json.similarity }}",
              "rightValue": 0.95,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "b3f9d5f0-9e85-42d0-bb68-5632e54f91b8",
              "leftValue": "={{ $json.similarity }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1440,
        832
      ],
      "id": "e9731f1f-bb36-45b6-9879-614017e4319b",
      "name": "Is similar?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1232,
        736
      ],
      "id": "0d18f417-1cff-4c6a-b3fa-be817da36ca3",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM match_jobs(\n  ARRAY[{{ $json.embedding.values }}]::extensions.vector(1536), \n  '{{ $json.jobUrl }}',\n  1 \n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1680,
        832
      ],
      "id": "d2f07c8b-e6ac-4d72-8b8f-fe1b4d4bf077",
      "name": "Check description similarity",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres careerops"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_leads",
          "mode": "list",
          "cachedResultName": "job_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_url": "={{ $('Merge').item.json.jobUrl }}",
            "published_at": "={{ $('Merge').item.json.publishedAt }}",
            "company_name": "={{ $('Merge').item.json.companyName }}",
            "job_title": "={{ $('Merge').item.json.jobTitle }}",
            "job_description": "={{ $('Merge').item.json.jobDescription }}",
            "job_location": "={{ $('Merge').item.json.location }}",
            "external_id": "={{ $('Merge').item.json.jobId }}",
            "job_salary": "={{ $('Merge').item.json.salaryInfo }}",
            "job_sector": "={{ $('Merge').item.json.sector }}",
            "company_department": "={{ $('Merge').item.json.workType }}",
            "contract_type": "={{ $('Merge').item.json.contractType }}",
            "status": "new",
            "processed_at": "={{ $now.toISO() }}",
            "company_url": "={{ $('Merge').item.json.companyUrl }}",
            "poster_name": "={{ $('Merge').item.json.posterFullName }}",
            "poster_linkedin": "={{ $('Merge').item.json.posterProfileUrl }}",
            "company_logo": "={{ $('Merge').item.json.companyLogo }}",
            "experience_level": "={{ $('Merge').item.json.experienceLevel }}",
            "apply_url": "={{ $('Merge').item.json.applyUrl }}",
            "match_score": 0,
            "description_vector": "={{ $('Merge').item.json.embedding.values }}",
            "source": "={{ $('Merge').item.json.source }}",
            "employment_type": "={{ $('Merge').item.json.employmentType }}",
            "work_mode": "={{ $('Merge').item.json.workMode}}",
            "tech_score": 0
          },
          "matchingColumns": [
            "job_url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_score",
              "displayName": "match_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_description",
              "displayName": "job_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_location",
              "displayName": "job_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "external_id",
              "displayName": "external_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_salary",
              "displayName": "job_salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "company_department",
              "displayName": "company_department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "job_sector",
              "displayName": "job_sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "signal_tier",
              "displayName": "signal_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "poster_name",
              "displayName": "poster_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "poster_linkedin",
              "displayName": "poster_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "company_logo",
              "displayName": "company_logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "experience_level",
              "displayName": "experience_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "description_vector",
              "displayName": "description_vector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "employment_type",
              "displayName": "employment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "work_mode",
              "displayName": "work_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tech_score",
              "displayName": "tech_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1232,
        1040
      ],
      "id": "8f1cdc43-7257-4363-8577-b4e4ed62feb0",
      "name": "Upsert rows",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres careerops"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2368,
        816
      ],
      "id": "2491de5d-9dd8-4b55-b874-f1664388d992",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Expects standardized job JSON\nsee Upsert node"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2464,
        1136
      ],
      "id": "efe780a1-bb73-4e23-bbb1-7c33de6b292c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($json.jobDescription) }}\n      }\n    ]\n  },\n\"outputDimensionality\": 1536\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2144,
        960
      ],
      "id": "ed986c05-e980-4cc9-893f-3f634476edcb",
      "name": "Vectorize job description",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "vmrqCM7rVU8xOXMr",
          "name": "Google Gemini(PaLM) Api account_rag"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fShvCbZRgCtLGec8",
          "mode": "list",
          "cachedResultUrl": "/workflow/fShvCbZRgCtLGec8",
          "cachedResultName": "01_reject_technical"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -992,
        1040
      ],
      "id": "b7d593f2-2513-4176-a972-91229b5a9eb9",
      "name": "Call '01_reject_technical'"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Check description similarity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is similar?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        []
      ]
    },
    "Check description similarity": {
      "main": [
        [
          {
            "node": "Is similar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert rows": {
      "main": [
        [
          {
            "node": "Call '01_reject_technical'",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vectorize job description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vectorize job description": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call '01_reject_technical'": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "jobId": "102071",
          "jobTitle": "Solution Architect",
          "jobUrl": "https://www.startupjobs.cz/nabidka/102071/solution-architect",
          "companyName": "Direct Fidoo",
          "companyUrl": "https://www.startupjobs.cz/startup/direct-fidoo-a-s",
          "companyLogo": "https://images-assets.startupjobs.cz/LOGO/8737/2fb2d2a89e2d7ced4909d43ec56f0fce.png",
          "publishedAt": "2026-03-06T10:46:14.000Z",
          "applyUrl": "https://www.startupjobs.cz/nabidka/102071/prihlasit#application",
          "location": "Prague",
          "contractType": "Full-time",
          "experienceLevel": "Medior, Senior",
          "jobDescription": "Backstory a co bude obsahem tvé práce\n\nVe Fidoo stavíme B2B fintech platformu, která firmám ve střední Evropě pomáhá lépe řídit finance. Jsme scale-up, součást skupiny Direct, a naše produkty se pohybují v regulovaném světě financí, kde architektura, bezpečnost a spolehlivost nejsou „nice to have“, ale nutnost.\n\nJako Solution Architect budeš stát hodně blízko jádru produktu – tam, kde se potkává business, technologie, regulace a dlouhodobá udržitelnost řešení.\n\nKonkrétně tě čeká hlavně:\n\n• návrh cloud-native architektury a komponent s ohledem na bezpečnost, audit, compliance a regulatorní požadavky finančního sektoru\n\n\n• převod business požadavků do technického návrhu, který dává smysl vývojářům i stakeholderům\n\n\n• rozhodování o vhodném stylu komunikace mezi službami (REST API, messaging, event-driven přístup) podle latence, dostupnosti, konzistence a charakteru domény\n\n\n• návrh práce s dokumentovými databázemi – datové modely bez SQL, řešení konzistence, verzování dokumentů a validace dat v aplikační logice\n\n\n• úzká spolupráce s analytiky a business týmy při tvorbě specifikací, user stories a akceptačních kritérií\n\n\n• technický dohled nad vývojem – kontrola architektonických principů, bezpečnostních patternů, compliance a schopnost číst a validovat kód v TypeScriptu\n\n\n• návrh aplikací a komponent tak, aby byly dobře monitorovatelné, logovatelné a automatizovaně nasaditelné v Azure\n\n\nJob Fit a koho hledáme\n\nHledáme někoho, kdo má silnou zkušenost s cloud-native architekturou a umí se pohybovat v prostředí, kde nejde jen o technologii, ale i o regulace, audit a zodpovědnost vůči klientům. Zkušenost z fintechu nebo banky je pro nás velká výhoda – ne proto, že bychom si hráli na „korporát“, ale proto, že víš, co znamená navrhovat systémy, které musí obstát dlouhodobě, bezpečně a pod dohledem regulátora.\n\nMěl bys umět přemýšlet v doménách, chápat dopady architektonických rozhodnutí do businessu a zároveň být partnerem pro vývojáře – někdo, kdo architekturu nejen navrhne, ale dokáže ji obhájit, vysvětlit a uhlídat v praxi. Nehledáme teoretika, ale člověka, který ví, jak věci opravdu fungují v produkci.\n\nProces výběrového řízení\n\nChceme být féroví a efektivní – žádné nekonečné kolečko pohovorů.\n\n• Ozve se ti náš recruiter a krátce si sladíte očekávání.\n\n\n• Následuje setkání s hiring manažerem a technická diskuze nad architekturou, tvým přístupem a zkušenostmi.\n\n\n• Pokud si budeme oboustranně sedět, potkáš se i s dalšími lidmi z týmu, se kterými bys reálně spolupracoval.\n\n\n• Finální rozhodnutí děláme rychle a otevřeně – víš, na čem jsi.\n\n\nTrochu víc o naší kultuře, hodnotách a kancelářích\n\nJednoduše. Rychle. Přátelsky. Bezpečně. Čtyři hodnoty, které nás definují a dávají nám směr při všem, co ve Fidoo tvoříme.\n\nJe nás teď cca 100 a stále rosteme. A i díky tomu, že nám v zády stojí skupina Direct, stojíme na pevných základech a můžeme pracovat na dalším rozvoji.\n\nJsme culture-first. Všichni si týkáme a nemáme moc rádi hru na názvy pozic (nepoužíváme třeba slovo ředitel). Základní premisou v našich vztazích je pro nás důvěra. Máme proto třeba neomezenou dovolenou nebo taky nenařizujeme členům týmů, jak mají pracovat. Preferujeme hybridní formu režimu mezi office a home office.\n\nNa jedné straně víme, že doma z obýváku kulturu nevybudujeme, a proto máme moderní kanceláře v Holešovicích, se kterými jsme vyhráli ocenění Kancelář roku 2023. Slouží nám pro společné potkávání týmů a nabízí velké možnosti jak a kde pracovat – kromě sdílených míst také focus roomy, řadu zasedaček, dvě terasy, kavárnu, velký networkingový prostor Direct Plaza nebo venkovní náplavku u Vltavy.\n\nNa druhou stranu víme, že na home office se dá pracovat soustředěněji, a proto je to pro nás standardní forma práce, kterou členové týmu běžně využívají.\n\nDále tě může zaujmout dog-friendly office, neomezený přístup k výborné kávě z šumavské pražírny Café Etincelle ve všech kávovarech nebo různé slevy na produkty skupiny Direct (např. sleva na nákup auta nebo pojištění).\n\nPokud tě zajímá naše kultura a pracovní prostředí víc, určitě nahlédni na náš profil na Cocumě.\n\nRádi ti všechny zmíněné informace rozšíříme na osobním setkání u nás. Pokud vnímáš, že se na roli Solution Architect hodíš, zanech nám své CV nebo profil na LinkedInu skrz formulář níže.\n\nDíky a těšíme se! 👋",
          "salaryInfo": null,
          "posterFullName": null,
          "posterProfileUrl": null,
          "sector": null,
          "workMode": "Hybrid",
          "employmentType": "Freelance, Work Contract",
          "source": "startupjobscz"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "c749bf71-1a47-4d20-b971-da2b2f32b09a",
  "activeVersionId": "c749bf71-1a47-4d20-b971-da2b2f32b09a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-23T07:30:24.778Z",
      "createdAt": "2026-01-23T07:30:24.778Z",
      "role": "workflow:owner",
      "workflowId": "NBCVFrfmAz4h6S1a",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-20T07:57:25.000Z",
    "createdAt": "2026-03-20T07:57:05.837Z",
    "versionId": "c749bf71-1a47-4d20-b971-da2b2f32b09a",
    "workflowId": "NBCVFrfmAz4h6S1a",
    "nodes": [
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1904,
          832
        ],
        "id": "43100e07-e3b6-46ff-9fd5-d9aee3165dc5",
        "name": "Merge",
        "executeOnce": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "12aab632-6a30-4d45-af69-629e385a7a98",
                "leftValue": "={{ $json.similarity }}",
                "rightValue": 0.95,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              },
              {
                "id": "b3f9d5f0-9e85-42d0-bb68-5632e54f91b8",
                "leftValue": "={{ $json.similarity }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1440,
          832
        ],
        "id": "e9731f1f-bb36-45b6-9879-614017e4319b",
        "name": "Is similar?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1232,
          736
        ],
        "id": "0d18f417-1cff-4c6a-b3fa-be817da36ca3",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM match_jobs(\n  ARRAY[{{ $json.embedding.values }}]::extensions.vector(1536), \n  '{{ $json.jobUrl }}',\n  1 \n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1680,
          832
        ],
        "id": "d2f07c8b-e6ac-4d72-8b8f-fe1b4d4bf077",
        "name": "Check description similarity",
        "alwaysOutputData": false,
        "retryOnFail": true,
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres careerops"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "job_leads",
            "mode": "list",
            "cachedResultName": "job_leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "job_url": "={{ $('Merge').item.json.jobUrl }}",
              "published_at": "={{ $('Merge').item.json.publishedAt }}",
              "company_name": "={{ $('Merge').item.json.companyName }}",
              "job_title": "={{ $('Merge').item.json.jobTitle }}",
              "job_description": "={{ $('Merge').item.json.jobDescription }}",
              "job_location": "={{ $('Merge').item.json.location }}",
              "external_id": "={{ $('Merge').item.json.jobId }}",
              "job_salary": "={{ $('Merge').item.json.salaryInfo }}",
              "job_sector": "={{ $('Merge').item.json.sector }}",
              "company_department": "={{ $('Merge').item.json.workType }}",
              "contract_type": "={{ $('Merge').item.json.contractType }}",
              "status": "new",
              "processed_at": "={{ $now.toISO() }}",
              "company_url": "={{ $('Merge').item.json.companyUrl }}",
              "poster_name": "={{ $('Merge').item.json.posterFullName }}",
              "poster_linkedin": "={{ $('Merge').item.json.posterProfileUrl }}",
              "company_logo": "={{ $('Merge').item.json.companyLogo }}",
              "experience_level": "={{ $('Merge').item.json.experienceLevel }}",
              "apply_url": "={{ $('Merge').item.json.applyUrl }}",
              "match_score": 0,
              "description_vector": "={{ $('Merge').item.json.embedding.values }}",
              "source": "={{ $('Merge').item.json.source }}",
              "employment_type": "={{ $('Merge').item.json.employmentType }}",
              "work_mode": "={{ $('Merge').item.json.workMode}}",
              "tech_score": 0
            },
            "matchingColumns": [
              "job_url"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "published_at",
                "displayName": "published_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "company_name",
                "displayName": "company_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "job_title",
                "displayName": "job_title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "job_url",
                "displayName": "job_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "match_score",
                "displayName": "match_score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "job_description",
                "displayName": "job_description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "job_location",
                "displayName": "job_location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "external_id",
                "displayName": "external_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "job_salary",
                "displayName": "job_salary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "company_department",
                "displayName": "company_department",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "job_sector",
                "displayName": "job_sector",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "contract_type",
                "displayName": "contract_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "signal_tier",
                "displayName": "signal_tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "processed_at",
                "displayName": "processed_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "company_url",
                "displayName": "company_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "poster_name",
                "displayName": "poster_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "poster_linkedin",
                "displayName": "poster_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "company_logo",
                "displayName": "company_logo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "experience_level",
                "displayName": "experience_level",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "apply_url",
                "displayName": "apply_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "description_vector",
                "displayName": "description_vector",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "employment_type",
                "displayName": "employment_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "work_mode",
                "displayName": "work_mode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "metadata",
                "displayName": "metadata",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "tech_score",
                "displayName": "tech_score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1232,
          1040
        ],
        "id": "8f1cdc43-7257-4363-8577-b4e4ed62feb0",
        "name": "Upsert rows",
        "retryOnFail": true,
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres careerops"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2368,
          816
        ],
        "id": "2491de5d-9dd8-4b55-b874-f1664388d992",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "content": "## Expects standardized job JSON\nsee Upsert node"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2464,
          1136
        ],
        "id": "efe780a1-bb73-4e23-bbb1-7c33de6b292c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($json.jobDescription) }}\n      }\n    ]\n  },\n\"outputDimensionality\": 1536\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -2144,
          960
        ],
        "id": "ed986c05-e980-4cc9-893f-3f634476edcb",
        "name": "Vectorize job description",
        "executeOnce": false,
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "vmrqCM7rVU8xOXMr",
            "name": "Google Gemini(PaLM) Api account_rag"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "fShvCbZRgCtLGec8",
            "mode": "list",
            "cachedResultUrl": "/workflow/fShvCbZRgCtLGec8",
            "cachedResultName": "01_reject_technical"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -992,
          1040
        ],
        "id": "b7d593f2-2513-4176-a972-91229b5a9eb9",
        "name": "Call '01_reject_technical'"
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "Check description similarity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is similar?": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing1": {
        "main": [
          []
        ]
      },
      "Check description similarity": {
        "main": [
          [
            {
              "node": "Is similar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert rows": {
        "main": [
          [
            {
              "node": "Call '01_reject_technical'",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Vectorize job description",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vectorize job description": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Call '01_reject_technical'": {
        "main": [
          []
        ]
      }
    },
    "authors": "d d",
    "name": "Version c749bf71",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T13:15:28.248Z",
      "createdAt": "2026-01-22T12:40:37.040Z",
      "id": "mcS1gLAfDII7yoGe",
      "name": "scrape"
    }
  ]
}