workflows/sync_last_success.json
{
  "updatedAt": "2026-03-11T08:07:01.607Z",
  "createdAt": "2026-03-06T12:22:00.641Z",
  "id": "K2KfZFVuadrrWDTC",
  "name": "sync_last_success",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/45 8-22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -224
      ],
      "id": "7efd436e-ae82-4b3c-9e32-76b3518006da",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b5c09e6-9ce5-4767-8b89-76527a23c432",
              "leftValue": "={{ $json.should_run }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -224
      ],
      "id": "1c58d2d3-b925-4888-819a-71d5bbb181c8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f531b7d9-fe91-48ed-b30b-c2ffd5e88f48",
              "name": "data[0].name",
              "value": "={{ $json.data[0].name }}",
              "type": "string"
            },
            {
              "id": "b5d02b5e-6c12-4f7d-ba57-060890403197",
              "name": "data[0].id",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -224
      ],
      "id": "2d40bc7c-4556-407e-a8d3-3a98602fed04",
      "name": "Get Id"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "workflow_health",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -528,
        -224
      ],
      "id": "e7463151-0147-43e1-8ab9-4bdce324ee8f",
      "name": "Get workflow status",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "qB1TBV7vyX50RGhp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "=prod,  {{ $json.workflowTag }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -224
      ],
      "id": "ed7962c5-2562-4040-9c54-fd2bf7cda4c2",
      "name": "Get workflow details",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oGTjX94cN1PIy8AK",
          "name": "Tavily search API"
        },
        "n8nApi": {
          "id": "Gu2syoX97ihPRYza",
          "name": "GTM_orchestrator_key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lastSuccessStr = $json.last_success_at;\nconst status = $json.status;\nconst workflowTag = $json.workflow_tag;\n\nlet shouldRun = false;\nlet reason = \"\";\n\nif (!lastSuccessStr) {\n  shouldRun = true;\n  reason = 'No previous success record';\n} else {\n  const lastSuccessDate = new Date(lastSuccessStr);\n  const now = new Date();\n\n  const isToday = \n    lastSuccessDate.getUTCFullYear() === now.getUTCFullYear() &&\n    lastSuccessDate.getUTCMonth() === now.getUTCMonth() &&\n    lastSuccessDate.getUTCDate() === now.getUTCDate();\n\n  shouldRun = (!isToday || status === 'error') && status !== 'running';\n  \n  if (!isToday) {\n    reason = 'Last success was not today';\n  } else if (status === 'error') {\n    reason = 'Last run failed';\n  } else {\n    reason = 'Already done or running';\n  }\n}\n\nreturn { \n  workflowTag, \n  should_run: shouldRun, \n  reason: reason \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -224
      ],
      "id": "870a9da5-e7e1-4213-86bf-a85fa613a7ec",
      "name": "Check shouldRun?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data[0].id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        -224
      ],
      "id": "74204f86-599d-4efb-81a9-a8fa02239260",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        -224
      ],
      "id": "b72dda7b-306e-4e9e-860b-45726406f628",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        336,
        -464
      ],
      "id": "754bf3b9-ed6d-442b-a761-cd874e68cb8b",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get workflow status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workflow status": {
      "main": [
        [
          {
            "node": "Check shouldRun?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workflow details": {
      "main": [
        [
          {
            "node": "Get Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check shouldRun?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Id": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get workflow details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "executionOrder": "v1",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-09T08:45:00.020+01:00",
          "Readable date": "March 9th 2026, 8:45:00 am",
          "Readable time": "8:45:00 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "09",
          "Hour": "08",
          "Minute": "45",
          "Second": "00",
          "Timezone": "Europe/Prague (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "65378cf1-c121-4d1b-afe3-94e3563a3da9",
  "activeVersionId": "65378cf1-c121-4d1b-afe3-94e3563a3da9",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T12:22:00.643Z",
      "createdAt": "2026-03-06T12:22:00.643Z",
      "role": "workflow:owner",
      "workflowId": "K2KfZFVuadrrWDTC",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-11T08:08:47.000Z",
    "createdAt": "2026-03-11T08:07:01.608Z",
    "versionId": "65378cf1-c121-4d1b-afe3-94e3563a3da9",
    "workflowId": "K2KfZFVuadrrWDTC",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/45 8-22 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -720,
          -224
        ],
        "id": "7efd436e-ae82-4b3c-9e32-76b3518006da",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4b5c09e6-9ce5-4767-8b89-76527a23c432",
                "leftValue": "={{ $json.should_run }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -112,
          -224
        ],
        "id": "1c58d2d3-b925-4888-819a-71d5bbb181c8",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f531b7d9-fe91-48ed-b30b-c2ffd5e88f48",
                "name": "data[0].name",
                "value": "={{ $json.data[0].name }}",
                "type": "string"
              },
              {
                "id": "b5d02b5e-6c12-4f7d-ba57-060890403197",
                "name": "data[0].id",
                "value": "={{ $json.data[0].id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          688,
          -224
        ],
        "id": "2d40bc7c-4556-407e-a8d3-3a98602fed04",
        "name": "Get Id"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "workflow_health",
          "returnAll": true
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -528,
          -224
        ],
        "id": "e7463151-0147-43e1-8ab9-4bdce324ee8f",
        "name": "Get workflow status",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "qB1TBV7vyX50RGhp",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "http://localhost:5678/api/v1/workflows",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "n8nApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "tags",
                "value": "=prod,  {{ $json.workflowTag }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          464,
          -224
        ],
        "id": "ed7962c5-2562-4040-9c54-fd2bf7cda4c2",
        "name": "Get workflow details",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oGTjX94cN1PIy8AK",
            "name": "Tavily search API"
          },
          "n8nApi": {
            "id": "Gu2syoX97ihPRYza",
            "name": "GTM_orchestrator_key"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const lastSuccessStr = $json.last_success_at;\nconst status = $json.status;\nconst workflowTag = $json.workflow_tag;\n\nlet shouldRun = false;\nlet reason = \"\";\n\nif (!lastSuccessStr) {\n  shouldRun = true;\n  reason = 'No previous success record';\n} else {\n  const lastSuccessDate = new Date(lastSuccessStr);\n  const now = new Date();\n\n  const isToday = \n    lastSuccessDate.getUTCFullYear() === now.getUTCFullYear() &&\n    lastSuccessDate.getUTCMonth() === now.getUTCMonth() &&\n    lastSuccessDate.getUTCDate() === now.getUTCDate();\n\n  shouldRun = (!isToday || status === 'error') && status !== 'running';\n  \n  if (!isToday) {\n    reason = 'Last success was not today';\n  } else if (status === 'error') {\n    reason = 'Last run failed';\n  } else {\n    reason = 'Already done or running';\n  }\n}\n\nreturn { \n  workflowTag, \n  should_run: shouldRun, \n  reason: reason \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -336,
          -224
        ],
        "id": "870a9da5-e7e1-4213-86bf-a85fa613a7ec",
        "name": "Check shouldRun?"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.data[0].id }}",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          912,
          -224
        ],
        "id": "74204f86-599d-4efb-81a9-a8fa02239260",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          160,
          -224
        ],
        "id": "b72dda7b-306e-4e9e-860b-45726406f628",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          336,
          -464
        ],
        "id": "754bf3b9-ed6d-442b-a761-cd874e68cb8b",
        "name": "No Operation, do nothing"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get workflow status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get workflow status": {
        "main": [
          [
            {
              "node": "Check shouldRun?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get workflow details": {
        "main": [
          [
            {
              "node": "Get Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check shouldRun?": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Id": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get workflow details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "d d",
    "name": "Version 65378cf1",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-02-17T08:55:44.901Z",
      "createdAt": "2026-02-17T08:55:44.901Z",
      "id": "KfoxYHbtIHL4mStj",
      "name": "sync"
    }
  ]
}