demo/01_lead_scraper/workflows/scrape_startupjobscz.json
{
  "updatedAt": "2026-03-06T13:10:23.375Z",
  "createdAt": "2026-03-06T12:06:54.218Z",
  "id": "CmzQ2cHGnb3X3hIZ",
  "name": "scrape_startupjobscz",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1888,
        912
      ],
      "id": "4c7d67d4-4f39-44e9-9ba0-bccd0b79849b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1136,
        912
      ],
      "id": "e7a08412-be27-40d5-8c58-2eaf4a3a7f70",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $input.item.json.data;\n\nconst idMatch      = html.match(/nabidka\\/(\\d+)/);\nconst titleMatch   = html.match(/<title>(.*?) \\|/i);\nconst companyMatch = html.match(/\"hiringOrganization\":\\s?\\{.*?\"name\":\\s?\"(.*?)\"/i);\nconst logoMatch    = html.match(/\"logo\":\\s?\"(.*?)\"/i);\n\nconst canonicalMatch = html.match(/link href=\"(https:\\/\\/www\\.startupjobs\\.cz\\/nabidka\\/.*?)\"/i);\nconst companyUrl   = html.match(/\"hiringOrganization\":\\s?\\{.*?\"url\":\\s?\"(.*?)\"/i);\nconst dateMatch    = html.match(/\"datePosted\":\\s?\"(.*?)\"/i);\n\nconst jobId = idMatch ? idMatch[1] : null; \nconst applyUrl = jobId ? `https://www.startupjobs.cz/nabidka/${jobId}/prihlasit#application` : null;\n\nlet cleanTitle = titleMatch ? titleMatch[1] : \"Other\";\ncleanTitle = cleanTitle.replace(/&#x2F;/g, '/').replace(/&amp;/g, '&').trim();\nlet cleanLogo = logoMatch ? logoMatch[1] : \"Other\";\ncleanLogo = cleanLogo.replace(/\\\\/g, '');\nlet cleanJobUrl = (canonicalMatch && canonicalMatch[1]) ? canonicalMatch[1].split('\"')[0] : \"Other\";\n\nreturn {\n    jobId:       idMatch ? idMatch[1] : \"Other\",\n    jobTitle:    cleanTitle,\n    jobUrl:      cleanJobUrl,\n    companyName: companyMatch ? companyMatch[1] : \"Other\",\n    companyUrl:  companyUrl ? companyUrl[1] : \"Other\",\n    companyLogo: cleanLogo,\n    publishedAt: dateMatch ? dateMatch[1] : \"Other\",\n    applyUrl:    applyUrl ? applyUrl : \"Other\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1152
      ],
      "id": "cb0343b3-540e-4a0e-8815-9cb022095ea1",
      "name": "HTML parser job indicators"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json.data;\nconst cleanHtml = raw.replace(/\\\\\"/g, '\"').replace(/\\\\n/g, '\\n');\n\nconst match = cleanHtml.match(/<div class=\"output-content\">(.*?)<\\/div>/s);\n\nif (!match) return { jobDescription: \"Description section not found.\" };\n\nlet text = match[1];\n\ntext = text\n    .replace(/<\\/p>/g, '\\n\\n')       // Add double spacing after paragraphs\n    .replace(/<\\/div>/g, '\\n')       // Single space for div blocks\n    .replace(/<\\/li>/g, '\\n')         // Add a new line after list items\n    .replace(/<li>/g, '• ')           // Add a bullet point symbol\n    .replace(/<[^>]+>/g, '')          // Remove all other remaining HTML tags\n    .replace(/&nbsp;/g, ' ')          // Fix non-breaking spaces\n    .replace(/&amp;/g, '&')           // Fix ampersands\n    .trim();                          // Remove extra space at start/end\n\nreturn {\n    jobDescription: text\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1504
      ],
      "id": "99bc5f24-13d1-4a42-8cfa-038e5b0d8157",
      "name": "HTML parser job description"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "job_leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "job_url",
              "condition": "eq",
              "keyValue": "={{ $json.loc }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -704,
        912
      ],
      "id": "e586b799-01c4-4ff1-b417-5388651612a1",
      "name": "Check for dupes",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "qB1TBV7vyX50RGhp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a047debf-f378-4320-9351-24cc1a8ebc1c",
              "leftValue": "={{ $json.loc }}",
              "rightValue": ".*(\\bai\\b|gen-?ai|agent|low-code|workflow|automation|implementation|solution-architect|ops).*",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "6f924664-fa20-4947-af03-df2841af8012",
              "leftValue": "={{ $json.loc }}",
              "rightValue": ".*(sales|marketing|asistent|manual|legal|qa-engineer|obchodni|akvizicni|prodejni|account-manager|customer-success|qa-automation|test-automation|devops|lead|head|director|reditel|vedouci|full-stack|java|kotlin|swift|android|php|react-native).*",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -944,
        912
      ],
      "id": "7660aeed-0fbb-40dd-bde1-8d7bb1034bfd",
      "name": "Filter positive and negative"
    },
    {
      "parameters": {
        "url": "https://www.startupjobs.cz/sitemap/offers.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1520,
        912
      ],
      "id": "1fe8470f-d5ae-4dca-a8d5-df60b747c9ba",
      "name": "Fetch startupjobs.cz XML",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1312,
        912
      ],
      "id": "0618f4dd-e1e3-48e8-be4d-0fd489dce69c",
      "name": "XML to JSON"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "job_url",
              "field2": "loc"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        1120
      ],
      "id": "0797abc9-30d8-4e6d-85cc-8e715f78d32d",
      "name": "Keep non-dupes",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        1328
      ],
      "id": "7f40e487-a0ca-4089-9b83-4785499b3598",
      "name": "Fetch raw job html",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.job_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Return-Format",
              "value": "text"
            },
            {
              "name": "X-Target-Selector",
              "value": "article"
            },
            {
              "name": "X-Remove-Selector",
              "value": ".sm\\:hidden, footer, nav, .sidebar, script, style, .similar-jobs, header, aside, [role=\"navigation\"], .mt-20, #newsletter-box, .cookie-consent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        1120
      ],
      "id": "7bfbbfc3-100e-4082-b09d-b937b312b03a",
      "name": "Jina fetch job text",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tftPtYpIkTcp1FKo",
          "name": "Jina Reader API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        1312
      ],
      "id": "d736651f-c1d6-48a9-8972-716920107921",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const platformName = \"startupjobscz\";\n\nfor (const item of $input.all()) {\n  item.json.source = platformName;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1328
      ],
      "id": "9481fbce-4b58-43dc-869c-c6f63ad0ac76",
      "name": "add source"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = JSON.stringify($input.item.json.data).toLowerCase();\n\nconst getInfo = (options, isLocation = false) => {\n    let found = options.filter(opt => raw.includes(opt.toLowerCase()));\n    found = found.map(word => word.replace(/_/g, ' '));\n    if (isLocation && (found.includes(\"Praha\") || found.includes(\"Prague\"))) {\n        return \"Prague\";\n    }\n    return found.length > 0 ? found.join(\", \") : \"Other\";\n};\n\nconst locationOptions = [\"Praha\", \"Prague\"]; \nconst experienceLevelOptions = [\"Junior\", \"Medior\", \"Senior\"];\nconst contractOptions = [\"Full-time\", \"Part-time\"];\nconst employmentOptions = [\"Freelance\", \"Work_Contract\"];\nconst workModeOptions = [\"Remote\", \"Hybrid\", \"On-site\"];\n\nreturn {\n    workMode: getInfo(workModeOptions),\n    location: getInfo(locationOptions, true),\n    contractType: getInfo(contractOptions),\n    employmentType: getInfo(employmentOptions),\n    experienceLevel: getInfo(experienceLevelOptions)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1328
      ],
      "id": "471ea6fd-4fe5-437f-8422-6b1fa748970d",
      "name": "HTML parser sidebar indicators"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        1312
      ],
      "id": "74fc931b-3110-4eb8-ae24-9b8c716d047b",
      "name": "Merge data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c6d132b-3f2c-404c-8fd7-73b4ab25a7ae",
              "name": "jobId",
              "value": "={{ $json.jobId }}",
              "type": "string"
            },
            {
              "id": "b023034d-a04b-4058-ab2f-1ad1827889b4",
              "name": "jobTitle",
              "value": "={{ $json.jobTitle }}",
              "type": "string"
            },
            {
              "id": "a85671e1-aa23-4ba4-94dd-a88998e26b96",
              "name": "jobUrl",
              "value": "={{ $json.jobUrl }}",
              "type": "string"
            },
            {
              "id": "a7609c01-4e31-43a0-940d-b97171f0123a",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "51e71c18-177a-4370-a63d-25f8001fce8e",
              "name": "companyUrl",
              "value": "={{ $json.companyUrl }}",
              "type": "string"
            },
            {
              "id": "ce6bae6a-2e69-4671-b2d3-08f6ff27fd81",
              "name": "companyLogo",
              "value": "={{ $json.companyLogo }}",
              "type": "string"
            },
            {
              "id": "0103b2e7-89df-48b2-a1dc-4b91932b8495",
              "name": "publishedAt",
              "value": "={{ $json.publishedAt }}",
              "type": "string"
            },
            {
              "id": "b8611d60-09ec-409e-a0c0-8a6d7da87ea0",
              "name": "applyUrl",
              "value": "={{ $json.applyUrl }}",
              "type": "string"
            },
            {
              "id": "008246ee-3829-4a26-af95-544f914e1fe9",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "949e43c8-0db8-420e-a39d-6be73d8c5efc",
              "name": "contractType",
              "value": "={{ $json.contractType }}",
              "type": "string"
            },
            {
              "id": "7e313d83-31bb-455f-83df-1c2bb8ef992d",
              "name": "experienceLevel",
              "value": "={{ $json.experienceLevel }}",
              "type": "string"
            },
            {
              "id": "30f4be42-bf3a-459d-bbb3-5000af3a21de",
              "name": "jobDescription",
              "value": "={{ $json.jobDescription }}",
              "type": "string"
            },
            {
              "id": "64980d27-ab7a-4a79-936f-49df553b6d2d",
              "name": "salaryInfo",
              "value": "={{ $json.salaryInfo }}",
              "type": "array"
            },
            {
              "id": "87782311-7ad5-4821-aea4-7d293c6b4f59",
              "name": "posterFullName",
              "value": "={{ $json.posterFullName }}",
              "type": "string"
            },
            {
              "id": "160cbda5-0d12-4d1a-a654-13a3e1ad720f",
              "name": "posterProfileUrl",
              "value": "={{ $json.posterProfileUrl }}",
              "type": "string"
            },
            {
              "id": "1e0e0a25-7bb2-443e-be17-220d44d95d92",
              "name": "sector",
              "value": "={{ $json.sector }}",
              "type": "string"
            },
            {
              "id": "d7ecf8bd-46b7-414c-8862-41811f709f0a",
              "name": "workMode",
              "value": "={{ $json.workMode }}",
              "type": "string"
            },
            {
              "id": "a43ad1be-2936-4dd3-ba10-fd613008347d",
              "name": "employmentType",
              "value": "={{ $json.employmentType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        1328
      ],
      "id": "e6ec1f92-af6d-47cb-afac-9e8fce4b8ecd",
      "name": "Standardize output (**adjust fields**)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_health",
          "mode": "list",
          "cachedResultName": "workflow_health"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "running",
            "workflow_tag": "startupjobscz"
          },
          "matchingColumns": [
            "workflow_tag"
          ],
          "schema": [
            {
              "id": "workflow_tag",
              "displayName": "workflow_tag",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_success_at",
              "displayName": "last_success_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        912
      ],
      "id": "c3d3b9ab-6e83-4de4-ae9c-b8924c399327",
      "name": "update running status",
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_health",
          "mode": "list",
          "cachedResultName": "workflow_health"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "last_success_at": "={{ $now.toISO() }}",
            "workflow_tag": "startupjobscz"
          },
          "matchingColumns": [
            "workflow_tag"
          ],
          "schema": [
            {
              "id": "workflow_tag",
              "displayName": "workflow_tag",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_success_at",
              "displayName": "last_success_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        1136
      ],
      "id": "eaf9f7c1-9c6e-4902-a0b2-6ec56103befc",
      "name": "update success status",
      "credentials": {
        "postgres": {
          "id": "wub5gbhgKNBgMsXa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NBCVFrfmAz4h6S1a",
          "mode": "list",
          "cachedResultUrl": "/workflow/NBCVFrfmAz4h6S1a",
          "cachedResultName": "03_dedupe_upsert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1136,
        1328
      ],
      "id": "b30756e1-f525-4347-96a0-67b3310a2e24",
      "name": "Call '03_dedupe_upsert'"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1888,
        1088
      ],
      "id": "ffd38130-bb54-40ee-b75e-3c3173401979",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter positive and negative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML parser job indicators": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML parser job description": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Check for dupes": {
      "main": [
        [
          {
            "node": "Keep non-dupes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter positive and negative": {
      "main": [
        [
          {
            "node": "Check for dupes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keep non-dupes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch startupjobs.cz XML": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep non-dupes": {
      "main": [
        [
          {
            "node": "Jina fetch job text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch raw job html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch raw job html": {
      "main": [
        [
          {
            "node": "HTML parser job description",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML parser job indicators",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML parser sidebar indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina fetch job text": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "update success status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standardize output (**adjust fields**)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add source": {
      "main": [
        [
          {
            "node": "Call '03_dedupe_upsert'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML parser sidebar indicators": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "update running status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize output (**adjust fields**)": {
      "main": [
        [
          {
            "node": "add source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update running status": {
      "main": [
        [
          {
            "node": "Fetch startupjobs.cz XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '03_dedupe_upsert'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "update running status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "executionOrder": "v1",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "242c4dfa-35ac-470b-81c9-b5e4e89499c8",
  "activeVersionId": "242c4dfa-35ac-470b-81c9-b5e4e89499c8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T12:06:54.220Z",
      "createdAt": "2026-03-06T12:06:54.220Z",
      "role": "workflow:owner",
      "workflowId": "CmzQ2cHGnb3X3hIZ",
      "projectId": "540BGLV3Iv8prOb0"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-06T12:19:46.000Z",
    "createdAt": "2026-03-06T12:19:44.211Z",
    "versionId": "242c4dfa-35ac-470b-81c9-b5e4e89499c8",
    "workflowId": "CmzQ2cHGnb3X3hIZ",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8,
                "triggerAtMinute": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1888,
          912
        ],
        "id": "4c7d67d4-4f39-44e9-9ba0-bccd0b79849b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "fieldToSplitOut": "urlset.url",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -1136,
          912
        ],
        "id": "e7a08412-be27-40d5-8c58-2eaf4a3a7f70",
        "name": "Split Out"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const html = $input.item.json.data;\n\nconst idMatch      = html.match(/nabidka\\/(\\d+)/);\nconst titleMatch   = html.match(/<title>(.*?) \\|/i);\nconst companyMatch = html.match(/\"hiringOrganization\":\\s?\\{.*?\"name\":\\s?\"(.*?)\"/i);\nconst logoMatch    = html.match(/\"logo\":\\s?\"(.*?)\"/i);\n\nconst canonicalMatch = html.match(/link href=\"(https:\\/\\/www\\.startupjobs\\.cz\\/nabidka\\/.*?)\"/i);\nconst companyUrl   = html.match(/\"hiringOrganization\":\\s?\\{.*?\"url\":\\s?\"(.*?)\"/i);\nconst dateMatch    = html.match(/\"datePosted\":\\s?\"(.*?)\"/i);\n\nconst jobId = idMatch ? idMatch[1] : null; \nconst applyUrl = jobId ? `https://www.startupjobs.cz/nabidka/${jobId}/prihlasit#application` : null;\n\nlet cleanTitle = titleMatch ? titleMatch[1] : \"Other\";\ncleanTitle = cleanTitle.replace(/&#x2F;/g, '/').replace(/&amp;/g, '&').trim();\nlet cleanLogo = logoMatch ? logoMatch[1] : \"Other\";\ncleanLogo = cleanLogo.replace(/\\\\/g, '');\nlet cleanJobUrl = (canonicalMatch && canonicalMatch[1]) ? canonicalMatch[1].split('\"')[0] : \"Other\";\n\nreturn {\n    jobId:       idMatch ? idMatch[1] : \"Other\",\n    jobTitle:    cleanTitle,\n    jobUrl:      cleanJobUrl,\n    companyName: companyMatch ? companyMatch[1] : \"Other\",\n    companyUrl:  companyUrl ? companyUrl[1] : \"Other\",\n    companyLogo: cleanLogo,\n    publishedAt: dateMatch ? dateMatch[1] : \"Other\",\n    applyUrl:    applyUrl ? applyUrl : \"Other\"\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          1152
        ],
        "id": "cb0343b3-540e-4a0e-8815-9cb022095ea1",
        "name": "HTML parser job indicators"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = $input.item.json.data;\nconst cleanHtml = raw.replace(/\\\\\"/g, '\"').replace(/\\\\n/g, '\\n');\n\nconst match = cleanHtml.match(/<div class=\"output-content\">(.*?)<\\/div>/s);\n\nif (!match) return { jobDescription: \"Description section not found.\" };\n\nlet text = match[1];\n\ntext = text\n    .replace(/<\\/p>/g, '\\n\\n')       // Add double spacing after paragraphs\n    .replace(/<\\/div>/g, '\\n')       // Single space for div blocks\n    .replace(/<\\/li>/g, '\\n')         // Add a new line after list items\n    .replace(/<li>/g, '• ')           // Add a bullet point symbol\n    .replace(/<[^>]+>/g, '')          // Remove all other remaining HTML tags\n    .replace(/&nbsp;/g, ' ')          // Fix non-breaking spaces\n    .replace(/&amp;/g, '&')           // Fix ampersands\n    .trim();                          // Remove extra space at start/end\n\nreturn {\n    jobDescription: text\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          1504
        ],
        "id": "99bc5f24-13d1-4a42-8cfa-038e5b0d8157",
        "name": "HTML parser job description"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "job_leads",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "job_url",
                "condition": "eq",
                "keyValue": "={{ $json.loc }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -704,
          912
        ],
        "id": "e586b799-01c4-4ff1-b417-5388651612a1",
        "name": "Check for dupes",
        "alwaysOutputData": false,
        "credentials": {
          "supabaseApi": {
            "id": "qB1TBV7vyX50RGhp",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a047debf-f378-4320-9351-24cc1a8ebc1c",
                "leftValue": "={{ $json.loc }}",
                "rightValue": ".*(\\bai\\b|gen-?ai|agent|low-code|workflow|automation|implementation|solution-architect|ops).*",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              },
              {
                "id": "6f924664-fa20-4947-af03-df2841af8012",
                "leftValue": "={{ $json.loc }}",
                "rightValue": ".*(sales|marketing|asistent|manual|legal|qa-engineer|obchodni|akvizicni|prodejni|account-manager|customer-success|qa-automation|test-automation|devops|lead|head|director|reditel|vedouci|full-stack|java|kotlin|swift|android|php|react-native).*",
                "operator": {
                  "type": "string",
                  "operation": "notRegex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -944,
          912
        ],
        "id": "7660aeed-0fbb-40dd-bde1-8d7bb1034bfd",
        "name": "Filter positive and negative"
      },
      {
        "parameters": {
          "url": "https://www.startupjobs.cz/sitemap/offers.xml",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1520,
          912
        ],
        "id": "1fe8470f-d5ae-4dca-a8d5-df60b747c9ba",
        "name": "Fetch startupjobs.cz XML",
        "retryOnFail": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -1312,
          912
        ],
        "id": "0618f4dd-e1e3-48e8-be4d-0fd489dce69c",
        "name": "XML to JSON"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "job_url",
                "field2": "loc"
              }
            ]
          },
          "joinMode": "keepNonMatches",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -496,
          1120
        ],
        "id": "0797abc9-30d8-4e6d-85cc-8e715f78d32d",
        "name": "Keep non-dupes",
        "executeOnce": false
      },
      {
        "parameters": {
          "url": "={{ $json.loc }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -256,
          1328
        ],
        "id": "7f40e487-a0ca-4089-9b83-4785499b3598",
        "name": "Fetch raw job html",
        "retryOnFail": true
      },
      {
        "parameters": {
          "url": "=https://r.jina.ai/{{ $json.job_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "X-Return-Format",
                "value": "text"
              },
              {
                "name": "X-Target-Selector",
                "value": "article"
              },
              {
                "name": "X-Remove-Selector",
                "value": ".sm\\:hidden, footer, nav, .sidebar, script, style, .similar-jobs, header, aside, [role=\"navigation\"], .mt-20, #newsletter-box, .cookie-consent"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -256,
          1120
        ],
        "id": "7bfbbfc3-100e-4082-b09d-b937b312b03a",
        "name": "Jina fetch job text",
        "credentials": {
          "httpHeaderAuth": {
            "id": "tftPtYpIkTcp1FKo",
            "name": "Jina Reader API"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          528,
          1312
        ],
        "id": "d736651f-c1d6-48a9-8972-716920107921",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "const platformName = \"startupjobscz\";\n\nfor (const item of $input.all()) {\n  item.json.source = platformName;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          1328
        ],
        "id": "9481fbce-4b58-43dc-869c-c6f63ad0ac76",
        "name": "add source"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = JSON.stringify($input.item.json.data).toLowerCase();\n\nconst getInfo = (options, isLocation = false) => {\n    let found = options.filter(opt => raw.includes(opt.toLowerCase()));\n    found = found.map(word => word.replace(/_/g, ' '));\n    if (isLocation && (found.includes(\"Praha\") || found.includes(\"Prague\"))) {\n        return \"Prague\";\n    }\n    return found.length > 0 ? found.join(\", \") : \"Other\";\n};\n\nconst locationOptions = [\"Praha\", \"Prague\"]; \nconst experienceLevelOptions = [\"Junior\", \"Medior\", \"Senior\"];\nconst contractOptions = [\"Full-time\", \"Part-time\"];\nconst employmentOptions = [\"Freelance\", \"Work_Contract\"];\nconst workModeOptions = [\"Remote\", \"Hybrid\", \"On-site\"];\n\nreturn {\n    workMode: getInfo(workModeOptions),\n    location: getInfo(locationOptions, true),\n    contractType: getInfo(contractOptions),\n    employmentType: getInfo(employmentOptions),\n    experienceLevel: getInfo(experienceLevelOptions)\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          1328
        ],
        "id": "471ea6fd-4fe5-437f-8422-6b1fa748970d",
        "name": "HTML parser sidebar indicators"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          272,
          1312
        ],
        "id": "74fc931b-3110-4eb8-ae24-9b8c716d047b",
        "name": "Merge data"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1c6d132b-3f2c-404c-8fd7-73b4ab25a7ae",
                "name": "jobId",
                "value": "={{ $json.jobId }}",
                "type": "string"
              },
              {
                "id": "b023034d-a04b-4058-ab2f-1ad1827889b4",
                "name": "jobTitle",
                "value": "={{ $json.jobTitle }}",
                "type": "string"
              },
              {
                "id": "a85671e1-aa23-4ba4-94dd-a88998e26b96",
                "name": "jobUrl",
                "value": "={{ $json.jobUrl }}",
                "type": "string"
              },
              {
                "id": "a7609c01-4e31-43a0-940d-b97171f0123a",
                "name": "companyName",
                "value": "={{ $json.companyName }}",
                "type": "string"
              },
              {
                "id": "51e71c18-177a-4370-a63d-25f8001fce8e",
                "name": "companyUrl",
                "value": "={{ $json.companyUrl }}",
                "type": "string"
              },
              {
                "id": "ce6bae6a-2e69-4671-b2d3-08f6ff27fd81",
                "name": "companyLogo",
                "value": "={{ $json.companyLogo }}",
                "type": "string"
              },
              {
                "id": "0103b2e7-89df-48b2-a1dc-4b91932b8495",
                "name": "publishedAt",
                "value": "={{ $json.publishedAt }}",
                "type": "string"
              },
              {
                "id": "b8611d60-09ec-409e-a0c0-8a6d7da87ea0",
                "name": "applyUrl",
                "value": "={{ $json.applyUrl }}",
                "type": "string"
              },
              {
                "id": "008246ee-3829-4a26-af95-544f914e1fe9",
                "name": "location",
                "value": "={{ $json.location }}",
                "type": "string"
              },
              {
                "id": "949e43c8-0db8-420e-a39d-6be73d8c5efc",
                "name": "contractType",
                "value": "={{ $json.contractType }}",
                "type": "string"
              },
              {
                "id": "7e313d83-31bb-455f-83df-1c2bb8ef992d",
                "name": "experienceLevel",
                "value": "={{ $json.experienceLevel }}",
                "type": "string"
              },
              {
                "id": "30f4be42-bf3a-459d-bbb3-5000af3a21de",
                "name": "jobDescription",
                "value": "={{ $json.jobDescription }}",
                "type": "string"
              },
              {
                "id": "64980d27-ab7a-4a79-936f-49df553b6d2d",
                "name": "salaryInfo",
                "value": "={{ $json.salaryInfo }}",
                "type": "array"
              },
              {
                "id": "87782311-7ad5-4821-aea4-7d293c6b4f59",
                "name": "posterFullName",
                "value": "={{ $json.posterFullName }}",
                "type": "string"
              },
              {
                "id": "160cbda5-0d12-4d1a-a654-13a3e1ad720f",
                "name": "posterProfileUrl",
                "value": "={{ $json.posterProfileUrl }}",
                "type": "string"
              },
              {
                "id": "1e0e0a25-7bb2-443e-be17-220d44d95d92",
                "name": "sector",
                "value": "={{ $json.sector }}",
                "type": "string"
              },
              {
                "id": "d7ecf8bd-46b7-414c-8862-41811f709f0a",
                "name": "workMode",
                "value": "={{ $json.workMode }}",
                "type": "string"
              },
              {
                "id": "a43ad1be-2936-4dd3-ba10-fd613008347d",
                "name": "employmentType",
                "value": "={{ $json.employmentType }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          736,
          1328
        ],
        "id": "e6ec1f92-af6d-47cb-afac-9e8fce4b8ecd",
        "name": "Standardize output (**adjust fields**)"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "workflow_health",
            "mode": "list",
            "cachedResultName": "workflow_health"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "running",
              "workflow_tag": "startupjobscz"
            },
            "matchingColumns": [
              "workflow_tag"
            ],
            "schema": [
              {
                "id": "workflow_tag",
                "displayName": "workflow_tag",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "last_success_at",
                "displayName": "last_success_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1712,
          912
        ],
        "id": "c3d3b9ab-6e83-4de4-ae9c-b8924c399327",
        "name": "update running status",
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "workflow_health",
            "mode": "list",
            "cachedResultName": "workflow_health"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "completed",
              "last_success_at": "={{ $now.toISO() }}",
              "workflow_tag": "startupjobscz"
            },
            "matchingColumns": [
              "workflow_tag"
            ],
            "schema": [
              {
                "id": "workflow_tag",
                "displayName": "workflow_tag",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "last_success_at",
                "displayName": "last_success_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          736,
          1136
        ],
        "id": "eaf9f7c1-9c6e-4902-a0b2-6ec56103befc",
        "name": "update success status",
        "credentials": {
          "postgres": {
            "id": "wub5gbhgKNBgMsXa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NBCVFrfmAz4h6S1a",
            "mode": "list",
            "cachedResultUrl": "/workflow/NBCVFrfmAz4h6S1a",
            "cachedResultName": "03_dedupe_upsert"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1136,
          1328
        ],
        "id": "b30756e1-f525-4347-96a0-67b3310a2e24",
        "name": "Call '03_dedupe_upsert'"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1888,
          1088
        ],
        "id": "ffd38130-bb54-40ee-b75e-3c3173401979",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter positive and negative",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML parser job indicators": {
        "main": [
          [
            {
              "node": "Merge data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML parser job description": {
        "main": [
          [
            {
              "node": "Merge data",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Check for dupes": {
        "main": [
          [
            {
              "node": "Keep non-dupes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter positive and negative": {
        "main": [
          [
            {
              "node": "Check for dupes",
              "type": "main",
              "index": 0
            },
            {
              "node": "Keep non-dupes",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Fetch startupjobs.cz XML": {
        "main": [
          [
            {
              "node": "XML to JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML to JSON": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Keep non-dupes": {
        "main": [
          [
            {
              "node": "Jina fetch job text",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch raw job html",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch raw job html": {
        "main": [
          [
            {
              "node": "HTML parser job description",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTML parser job indicators",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTML parser sidebar indicators",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Jina fetch job text": {
        "main": [
          []
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "update success status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Standardize output (**adjust fields**)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "add source": {
        "main": [
          [
            {
              "node": "Call '03_dedupe_upsert'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML parser sidebar indicators": {
        "main": [
          [
            {
              "node": "Merge data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "update running status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge data": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Standardize output (**adjust fields**)": {
        "main": [
          [
            {
              "node": "add source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "update running status": {
        "main": [
          [
            {
              "node": "Fetch startupjobs.cz XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '03_dedupe_upsert'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "update running status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "d d",
    "name": "Version 242c4dfa",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-03-06T08:15:29.125Z",
      "createdAt": "2026-03-06T08:15:29.125Z",
      "id": "HuLsG0yIk4pVyhRG",
      "name": "startupjobscz"
    },
    {
      "updatedAt": "2026-02-25T07:33:28.018Z",
      "createdAt": "2026-02-25T07:33:28.018Z",
      "id": "IqRTP9BqhN0ja5Ww",
      "name": "prod"
    },
    {
      "updatedAt": "2026-03-06T13:15:28.248Z",
      "createdAt": "2026-01-22T12:40:37.040Z",
      "id": "mcS1gLAfDII7yoGe",
      "name": "scrape"
    }
  ]
}